﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="Qg2KmcOvb1IrFiVgNYiHL1SdZV6JtwgcfKQlIFGGx6o" />
    <title>SOURCEMYTRIP</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    @*<link href="http://www.zapbooking.com/css_new/font-awesome.min.css" rel="stylesheet" type="text/css" />*@
    <link href="http://www.zapbooking.com/css_new/header.css" rel="stylesheet" type="text/css" />
    <link href="http://www.zapbooking.com/css_new/search.css" rel="stylesheet" />
    @*<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type="text/css" />*@
    <link href="http://www.zapbooking.com/css_new/main-page.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>*@
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="Js/jquery.simplemodal.js" type="text/javascript"></script>
    <script src="Js/basic.js" type="text/javascript"></script>
    <script src="http://www.zapbooking.com/Js/searchEngin.js" type="text/javascript">
    </script>
    @*<script src="~/js_new/hotel-page.js"></script>*@
    <link href="Css/basic.css" rel="stylesheet">
    <script src="http://www.zapbooking.com/Hotel/js/validation.js" type="text/javascript"></script>
    <script src="http://www.zapbooking.com/Js/Hvalidation.js" type="text/javascript">
    </script>


    <script language="javascript" type="text/javascript">
        function gotoReasult(fname) {
            debugger;

            if (Validate_Me("HDestTo", "txt_ChekinDate", "txt_ChekOut")) {
                TransValue();
                var valCntryCode = document.getElementById('hdnCntryCode').value;
                var valCityCode = document.getElementById('hdnCityCode').value;
                var valCityName = document.getElementById('hdnCityName').value;
                var valCntryName = document.getElementById('hdnCntryName').value;
                var valroomVcount = document.getElementById('hdnroomVcount').value;
                var valCurrency = document.getElementById('hdnCurr').value;

                var url = 'http://zapbooking.com/Hotel/Search.aspx?valCntryCode=' + valCntryCode + '&valCityCode=' + valCityCode + '&valCityName=' + valCityName + '&valCntryName=' + valCntryName + '&valroomVcount=' + valroomVcount + '&currency=' + valCurrency + '';
                document.getElementById(fname).action = url;//  "Search.aspx";
                document.getElementById(fname).method = "post";
                document.getElementById(fname).submit();
            }
            else {
                showdivs('hotel');
            }


        }



//      function openFlightCity(ctrlId) {
//          window.open("Aspx/Flight_City_List.aspx?CtrlID=" + ctrlId, 'flight_city', 'dependent=yes,location=no,titlebar=no,status=no,height=150px, width=400px,scrollbars=no, toolbar=no, top=300px, left=300px');
//      }
//      function openHotelCity(ctrlId) {
//          window.open("getCityList.aspx?CtrlID=" + ctrlId, 'flight_city', 'dependent=yes,location=no,titlebar=no,status=no,height=150px, width=400px,scrollbars=no, toolbar=no, top=300px, left=300px');
//      }
    </script>

    <script type="text/javascript">
        $("#child1").change(function () {
            $(this).find("option:selected").each(function () {
                if ($(this).attr("value") == "1") {
                    $(".1age").show();
                    $(".2age").hide();
                }
                else if ($(this).attr("value") == "2") {
                    $(".2age").show();
                    $(".1age").show();
                }
                else {
                    $(".chld-age").hide();
                }
            });
        }).change();


        $("#child2").change(function () {
            $(this).find("option:selected").each(function () {
                if ($(this).attr("value") == "1") {
                    $(".3age").show();
                    $(".4age").hide();
                }
                else if ($(this).attr("value") == "2") {
                    $(".4age").show();
                    $(".3age").show();
                }
                else {
                    $(".chld2-age").hide();
                }
            });
        }).change();


        $("#child3").change(function () {
            $(this).find("option:selected").each(function () {
                if ($(this).attr("value") == "1") {
                    $(".5age").show();
                    $(".6age").hide();
                }
                else if ($(this).attr("value") == "2") {
                    $(".6age").show();
                    $(".5age").show();
                }
                else {
                    $(".chld3-age").hide();
                }
            });
        }).change();



        $("#child4").change(function () {
            $(this).find("option:selected").each(function () {
                if ($(this).attr("value") == "1") {
                    $(".7age").show();
                    $(".8age").hide();
                }
                else if ($(this).attr("value") == "2") {
                    $(".8age").show();
                    $(".7age").show();
                }
                else {
                    $(".chld4-age").hide();
                }
            });
        }).change();


        $(".rom1edt").click(function () {
            $("#rom1-detl").show();
            $("#rom2-detl").hide();
            $("#rom3-detl").hide();
            $("#rom4-detl").hide();

        });

        $(".rom2clos").click(function () {
            $("#rom1-detl").hide();
        });


        $(".rom1edt2").click(function () {

            $("#rom1-detl").hide();
            $("#rom2-detl").show();
            $("#rom3-detl").hide();
            $("#rom4-detl").hide();
        });

        $(".rom1clos2").click(function () {
            $("#rom2-detl").hide();
            document.getElementById("roomsNo").innerHTML = 1;
        });


        $(".rom1edt3").click(function () {

            $("#rom1-detl").hide();
            $("#rom2-detl").hide();
            $("#rom3-detl").show();
            $("#rom4-detl").hide();
        });

        $(".rom1clos3").click(function () {
            $("#rom3-detl").hide();
            document.getElementById("roomsNo").innerHTML = 2;
        });



        $(".rom1edt4").click(function () {

            $("#rom1-detl").hide();
            $("#rom2-detl").hide();
            $("#rom3-detl").hide();
            $("#rom4-detl").show();
        });

        $(".rom1clos4").click(function () {
            $("#rom4-detl").hide();
            document.getElementById("roomsNo").innerHTML = 3;
        });


        $("#addMoreroom").click(function () {
            var curRoom = $("#hdnroomVcount").val();
            if (curRoom == 1) {
                $('#roomDiv-2').fadeIn(1000);
                $("#hdnroomVcount").val(2);
                $("#roomsNo").val(2);
                document.getElementById("roomsNo").innerHTML = 2;
            }

            if (curRoom == 2) {
                $('#roomDiv-3').fadeIn(1000);
                $("#hdnroomVcount").val(3);
                document.getElementById("roomsNo").innerHTML = 3;
            }

            if (curRoom == 3) {
                $('#roomDiv-4').fadeIn(1000);
                $("#hdnroomVcount").val(4);
                document.getElementById("roomsNo").innerHTML = 4;
            }
        });

        $(".edt-rom").click(function () {
            var remRoom = $("#hdnroomVcount").val();
            $('#roomDiv-' + remRoom).fadeOut(1000);
            $("#hdnroomVcount").val(remRoom - 1);

        });

        $("#totl-guest").click(function () {
            $("#parentroom").slideToggle();
        });

        $("#trav-done").click(function () {
            var curRoom = $("#hdnroomVcount").val();
            document.getElementById("roomsNo").innerHTML = curRoom;
            $("#parentroom").slideUp();

        });


    </script>


    <script type="text/javascript">
        function show() {
            document.getElementById('show').style.display = "block";
        }
    </script>
    <script>
        $(document).ready(function () {

            $(".popupClose").click(function () {
                $(".fixMasterForm").slideUp();
                $("#userSignup").slideUp();
                $("#userLogin").slideUp();
                $("#userForget").slideUp();
            });
            $("#bs-example-modal-sm").click(function () {
                $(".fixMasterForm").fadeIn();
                $("#userLogin").fadeIn(0);
            });
            $("#bs-example-modal-sm1").click(function () {
                $(".fixMasterForm").fadeIn();
                $("#userSignup").fadeIn(0);
            });
            $("#register_form").click(function () {
                $("#userSignup").fadeIn();
                $("#userLogin").slideUp();
                $("#userForget").slideUp();
            });
            $("#login_form").click(function () {
                $("#userSignup").slideUp();
                $("#userLogin").fadeIn();
                $("#userForget").slideUp();
            });
            $("#forget_form").click(function () {
                $("#userSignup").slideUp();
                $("#userLogin").fadeIn();
                $("#userForget").slideUp();
            });
            $("#ForgetPassword").click(function () {
                $("#userSignup").slideUp();
                $("#userLogin").slideUp();
                $("#userForget").fadeIn();
            });
        });
    </script>
    <style type="text/css">
        #txt_ChekOut {
        }

        #drpExtraBed1 {
            width: 42px;
        }

        #drpExtraBed2 {
            width: 42px;
        }

        .text10 {
            font-size: 12px;
        }

        .ui-widget-header, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-hover, .ui-widget-content .ui-state-hover {
            background: #4caf50;
        }

        .ui-datepicker {
            border: 2px solid #4caf50;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
            font-weight: bold;
            color: #ffffff;
            background: #4caf50;
        }

        .rom-detl-sel-bx select {
            width: 100%;
            font-size: 12px;
            padding: 2px 8px;
            margin-top: 6px;
            border: 1px solid #333;
            height: 36px;
        }
    </style>
    <script type="text/javascript">
    //     $(document).ready(function () {

    //         $("#HDestTo").autocomplete("../HotelDomestic.ashx?Type=Domestic",
    //  {
    //      delay: 5,
    //      minChars: 3,
    //      matchSubset: 1,
    //      matchContains: 1,
    //      cacheLength: 10,
    //      selectFirst: true,
    //      autoFill: false
    //  }
    //        );

    //     }
    //);

    </script>
    <script type="text/javascript">
        function SetCuur(curr) {
            debugger;
            document.getElementById('hdnCurr').value = curr;
        }

    </script>
    <script type="text/javascript">

        $(function () {
            debugger;
            var dates = $("#txt_ChekinDate, #txt_ChekOut").datepicker({
                minDate: -0,
                showOn: "both",
                //buttonImage: "../../B2B_images/calander.jpg",
                buttonText: ' ',
                constrainInput: false,

                buttonImageOnly: true,
                //                              showButtonPanel: false;
                numberOfMonths: 2,
                dateFormat: 'dd MM yy',
                beforeShow: function (input, inst) {
                    if (this.id == "txt_ChekinDate") {
                        maxDate: "+10m +1w"
                    }
                },
                onSelect: function (selectedDate) {

                    var option = this.id == "txt_ChekinDate" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);

                    if (this.id == "txt_ChekinDate") {
                        var dateMax = $('#txt_ChekinDate').datepicker("getDate");
                        var rMax = new Date(dateMax.getFullYear(), dateMax.getMonth(), dateMax.getDate() + 3);
                        $('#txt_ChekOut').val($.datepicker.formatDate('dd MM yy', new Date(rMax)));

                        calculate();

                    }
                    else {

                        var dateMax = $('#txt_ChekinDate').datepicker("getDate");
                        if (dateMax == null) {
                            var dateMin = $('#txt_ChekOut').datepicker("getDate");
                            var rMin = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() - 1);
                            $('#txt_ChekinDate').val($.datepicker.formatDate('dd MM yy', new Date(rMin)));

                        }
                        calculate();
                    }



                }
            });
        });

        function calculate() {
            debugger;
            var d1 = $('#txt_ChekinDate').datepicker("getDate");
            var d2 = $('#txt_ChekOut').datepicker("getDate");

            var diff = 1;
            if (d1 && d2) {
                var timeDiff = Math.abs(d2.getTime() - d1.getTime());
                diff = Math.ceil(timeDiff / (1000 * 3600 * 24));

            }
            $('#cboNight').val(diff);

        }

    </script>
    <script type="text/javascript">
        function AddDate() {
            debugger;
            date = new Date();
            var day = date.getDate();
            var month_name = new Array(12);
            month_name[0] = "January"
            month_name[1] = "February"
            month_name[2] = "March"
            month_name[3] = "April"
            month_name[4] = "May"
            month_name[5] = "June"
            month_name[6] = "July"
            month_name[7] = "August"
            month_name[8] = "September"
            month_name[9] = "October"
            month_name[10] = "November"
            month_name[11] = "December"

            Date.prototype.addDays = function (days) {
                var dat = new Date(this.valueOf());
                dat.setDate(dat.getDate() + days);
                return dat;
            }

            var date2 = new Date();
            var dat = new Date();

            date2 = dat.addDays(3);




            var day1 = date2.getDate();
            var month1 = month_name[date2.getMonth()];
            var year1 = date2.getFullYear();
            var month = month_name[date.getMonth()];
            var year = date.getFullYear();
            if (document.getElementById('txt_ChekinDate').value == '' && document.getElementById('txt_ChekOut').value == '') {
                document.getElementById('txt_ChekinDate').value = day + ' ' + month + ' ' + year;
                document.getElementById('txt_ChekOut').value = day1 + ' ' + month1 + ' ' + year1;
            }
        }
    </script>




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/core-js/client/shim.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>

    <script src="~/js/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>

<body>
    <!--pre loader-->
    <!-- <div id="page-preloader"><span class="spinner"></span></div>-->

    <div class="wrapper-bx">
        <input type="hidden" id="hdnCurr" value="INR" />

        <div class="fixMasterForm">

            <!-- Username & Password Login form -->
            <div id="userLogin" class="user_login" style="display:none;">
                <div class="col-md-12">
                    <span class="popupClose"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <div class="col-md-12 text-center">
                        <h3>Login</h3>
                    </div>
                    <label>Email / Username</label>
                    <input type="text" runat="server" class="controlDream" id="txtEmail" />
                    <label>Password</label>
                    <input type="password" runat="server" class="controlDream" id="txtpassword" />
                    <label id="lblLoginError" style="color:Red"></label>
                    <img src="" style="float: left; margin-left: 15px; display: none"
                         id="imgUserLogin" />

                    <div class="checkbox">
                        <input id="remember" type="checkbox" />
                        <label for="remember">Remember me</label>
                    </div>
                    <div class="forgeeeet"><a href="#" id="ForgetPassword" onclick="forgot_password_onclick();">Forgot password?</a></div>
                    <div class="action_btns">
                        <div class="one_half">
                            <a href="#" class="" onclick="login_onclick();">Login</a>


                        </div>



                    </div>

                    <div class="facebookBtn"><a href="#">Login with Facebook</a></div>
                    <div class="googleBtn"><a href="">Login with Google+</a></div>
                    <div class="otherBtn">
                        create an account <a href="#" id="register_form" onclick="register_form_onclick();" class="">Sign up</a>

                    </div>
                </div>
            </div>
            <!-- Register Form -->
            <div id="userSignup" class="user_register" style="display:none;">
                <div class="col-md-12">
                    <span class="popupClose"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <div class="col-md-12 text-center">
                        <h3>Sign up</h3>
                    </div>
                    <label>Name</label>
                    <input type="text" class="controlDream" runat="server" id="txtname" />

                    <label>Email Address</label>
                    <input type="text" class="controlDream" runat="server" id="txtemailAdd" />

                    <label>Password</label>
                    <input type="password" class="controlDream" runat="server" id="txtpwd" />

                    <label>Re-Type Password</label>
                    <input type="password" class="controlDream" runat="server" id="txtRetypePwd" />

                    <label>MobileNo.</label>
                    <input type="text" class="controlDream" runat="server" id="txtMobileNo" onkeypress="return keyRestrict(event,'0123456789+- ');" />
                    <label id="lblRegisterError" style="color:Red"></label>
                    <img src="" style="float: left; margin-left: 15px; display: none"
                         id="imgUserRegister" />

                    <div class="checkbox">
                        <input id="send_updates" type="checkbox" style="left:37px" />
                        <label for="send_updates"> I agree to the T & C </label>
                    </div>

                    <div class="action_btns">
                        <div class="one_half"><a href="#" onclick="UserRegistration_onclick();" class="">Register</a></div>
                        <div class="otherBtn">Have already an account? <a href="#" id="login_form" onclick=" back_btn_onclick();" class="">Login</a></div>
                    </div>
                </div>
            </div>

            <!--Forgot Pwd-->
            <div id="userForget" class="forgot_password" style="display:none;">
                <div class="col-md-12 text-center">
                    <span class="popupClose"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <div class="col-md-12 text-center">
                        <h3>Password Recovery</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <label style="color: #666">Email Address</label>
                    <input type="text" class="controlDream" runat="server" id="txtforgotemail" />

                    <label id="lblForgetPassError" style="color:Red"></label>
                    <img src="" style="float: left; margin-left: 15px; display: none"
                         id="imgForgetPassword" />

                    <br />
                    <div class="action_btns">

                        <div class="one_half"><a href="#" onclick="ForgetPassword_onclick();">Submit</a></div>
                        <div class="one_half_back">
                            <a href="#" id="forget_form" onclick="back_btn_onclick();"><i class="fa fa-angle-double-left"></i> Back</a>
                        </div>
                        &nbsp;


                    </div>
                </div>
            </div>
        </div><!--/.fixMasterForm-->
        <!--header-->
        <header>
            <div class="top_bar" style="background-color: #0075bf;">
                <div class="container-bx">

                    <div class="logo-head">
                        <a href="@Url.Action("_HotelSearch", "Shared")"><img src="~/Images_new/TMC-ForWeb.png" /></a>
                    </div>



                    <div class="topRight">
                        <ul>

                            <li id="sample" class="dropdown">
                                <a href="#"><span>Currency <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li onclick="SetCuur('INR');"><a href="#">INR <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                                    <li onclick="SetCuur('USD');"><a href="#">USD <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                                    <li onclick="SetCuur('GBP');"><a href="#">GBP <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                                    <li onclick="SetCuur('EUR');"><a href="#">EUR <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                                </ul>
                            </li>



                            <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                               <ul class="dropdown-menu">
                                  <li><a href="#">Arabic</a></li>
                                  <li><a href="#">Chinise</a></li>
                                  <li><a href="#">French</a></li>
                                  <li><a href="#">Hindi</a></li>

                               </ul>
                            </li>-->
                            <li><div id="google_translate_element"></div></li>
                            <li class="signBtn">
                                <a href="#" class="" data-toggle="modal" id="bs-example-modal-sm">Sign in <i class="fa fa-sign-in" aria-hidden="true"></i></a>

                            </li>
                            <li class="signBtn">
                                <a href="#" data-toggle="modal" id="bs-example-modal-sm1">Register Now <i class="fa fa-user-plus" aria-hidden="true"></i></a>

                            </li>
                        </ul>
                    </div>

                </div>

            </div>


            <div class="main_header">
                <div class="container-bx">


                    <div class="nav">
                        <ul>
                            <li><a href="http://zapbooking.com/Hotel/dashboard.htm"> <i class="fa fa-home"> </i><span>Home</span></a></li>
                            <li class=""><a href="../Hotel/Home.htm"><i class="fa fa-hotel"></i><span>Hotel</span></a></li>
                            <li><a href="@Url.Action("Holidays","Package")"><i class="fa fa-glass"></i><span>Holiday</span></a></li>
                            <li><a href="../Transfer/transfer-search.htm"><i class="fa fa-car"></i><span>Transfer</span></a></li>
                            <li><a href="../package/sightseeing-search.htm"><i class="fa fa-binoculars"></i><span>Sightseeing</span></a></li>
                        </ul>

                    </div>

                    <i class="fa fa-bars mob-menu"></i>
                    <i class="mob-menu-close fa fa-close"></i>
                </div>
            </div>
        </header>
        <div class="container-fluid">

            @*@RenderBody()*@


        </div>
        <my-app>Loading...</my-app>
    </div>
    @*@RenderBody()*@


    <footer style="background-color:#275d71;">



        <div class="container-bx">
            <ul class="list-footer">
                <li>
                    <a href="about.htm">About US </a>
                </li>
                <li>
                    <a href="contact-us.htm">Contact us</a>
                </li>
                <li>
                    <a href="#">Faq</a>
                </li>
                <li>
                    <a href="#">Terms and condition</a>
                </li>

                <li>
                    <a href="http://agent.zapbooking.com/admin/login.aspx">Staff Login</a>
                </li>

                <li>
                    <a href="#">Careers</a>
                </li>

                <li>
                    <a href="http://agent.zapbooking.com">Agent Login</a>
                </li>

                <li>
                    <a href="#">Privacy</a>
                </li>



            </ul>



            <div class="newsletter">
                <div class="foor-hed"><h4>Be the first one to get update on Latest Deals !</h4></div>

                <input type="text" class="news-inp" placeholder="Enter your email address" />
                <input type="submit" class="news-subm" style="background-color:#0075bf;">
                <div class="clearfix"></div>
                <br />
                <div class="top_contact"><i class="fa fa-phone" aria-hidden="true" style="background-color:#0075bf;"></i> : +91-11-47262626</div>
            </div>


            <div class="top_social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>


        </div><!-- /.container-bx -->
        <div class="clearfix"></div>
        <div class="container-fluid footerLink">
            <div class="container">
                <div class="col-md-2 col-sm-4">
                    <h4>Top countries</h4>
                    <ul class="xslgray">
                        <li><a href="/country/australia.html" title="Australia hotels">Australia hotels</a></li>
                        <li><a href="/country/cambodia.html" title="Cambodia hotels">Cambodia hotels</a></li>
                        <li><a href="/country/china.html" title="China hotels">China hotels</a></li>
                        <li><a href="/country/india.html" title="India hotels">India hotels</a></li>
                        <li><a href="/country/indonesia.html" title="Indonesia hotels">Indonesia hotels</a></li>
                        <li><a href="/country/japan.html" title="Japan hotels">Japan hotels</a></li>
                        <li><a href="/country/laos.html" title="Laos hotels">Laos hotels</a></li>
                        <li><a href="/country/malaysia.html" title="Malaysia hotels">Malaysia hotels</a></li>
                        <li><a href="/country/myanmar.html" title="Myanmar hotels">Myanmar hotels</a></li>
                        <li><a href="/country/nepal.html" title="Nepal hotels">Nepal hotels</a></li>
                        <li><a href="/country/new-zealand.html" title="New Zealand hotels">New Zealand hotels</a></li>
                        <li><a href="/country/philippines.html" title="Philippines hotels">Philippines hotels</a></li>
                        <li><a href="/country/singapore.html" title="Singapore hotels">Singapore hotels</a></li>
                        <li><a href="/country/south-korea.html" title="South Korea hotels">South Korea hotels</a></li>
                        <li><a href="/country/sri-lanka.html" title="Sri Lanka hotels">Sri Lanka hotels</a></li>
                        <li><a href="/country/taiwan.html" title="Taiwan hotels">Taiwan hotels</a></li>
                        <li><a href="/country/thailand.html" title="Thailand hotels">Thailand hotels</a></li>
                        <li><a href="/country/vietnam.html" title="Vietnam hotels">Vietnam hotels</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <ul class="xslgray tex_left">
                        <li><a href="/country/austria.html" title="Austria hotels">Austria hotels</a></li>
                        <li><a href="/country/czech-republic.html" title="Czech Republic hotels">Czech Republic hotels</a></li>
                        <li><a href="/country/denmark.html" title="Denmark hotels">Denmark hotels</a></li>
                        <li><a href="/country/finland.html" title="Finland hotels">Finland hotels</a></li>
                        <li><a href="/country/france.html" title="France hotels">France hotels</a></li>
                        <li><a href="/country/germany.html" title="Germany hotels">Germany hotels</a></li>
                        <li><a href="/country/greece.html" title="Greece hotels">Greece hotels</a></li>
                        <li><a href="/country/hungary.html" title="Hungary hotels">Hungary hotels</a></li>
                        <li><a href="/country/ireland.html" title="Ireland hotels">Ireland hotels</a></li>
                        <li><a href="/country/italy.html" title="Italy hotels">Italy hotels</a></li>
                        <li><a href="/country/netherlands.html" title="Netherlands hotels">Netherlands hotels</a></li>
                        <li><a href="/country/russia.html" title="Russia hotels">Russia hotels</a></li>
                        <li><a href="/country/spain.html" title="Spain hotels">Spain hotels</a></li>
                        <li><a href="/country/sweden.html" title="Sweden hotels">Sweden hotels</a></li>
                        <li><a href="/country/switzerland.html" title="Switzerland hotels">Switzerland hotels</a></li>
                        <li><a href="/country/united-kingdom.html" title="United Kingdom hotels">United Kingdom hotels</a></li>
                        <li><a href="/country/argentina.html" title="Argentina hotels">Argentina hotels</a></li>
                        <li><a href="/country/brazil.html" title="Brazil hotels">Brazil hotels</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <ul class="xslgray tex_left">
                        <li><a href="/country/canada.html" title="Canada hotels">Canada hotels</a></li>
                        <li><a href="/country/mexico.html" title="Mexico hotels">Mexico hotels</a></li>
                        <li><a href="/country/united-states.html" title="United States hotels">United States hotels</a></li>
                        <li><a href="/country/venezuela.html" title="Venezuela hotels">Venezuela hotels</a></li>
                        <li><a href="/country/bahrain.html" title="Bahrain hotels">Bahrain hotels</a></li>
                        <li><a href="/country/israel.html" title="Israel hotels">Israel hotels</a></li>
                        <li><a href="/country/united-arab-emirates.html" title="United Arab Emirates hotels">United Arab Emirates hotels</a></li>
                        <li><a href="/country/egypt.html" title="Egypt hotels">Egypt hotels</a></li>
                        <li><a href="/country/morocco.html" title="Morocco hotels">Morocco hotels</a></li>
                        <li><a href="/country/south-africa.html" title="South Africa hotels">South Africa hotels</a></li>
                    </ul>
                </div>
                <div class="clear768"></div>
                <div class="col-md-2 col-sm-4">
                    <h4>Top cities</h4>
                    <ul class="xslgray tex_left">
                        <li><a href="/city/bangkok-th.html" title="Bangkok hotels">Bangkok hotels</a></li>
                        <li><a href="/city/chiang-mai-th.html" title="Chiang Mai hotels">Chiang Mai hotels</a></li>
                        <li><a href="/city/phuket-th.html" title="Phuket hotels">Phuket hotels</a></li>
                        <li><a href="/city/tokyo-jp.html" title="Tokyo hotels">Tokyo hotels</a></li>
                        <li><a href="/city/bandung-id.html" title="Bandung hotels">Bandung hotels</a></li>
                        <li><a href="/city/hong-kong-hk.html" title="Hong Kong hotels">Hong Kong hotels</a></li>
                        <li><a href="/city/pattaya-th.html" title="Pattaya hotels">Pattaya hotels</a></li>
                        <li><a href="/city/ho-chi-minh-city-vn.html" title="Ho Chi Minh City hotels">Ho Chi Minh City hotels</a></li>
                        <li><a href="/city/london-gb.html" title="London hotels">London hotels</a></li>
                        <li><a href="/city/taipei-tw.html" title="Taipei hotels">Taipei hotels</a></li>
                        <li><a href="/city/amsterdam-nl.html" title="Amsterdam hotels">Amsterdam hotels</a></li>
                        <li><a href="/city/seoul-kr.html" title="Seoul hotels">Seoul hotels</a></li>
                        <li><a href="/city/jakarta-id.html" title="Jakarta hotels">Jakarta hotels</a></li>
                        <li><a href="/city/sydney-au.html" title="Sydney hotels">Sydney hotels</a></li>
                        <li><a href="/city/osaka-jp.html" title="Osaka hotels">Osaka hotels</a></li>
                        <li><a href="/city/penang-my.html" title="Penang hotels">Penang hotels</a></li>
                        <li><a href="/city/malacca-melaka-my.html" title="Malacca hotels">Malacca hotels</a></li>
                        <li><a href="/city/johor-bahru-my.html" title="Johor Bahru hotels">Johor Bahru hotels</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <ul class="xslgray tex_left">
                        <li><a href="/city/shanghai-cn.html" title="Shanghai hotels">Shanghai hotels</a></li>
                        <li><a href="/city/macau-mo.html" title="Macau hotels">Macau hotels</a></li>
                        <li><a href="/city/miami-beach-fl-us.html" title="Miami (FL) hotels">Miami (FL) hotels</a></li>
                        <li><a href="/city/hua-hin-cha-am-th.html" title="Hua Hin hotels">Hua Hin hotels</a></li>
                        <li><a href="/city/cebu-ph.html" title="Cebu hotels">Cebu hotels</a></li>
                        <li><a href="/city/dubai-ae.html" title="Dubai hotels">Dubai hotels</a></li>
                        <li><a href="/city/kyoto-jp.html" title="Kyoto hotels">Kyoto hotels</a></li>
                        <li><a href="/city/rome-it.html" title="Rome hotels">Rome hotels</a></li>
                        <li><a href="/city/frankfurt-am-main-de.html" title="Frankfurt hotels">Frankfurt hotels</a></li>
                        <li><a href="/city/munich-de.html" title="Munich hotels">Munich hotels</a></li>
                        <li><a href="/city/milan-it.html" title="Milan hotels">Milan hotels</a></li>
                        <li><a href="/city/singapore-sg.html" title="Singapore hotels">Singapore hotels</a></li>
                        <li><a href="/city/krabi-th.html" title="Krabi hotels">Krabi hotels</a></li>
                        <li><a href="/city/kuala-lumpur-my.html" title="Kuala Lumpur hotels">Kuala Lumpur hotels</a></li>
                        <li><a href="/city/bali-id.html" title="Bali hotels">Bali hotels</a></li>
                        <li><a href="/city/manila-ph.html" title="Manila hotels">Manila hotels</a></li>
                        <li><a href="/city/paris-fr.html" title="Paris hotels">Paris hotels</a></li>
                        <li><a href="/city/barcelona-es.html" title="Barcelona hotels">Barcelona hotels</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <ul class="xslgray tex_left">
                        <li><a href="/city/madrid-es.html" title="Madrid hotels">Madrid hotels</a></li>
                        <li><a href="/city/istanbul-tr.html" title="Istanbul hotels">Istanbul hotels</a></li>
                        <li><a href="/city/berlin-de.html" title="Berlin hotels">Berlin hotels</a></li>
                        <li><a href="/city/prague-cz.html" title="Prague hotels">Prague hotels</a></li>
                        <li><a href="/city/budapest-hu.html" title="Budapest hotels">Budapest hotels</a></li>
                        <li><a href="/city/manchester-gb.html" title="Manchester hotels">Manchester hotels</a></li>
                        <li><a href="/city/venice-it.html" title="Venice hotels">Venice hotels</a></li>
                        <li><a href="/city/edinburgh-gb.html" title="Edinburgh hotels">Edinburgh hotels</a></li>
                        <li><a href="/city/brussels-be.html" title="Brussels hotels">Brussels hotels</a></li>
                        <li><a href="/city/dublin-ie.html" title="Dublin hotels">Dublin hotels</a></li>
                        <li><a href="/city/las-vegas-nv-us.html" title="Las Vegas (NV) hotels">Las Vegas (NV) hotels</a></li>
                        <li><a href="/city/new-york-ny-us.html" title="New York (NY) hotels">New York (NY) hotels</a></li>
                        <li><a href="/city/chicago-il-us.html" title="Chicago (IL) hotels">Chicago (IL) hotels</a></li>
                        <li><a href="/city/los-angeles-ca-us.html" title="Los Angeles (CA) hotels">Los Angeles (CA) hotels</a></li>
                        <li><a href="/city/san-francisco-ca-us.html" title="San Francisco (CA) hotels">San Francisco (CA) hotels</a></li>
                        <li><a href="/city/hawaii-oahu-hi-us.html" title="Hawaii – Oahu (HI) hotels">Hawaii – Oahu (HI) hotels</a></li>
                        <li><a href="/city/orlando-fl-us.html" title="Orlando (FL) hotels">Orlando (FL) hotels</a></li>
                        <li><a href="/city/san-diego-ca-us.html" title="San Diego (CA) hotels">San Diego (CA) hotels</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.footerLink -->
        <div class="clearfix"></div>

        <div class="container">&copy; 2017 SourcemyTrip.com All Rights Reserved </div>

    </footer>

    <script>
        //}
        $(function () {
            $("#txtHotelCheckInDate").datepicker({

                minDate: 0, numberOfMonths: 2,
                dateFormat: 'd M, y',
                onSelect: function (selected) {
                    $("#txtHotelCheckOutDate").datepicker("option", "minDate", selected); //  mindate on the End datepicker cannot be less than start date already selected.
                    var date = $(this).datepicker('getDate');

                    var tempStartDate = new Date(date);
                    var default_end = new Date(tempStartDate.getFullYear(), tempStartDate.getMonth(), tempStartDate.getDate() + 2); //this parses date to overcome new year date weirdness

                    $('#txtHotelCheckOutDate').datepicker('setDate', default_end); // Set as default

                }
            }).datepicker("setDate", "+7");


            $("#txtHotelCheckOutDate").datepicker({
                minDate: 0, numberOfMonths: 2,
                dateFormat: 'd M, y',

                onSelect: function (selected) {
                    //  maxdate on the Start datepicker cannot be more than end date selected.


                }

            }).datepicker("setDate", "+9");

            $('#txtHotelCheckInDate').attr('readonly', 'readonly');
            $('#txtHotelCheckOutDate').attr('readonly', 'readonly');

        });


    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown > a").click(function () {
                $(".dropdown > ul").toggle();
            });

            $(".dropdown > ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown > a span").html(text);
                $(".dropdown > ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown > ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>



</body>

</html>