
a img{
 border:0;
}
div.wrap{
 width:499px;
 margin:0 auto;
 text-align:left;
}
 div#top div#nav{
  float:left;
  clear:both;
  width:501px;
  height:52px;
  margin:22px 0 0;
 }
  div#top div#nav ul{
   float:left;
   width:498px;
   height:52px;
   list-style-type:none;
  }
   div#nav ul li{
    float:left;
    height:52px;
   }
    div#nav ul li a{
     border:0;
     height:52px;
     display:block;
     line-height:52px;
     text-indent:-9999px;
	 color:#fff !important;
	 text-decoration:none;
    }
 
div#header{
 margin:-1px 0 0;
 clear:both;
}
div#video-header{
 height:270px;
 margin:-1px 0 0;
}
 div#header div.wrap{
  height:143px;
  background:url(../images/header-bg.png) 50% 0 no-repeat;
 }
 div#header div#slide-holder{
  width:499px;
  height:276px;
  position:absolute;
 }
  div#header div#slide-holder div#slide-runner{
   width:499px;
   height:276px;
   overflow:hidden;
   position:absolute;
  }
  div#header div#slide-holder img{
   margin:0;
   display:none;
   position:absolute;
  }
  div#header div#slide-holder div#slide-controls{
   left:0;
   bottom:35px;
   height:46px;
   width:498px;
   display:none;
   position:absolute;
   background:url(../images/banners/slide-bg.png) 0 0;
  }
   div#header div#slide-holder div#slide-controls p.text{
    float:left;
    color:#fff;
    display:inline;
    font-size:10px;
    line-height:16px;
    margin:15px 0 0 20px;
    text-transform:uppercase;
   }
 
   div#header div#slide-holder div#slide-controls p#slide-nav{
    float:right;
    height:24px;
    display:inline;
    margin:11px 15px 0 0;
   }
    div#header div#slide-holder div#slide-controls p#slide-nav a{
     float:left;
     width:24px;
     height:24px;
     display:inline;
     font-size:11px;
     margin:0 5px 0 0;
     line-height:24px;
     font-weight:bold;
     text-align:center;
     text-decoration:none;
     background-position:0 0;
     background-repeat:no-repeat;
	 color:#fff;
    }
    div#header div#slide-holder div#slide-controls p#slide-nav a.on{
     background-position:0 -24px;
    }
div#header div#slide-holder div#slide-controls p#slide-nav a{background-image:url(../images/silde-nav.png);}
div#nav ul li a{background:url(images/nav.png) no-repeat;}
h1 {
	font: normal 390%/110% Garamond, Georgia, serif;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.credits {
	font: 130%/110% Garamond, Georgia, serif;
	text-align: center;
	color: #999;
	width: 300px;
	margin: .5em auto 1.5em;
	padding-top: 8px;
	border-top: 1px solid #ededed;
	letter-spacing: 2px;
}
.credits em {
	color: #999;
}
.credits a {
	color: #999;
	text-decoration: none;
	text-transform: uppercase;
}
.credits a:hover {
	text-decoration: underline;
}
#Layer1 {
	position:absolute;
	left:65px;
	top:319px;
	width:636px;
	height:86px;
	z-index:41;
}

