
#container
{
    width: 750px;
    height: 480px;
    margin: 0 auto;
	background:#C9DEF5;
    
   
}
#container .mainframe
{
    width: 500px;
    height: 498px;
    float: right;
}
#container .thumbnails
{
    float: right;
    width: 493px;
    height: 498px;
    background-repeat: no-repeat;
    
    background-position: 9px 20px;
}
.thumbnailimage
{
    float: left;
    padding: 2px;
}
.large_thumb
{
    float: left;
    position: static;
    width: 94px;
    height: 94px;
    padding: 0px 5px 0px 0;
}
img.large_thumb_image
{
    position: static;
    left: 1px;
    top: 1px;
}
.large_thumb_border
{
    width: 94px;
    height: 94px;
    background: url('../../Image/Package/thumb_border.png');
    position: absolute;
}
.large_thumb_shine
{
    width: 94px;
    height: 94px;
    background: url('../../Image/Package/shine.png');
    position: absolute;
    background-position: -100px 0;
    left: 5px;
    top: 4px;
    background-repeat: no-repeat;
}
.thumb_container
{
    width: 94px;
    height: 94px;
  
}
#largephoto
{
    width: 444px;
    height: 370px;
   
    margin-top: 68px;
    margin-left: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#largetrans
{
    width: 444px;
    height: 370px;
    z-index:-1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.large_image
{
    display: none;
}
#containertitle
{
    position: absolute;
    margin-top: 35px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 2px #fff;
}
#largecaption
{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #111;
    position: fixed;
    width: 444px;
    margin-top: 100px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
   
    font-size: 30px;
    font-family: Arial;
    letter-spacing: -1px;
    font-weight: bold;
}
#largecaption .captionContent
{
    padding: 5px;
}
#largecaption .captionShine
{
    background: url('../../Image/Package/bigshine.png');
    position: relative;
    width: 444px;
    height: 100px;
    background-position: -100px 0;
    background-repeat: no-repeat;
}
#loader
{
    width: 100px;
    height: 100px;
    background-image: url('../../Image/Package/loader.gif');
    background-repeat: no-repeat;
    position: absolute;
}
