.listCont li .leftClmn{
	padding:0;
	margin:0;
	width:190px;
}
.listCont li .rytClmn{
	padding:0;
	margin:0;
	width:470px;
}
.listCont li .leftClmn1{
	padding:0;
	margin:0;
	width:160px;
}
.listCont li .rytClmn1{
	padding:0;
	margin:0;
	width:465px;
}
.listCont li h2{
	padding:0;
	margin:0 0 10px 0;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#cd0000;
}
.listCont li h2 a{
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#cd0000;
	text-decoration:underline;
}
.listCont li h2 a:hover{
	text-decoration:none;
}
.listCont li h3{
	padding:0;
	margin:0 0 5px 0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#cd0000;
}
.listCont li h3 a{
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#094158;
	text-decoration:none;
}
.listCont li h3 a:hover{
	color:#cd0000;
	text-decoration:underline;
}
.listCont li a{
	color:#cd0000;
	font-size:11px;
	text-decoration:none;
}
.listCont li a:hover{
	color:#cd0000;
	text-decoration:underline;
}
.imgBorder1{
	background:#ffffff;
	padding:7px;
	border:1px solid #cccccc;
}
.tabout_box3 {
	width:640px;
	margin:0 5px 0 12px;
	clear:both;
	padding:0 0 0 0;
}
.tab_intbox3 {
	background:#fff;
	border:1px solid #d9d9d9;
	width:630px;
	padding:10px 10px 10px 10px;
	clear:both;
	min-height:50px;
	height:auto !important;
	height:50px;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* wrapper starts here */
.wrapper {
	margin:0 auto;
	width:1000px;
}
/* header sarts here */
.header {
	padding:0 0 0px 0;
	margin:0;
	position:relative;
}
.loginCont {
	width:1000px;
	height:90px;
	background:#FFFFFF;
	position:relative;
}
.loginContLeft {
	width:185px;
	height:90px;
	padding-left:5PX;
	position:relative;
}
.loginContRight {
	width:710px;
	height:65px;
	padding-top:5px;
	position:relative;
}

.style{
background-color: #ffffff; 
background-repeat: repeat-x;
 background-attachment: scroll;
  background-position: center bottom
  border:12px solid #cccccc;
   margin: 0;
    
   
    
    
    border:1px solid #d9d9d9;
	width:630px;
	padding:10px 10px 10px 10px;
	clear:both;
	min-height:50px;
	height:auto !important;
	height:50px;
}


.styl{
border: thin solid #3366FF;
 background-color: #ffffff;
}

.stylee{

                                border-style: none none outset none; 
                                border-right-width: medium;
                                 border-bottom-width: medium; 
                                 border-left-width: medium; 
                                border-top-color: #AE2052
