
/* root element for tabs  */
ul.tabsa {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #2363e6;
    height:30px;
}

/* single tab */
ul.tabsa li {
    float:left;
    text-indent:0;
    padding:0;
    height:30px;
    margin-right:2px;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabsa a {
   
     background: -moz-linear-gradient(#85a93f, #85a93f);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #213b9e),color-stop(1, #395adb));
    background: -webkit-linear-gradient(84177, #47639c);    
    background: -o-linear-gradient(84177, #47639c);	
    background: -ms-linear-gradient(84177, #47639c);	
	-moz-border-top-right-radius:10px;
    -moz-border-top-left-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
 
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: auto;
    text-align:center;
    text-decoration:none;
    color:#fff;
    padding-left:25px;
    padding-right:25px;
    
    margin:0px;
    position:relative;
    top:1px;
    left: 0px;
}

ul.tabsa a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabsa a:hover {
    background: -moz-linear-gradient(#85a93f, #898b8f);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #213b9e),color-stop(1, #395adb));
    background: -webkit-linear-gradient(#85a93f, #898b8f);    
    background: -o-linear-gradient(#85a93f, #898b8f);	
    background: -ms-linear-gradient(#85a93f, #898b8f);
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabsa a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background: -moz-linear-gradient(#85a93f, #898b8f);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #898b8f),color-stop(1, #85a93f));
    background: -webkit-linear-gradient(#85a93f, #898b8f);    
    background: -o-linear-gradient(#85a93f, #898b8f);	
    background: -ms-linear-gradient(#85a93f, #898b8f);
    cursor:default !important;
    color:#fff !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabsa a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabsa a.l { background-position: -248px -0px; width:174px; }
ul.tabsa a.l:hover { background-position: -248px -31px; }
ul.tabsa a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabsa a.xl { background-position: 0 -0px; width:248px; }
ul.tabsa a.xl:hover { background-position: 0 -31px; }
ul.tabsa a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
}
