body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-om: 0px;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;}
	
.menu-bg{
	background-image: ; background-color:#fff; background-repeat:repeat;  width:100%; height:76px; text-align:left; 
}
.font12 a{
	font-size:12px; letter-spacing:1px; color:#fff; text-decoration:none; padding-top:30px; border-radius:5px; line-height:45px;
	padding:10px 15px; background:#85a93f; height:40px; text-align:center;
}

.font13{
	font-size:13px; color:#565656; text-decoration:none; font-weight:bold; text-align:right;
}

.font13-bule{
	font-size:13px; color:#85a93f; text-decoration:none; 	font-weight:bold;  text-align:right; line-height:30px;
}
.font-bott{
	font-size:12px; letter-spacing:1px; color:#fff; text-decoration:none; background-color:#898b8f; height:40px; text-align:left;
}
.font13-account{
	font-size:13px; color:#585858; text-decoration:underline; font-weight:bold;  text-align:right; line-height:30px; 
	
	}
	
.border-radius{
	border-radius: 15px; background-color:#FFFFFF; width:300px; height:100px; padding:10px; text-align:left;
}

.bule-border-radius{
	border-radius: 15px; background-color:#042f60; width:0px;  padding:0px; opacity:0.8; text-align:left;
}


.bule-border-radius-text{ color:#FFF; font-size:18px; font-weight:bold; border-bottom:#FFF 1px solid; line-height:40px; padding-left:10px; text-align:left;

}

.bule-border-radius-text12{ color:#FFF; font-size:12px; text-align:left; }


.search-guest{ color:#FFF; font-size:13px; text-decoration:underline; font-weight:bold; text-align:left;}

.font16{
	font-size:16px; color:#565656; text-decoration:none; text-align:left;
}


.text10{ color:#FFF; font-size:10px; text-align:left; }


.text-box{
	border-radius:5px; background-color:#F3F3F3; width:250px; height:15px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid;
text-align:left;}

.text-box-search{
	border-radius:5px; background-color:#fff; height:10px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid; text-align:left;
}

.font12-text{
	font-size:12px; letter-spacing:1px; color:#565656; text-decoration:none; text-align:left;
}

.text-box-search{
	border-radius:5px; background-color:#fff; height:10px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid;
text-align:left;}

.search-droup-down{ 
background-color:#fff;
height:5px; 
padding:2px; 
font-size:12px; 
border-color:#B6B6B6; 
border-style:solid;
text-align:left;
}

.text-box-search-cal{ 
border-top-left-radius:5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 5px;
background-color:#fff;
height:13px; 
padding:5px; 
font-size:12px; 
border:0px; 
border-color:#B6B6B6; 
border-style:solid;
}
.text-box-main-search{ 
border-top-left-radius:5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
background-color:#fff;
height:13px; 
padding:5px; 
font-size:12px; 
border:0px; 
border-color:#B6B6B6; 
border-style:solid;
}


.button {
   border-top: 1px solid #b7cfa6;
   background: #85a93f;
  
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.button:hover {
   border-top-color: #2b5900;
   background: #898b8f;
   color: #ffffff;
   }
.button:active {
   border-top-color: #000000;
   background: #000000;
   }

.hotels {
   border-top: 1px solid #b7cfa6;
   background: #94d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c4c), to(#94d665));
   background: -webkit-linear-gradient(top, #3e9c4c, #94d665);
   background: -moz-linear-gradient(top, #3e9c4c, #94d665);
   background: -ms-linear-gradient(top, #3e9c4c, #94d665);
   background: -o-linear-gradient(top, #3e9c4c, #94d665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.hotels:hover {
   border-top-color: #2b5900;
   background: #2b5900;
   color: #ffffff;
   }
.hotels:active {
   border-top-color: #000000;
   background: #000000;
   }
.green-box{
	border-radius: 5px; background-color:#458b01; padding:15px; font-size:24px; font-weight:bold; color:#FFF; line-height:2px; text-align:left;}

.USD{
	 font-size:16px; font-weight:bold; color:#042f60; line-height:20px; text-align:left;}


.hotel-name{
	 font-size:14px; font-weight:bold; color:#555555; text-align:left;}


.hotel-text{
	 font-size:12px;color:#555555; text-align:justify; text-align:left;}
	 
	 .hotel-text-bold{
	 font-size:12px;color:#555555; font-weight:bold; text-align:right;}

	
.edit-search{
	border-radius: 10px; border:#ddded9 1px solid; background:url(../images/modfi-bg.jpg); background-repeat:repeat-x; height:74px; padding:2px;
}
.edit-search-font-12{
	font-size:11px; color:#333; font-weight:bold; text-decoration:none;  text-align:left;
	
	}
.edit-search-border{
	font-size:11px; color:#333;text-decoration:none; border:1px #d8d8d8 solid; text-align:left; padding:2px;
	
	}
	
.edit-search-text-13{
	font-size:13px; color:#434343;text-decoration:none; text-align:left;	
	}
	
.edit-search-text-13-a{
	font-size:13px; color:#1b5eac;text-decoration:none; font-weight:bold; text-align:left;	
	}
	
.edit-search-text-right-border{
	border-right:#ddded9 1px solid;
	}
	
	.edit-search-hotels {
   border-top: 1px solid #b7cfa6;
   background: #94d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c4c), to(#94d665));
   background: -webkit-linear-gradient(top, #3e9c4c, #94d665);
   background: -moz-linear-gradient(top, #3e9c4c, #94d665);
   background: -ms-linear-gradient(top, #3e9c4c, #94d665);
   background: -o-linear-gradient(top, #3e9c4c, #94d665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.edit-search-hotels:hover {
   border-top-color: #2b5900;
   background: #2b5900;
   color: #ffffff;
   }
.edit-search-hotels:active {
   border-top-color: #000000;
   background: #000000;
   }
	
.edit-search-refine{
	background:url(../images/refine-bg.png); background-repeat:repeat-x; height:34px; padding:2px; font-size:13px; color:#333; text-decoration:none; font-weight:bold; text-align:center; vertical-align:middle; border-bottom: #ddded9 1px solid;
	}

.edit-search-refine-border{
border:#ddded9 1px solid; background:#f9f9f9;}


.reset-all{ border-radius: 5px; border:#d8d8d8 1px solid; font-size:11px; color:#0172bb; font-weight:bold; cursor:pointer;
}

.reset-all-text{ font-size:12px; font-weight:bold; text-decoration:none; color:#333; text-align:left;
}
.reset-all-text-a{ font-size:10px; font-weight:bold; text-decoration:none; color:#0071be; text-align:right;  cursor:pointer;
}
.box-search{ border:#d8d8d8 1px solid; font-size:11px; color:#333; 
}
.select-search{ font-size:11px; color:#333; font-weight:none; text-decoration:none;
}

.Search-hotel-pck{ border-radius: 5px; border:#d8d8d8 1px solid; 
}

.hotel-name{ font-size:15px; color:#0071be; text-decoration:none; font-weight:bold;
}

.Description{ font-size:12px; font-weight:normal; text-decoration:none; color:#333; text-align:justify; line-height:20px;
}

.Description-more{ font-size:12px; font-weight:bold; text-decoration:underline; color:#278c46; line-height:20px; cursor:pointer;
}	
	.rate {
   border-top: 1px solid #b7cfa6;
   background: #94d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c4c), to(#94d665));
   background: -webkit-linear-gradient(top, #3e9c4c, #94d665);
   background: -moz-linear-gradient(top, #3e9c4c, #94d665);
   background: -ms-linear-gradient(top, #3e9c4c, #94d665);
   background: -o-linear-gradient(top, #3e9c4c, #94d665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 26px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.rate:hover {
   border-top-color: #2b5900;
   background: #2b5900;
   color: #ffffff;
   }
.rate:active {
   border-top-color: #000000;
   background: #000000;
   }
.rate10{ color:#FFF; font-size:10px; text-align:center; font-weight:bold;}

.rate-band{ color:#FFF; font-size:12px;  font-weight:bold; background:#595959;}

.Category{ color:#595959; font-size:12px;  font-weight:normal; text-align:left;}

.hotel-border-bott{ border-bottom:1px solid #d8d8d8; height:5px;
}
.book-button{ background:#0071be; font-size:14px; color:#FFF; font-weight:bold; text-align:center; text-decoration:none; cursor:pointer;
}

.hotel-name-text{ background:#0071be; font-size:11px; color:#FFF; font-weight:bold; text-align:center; text-decoration:none; cursor:pointer; 
}
	
.price{
	font-size:12px; color:#1b5eac; font-weight:bold; text-align:left; text-decoration:underline; cursor:pointer;	 
	}