BODY {
font-family:Arial, Helvetica, sans-serif; font-size:11px; background-color:#f4f4f4;
SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #f4f4f4; SCROLLBAR-SHADOW-COLOR: #f4f4f4; SCROLLBAR-3DLIGHT-COLOR: #f4f4f4; SCROLLBAR-ARROW-COLOR:  #666667; SCROLLBAR-TRACK-COLOR: #f4f4f4; SCROLLBAR-DARKSHADOW-COLOR: #EFEFFB;
 }

 
 /*BODY {
 background: url("images/bg_blue_sky.jpg") no-repeat scroll center top #E2F1FE;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
 
  }*/
 
 
 
 
inputsize{width:230px;}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666666;
	font-weight:none;
	background-color: #FFFFFF;
	border: 1px solid #cccccc; 
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666666;
	font-weight:none;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}
select {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666666;
	font-weight:none;
	background-color: #FFFFFF;
	border: 1px solid #cccccc; 

}


.but {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; background-color:#F88500;
	color:#ffffff;
	font-weight:bold; padding:1px 4px 1px 4px;
	
	border: 1px #DD7400 solid; 
}

/*.top_page_icon{
background-image:url('../images/icon_page.gif');}*/


A:visited {
	 TEXT-DECORATION: none; font-size:11px;
}
A:hover {
	 TEXT-DECORATION: none; color:#FF8800;
}
.plus{width:24px; height:24px; background:url(images/plus1.gif) no-repeat center;}
.minus{width:24px; height:24px; background:url(images/minus1.gif) no-repeat center;}

.menu_bg{
background-color:#efeffb;
}
.menu{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-decoration:none;
}
A.menu{
color:#666666; text-decoration:none; font-size:11px;
}
A.menu:hover{
color:#666666; text-decoration: underline;
}
A.menu:visited{
color:#666666; text-decoration:none;
}
A.menu:active{
color:#666666; text-decoration:none;
}
.topbar_copyright{
font-family:Arial, Helvetica, sans-serif; font-size:10px; text-decoration: none; color: #4D4F82; vertical-align:top; text-align:right; padding-top:5px;
}

.topbar_White_bg{
background-color:#FFFFFF; padding-left:10;
}
.topbar_tr_light_bg{
background-color:#D6D6E1;
}
.topbar_tr_dark_bg{
background-color:#A0A1BE;
}
.topbar_rounded_img{
background-image:url('../images/tob_rounded.gif');
}
.topbar_icon_home{
background-image:url('../images/icon_home.gif');
}
.topbar_icon_about{
background-image:url('../images/icon_about.gif')
}
.topbar_icon_logout{
background-image:url('../images/icon_logout.gif');
}
.topbar_icon_refresh{
background-image:url('../images/icon_refresh.gif');
}
.topbar_icon_help{
background-image:url('../images/icon_help.gif');
}
div.topbar_text{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; font-weight: 700; padding-left:4px;
}
div.topbar_text A{
color: #FFFFFF; text-decoration:none;
}
div.topbar_text A:hover{
color: #46498A;
}
div.topbar_text A:visited{
color: #FFFFFF; text-decoration:none;
}
.Record_Heading{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; font-weight: bold; padding:4px; vertical-align:top;
}
.Record_Heading A{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; font-weight: bold; padding-left:4; padding-right:4; vertical-align:top;
}
.Record_Heading A:visited{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; font-weight: bold; padding-left:4; padding-right:4; vertical-align:top;
}
DIV.Record_Text{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; font-weight: none; text-decoration:none; padding-left:2; padding-right:4; vertical-align:top;
}
DIV.Record_Text A{
color:#666666; text-decoration:none;
}
DIV.Record_Text A:hover{
color: #666666;
}
DIV.Record_Text A:visited{
color:#666666; text-decoration:none;
}
.help_text{
font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666; font-weight: none; text-decoration:none; 
}
.help_text_heading{
font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666; font-weight: bold; text-decoration:none; padding-right:5;  
}
.sub_head{
color: #666666; font-size:11px; font-weight:bold; padding-left:3px;}

a.sub_head{
color: #666666; font-size:11px; font-weight:bold; padding-left:3px; text-decoration:none;
}
a.sub_head:hover{
color:#FF8800; text-decoration:underline;
}
a.sub_head:visited{
color:#666666;
}
.center_main_td{
 padding:8px 5px 8px 5px; border:1px #e0dedf solid;
}
.center_top_td{
background:url('../images/center_td_bg.gif')  left bottom; font-weight:bold;  font-size:11px; color:#ffffff; padding:5px 5px 3px 0; 
}
.center_top_td_img{
background:url('../images/icon_4_block.gif') no-repeat  center; background-color:#8071B6; width:20px
}
.center_main_heading{
font-weight:bold; font-size:11px; color:#ffffff; padding:5px 10px 3px 5px;
}
A.center_main_heading{
font-family:Arial, Helvetica, sans-serif; color: #7779AA; font-size:11px; font-weight:bold;
}
A.center_main_heading:hover{
font-family:Arial, Helvetica, sans-serif; color: #7779AA; font-size:11px; font-weight:bold; text-decoration:underline;
}
A.center_main_heading:visited{
font-family:Arial, Helvetica, sans-serif; color: #7779AA; font-size:11px; font-weight:bold;
}
.center_sub_menu{
color: #666666; font-size:11px; font-weight:bold; padding-left:3px;
}
.center_sub_heading{
background-color: #8071B6; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; font-weight:bold; padding-left:4;
}
TD.td_border_R_three{
border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; border-right:1px #cccccc solid;
}
TD.td_border_L_three{
border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; border-left:1px #cccccc solid;
}
.Admin_td_main_img{
background-image:url('../images/admin_img.gif');
}
.Admin_heading{
color: #585A8D; font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; padding:10px;
}
.linkdarkbg{background-color:#8071B6}
.txtwidth{color:#FFFFFF; font-size:11px; font-weight:bold; padding:4px 8px 4px 8px; text-decoration:none;}
.topbgwight{background-color:#FFFFFF;}
.Admin_text{
color: #666666; font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight: normal; padding-left:10; padding-bottom:5px; padding-right:5px;
}
.Admin_login_img{
background-image:url('../images/admin_login.gif'); height:24px; width:353px
}
.Admin_rounded_L_bottom{
background-image: url('../images/rounded_L_bottom.gif'); height:25px
}
.Admin_rounded_R_bottom{
background-image: url('../images/rounded_R_bottom.gif'); height:25px
}
.admin_td_border{
border:1px #E2E2E3 solid;
}
.Admin_td_bg_1{
background-image:url('../images/admin_td_bg_1.gif');
}
.center_3_td_bg{
background-image: url('../images/center_td_bg.gif');
}
.center_rounded_left_img{
background:url('../images/centre_left_rounded.gif') no-repeat center; width:22px; background-color:#8071B6;
}
.center_rounded_right_img{
background-image: url('../images/centre_right_rounded.gif'); color:#ffffff; padding:0 0 0 5px; font-size:11px; font-weight:bold;}
.center_light_td_bg{
background-color: #ffffff; border:1px #cccccc solid;
}
.center_light_td_bg_border{
/*background-color: #F3F2F6; border:1px #D0CFD5 solid;*/
}
.center_table_dark_bg{	
background-color: #cccccc;
}
.center_record_tr1{
background-color:#fefefe; padding:3; vertical-align:top; text-decoration:none;
}
a.center_record_tr1:hover{background-color:#cccccc;}

.center_record_tr2{
background-color: #efefef; padding:3; vertical-align:top;  text-decoration:none;
} 
a.center_record_tr2:hover{text-decoration:none; ackground-color:#cccccc;}

.center_light_L_bg_img{
background-image:url('../images/centre_bottom_1_left_rounde.gif');
}
.center_light_R_bg_img{
background-image: url('../images/centre_bottom_1_right_round.gif');
}
.center_light_L_a_bg_img{
background-image: url('../images/centre_bottom_1a_left_round.gif');
}
.center_light_R_a_bg_img{
background-image: url('../images/centre_bottom_1a_right_roun.gif');
}
.center_bottom_L_bg_img{
background-image:url('../images/center_bottom_L_rounded.gif');
}
.center_bottom_R_bg_img{
background-image:url('../images/center_bottom_R_rounded.gif');
}
.center_bottom_text{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#F88500;
}
.status_Orangetext{
font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#F88500; font-weight:bold;
}
.status_greentext{
font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#008000; font-weight:bold;
}
.user_head{
font-weight:bold; font-size:10px; color:#F88500;  padding:5px 0px 5px 0px; text-decoration:none;
}

A.user_head:hover{
color: #666666; font-size:10px; font-weight:bold; text-decoration:underline;
}
A.user_head:visited{
font-family:Arial, Helvetica, sans-serif; color: #F88500; font-size:10px; font-weight:bold;
}
.user_Text{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; font-weight: none; text-decoration:none; padding-left:2; padding-right:4; padding-bottom:5px; padding-top:5px;
}

.dynCalendar_header {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif
}
.dynCalendar_dayname {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
.dynCalendar_day {
	FONT-SIZE: 8pt; color:#666666; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif; BACKGROUND-COLOR: #eeeeee
}
.dynCalendar_today {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, Sans-Serif; BACKGROUND-COLOR: #ffffff
}
.dynCalendar {
	BORDER-RIGHT: white 2px outset; BORDER-TOP: white 2px outset; LEFT: 1px; VISIBILITY: hidden; BORDER-LEFT: white 2px outset; BORDER-BOTTOM: white 2px outset; POSITION: absolute; TOP: 1px; BACKGROUND-COLOR: #c0c0c0
}
.Wizard_main_head{
font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color: #7779AA; padding-left:5px; padding-bottom:10px; padding-top:10px;
}
.wiz_head{
font-family:Arial, Helvetica, sans-serif; color: #7779AA; font-size:11px; font-weight:bold; padding-left:5px; padding-top:2px; padding-bottom:10px;
}
.wiz_sub_head{
font-family:Arial, Helvetica, sans-serif; color: #7779AA; font-size:11px; font-weight:bold; height:30px; padding-left:1px;
}
.Wiz_orange{
font-family:Arial, Helvetica, sans-serif; color: #F88500; font-size:13px; font-weight:bold; padding-left:3px;
}
.wiz_small_txt{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#F88500;
}
.wiz_img{
background-image:url('../images/wizard_coputer.gif'); background-color:#F3F2F6 
}
.wiz_td_bg{
background-color:#F3F2F6; text-align:center;
}
.wiz_black_Text{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; font-weight: none; text-decoration:none; padding-left:2px; padding-right:4px; vertical-align:top; text-align:justify;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-large;
}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-large; color: #A0A1BE; }

.linkorg{font-weight:bold; font-size:11px; color:#F88500;  padding:5px 0px 5px 0px; text-decoration:none;}
a.linkorg:hover{text-decoration:underline; color:#666666;}
.linkbg{background-color:#8071B6}


.footer{background-color:#8071B6; color:#FFFFFF;}

.footerlink{color:#666666; font-size:11px; font-weight:bold; padding:5px 28px 5px 28px; text-decoration:none;}
a.footerlink:hover{text-decoration:none; color:#333333;}

.footerwhite{background-color:#FFFFFF; color:#666666;}

.centergap{padding:8px ; background-color:#f4f4f4;}