element.style {
    border-bottom: 1px solid #009FC6;
    width: 567px;
}


element.style {
    width: 567px;
}
#travelSearchBox li {
    border-bottom: 1px solid #93CA5D;
}



element.style {
    display: block;
    width: 160px;
}
#travelSearchBox li.last ul.flow select {
    margin: 3px 0 0;
}


#travelSearchBox label, #travelSearchBox li div.md span, #travelSearchBox div.label {
    color: #FFCC00;
}