#holiday_search .heading {
    color: #fff;
    font-family: "Times New Roman",Times,serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 4px;
    padding-left: 5px;
    text-transform: uppercase;
}



h1, h2, h3, h4, h5, h6, p, ul, input, label, select, form {
    font-weight: normal;
    margin-top: 0;
}