mm{
    background: url("../prd_imgs/bottom.jpg") no-repeat scroll left top transparent;
    height: 8px;
    width: 223px;
}



.hotelVacationsBox {
    color: #2aa9b4;
}


kk{
    padding: 10px 0 10px 10px;
    width: 964px;
}
.fl {
    float: left;
}



yy{
    padding: 10px 0 10px 10px;
    width: 964px;
}
.fl {
    float: left;
}


{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.bodytext {
    font-size: 11px;
}

#contentofpage .maindiv {
    text-align: justify;
}



.text
{
    color: #74aacc;
}

.fl
{
    float: left;
}
.f2
{
    float: right;
    padding-right: 200px;
}
.pager
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page-numbers
{
    font-family: 'Helvetica Neue' ,Helvetica,Arial,sans-serif;
    border: 1px solid #CCC;
    color: #808185;
    display: block;
    float: left;
    font-size: 130%;
    margin-right: 3px;
    padding: 4px 4px 3px;
    text-decoration: none;
}
.page-numbers.current
{
    background-color: #808185;
    border: 1px solid #808185;
    color: white;
    font-weight: bold;
}
.page-numbers.next, .page-numbers.prev
{
    border: 1px solid white;
}
.page-numbers.desc
{
    border: none;
    margin-bottom: 10px;
}


        .search_inner_box
        {
            height: 457px;
        }
        .field1
        {
            height: 27px;
        }
        .search_inner_box
        {
            height: 19px;
        }
        .search_inner_box
        {
            height: 37px;
        }
        .search_inner_box
        {
            height: 19px;
        }
        .search_inner_box
        {
            height: 11px;
            width: 783px;
            margin-bottom: 0;
        }
        .heading2
        {
            height: 31px;
        }
        #adult1
        {
            background-color: #FFFF99;
        }
        #child1
        {
            background-color: #FFFF99;
        }
        #interestId
        {
            background-color: #FFFF99;
            width: 133px;
            height: 24px;
        }
        #fromDate
        {
            background-color: #FFFF99;
            height: 24px;
        }
        #noOfNights
        {
            background-color: #656564;
            width: 52px;
            height: 23px;
        }
        #city
        {
            background-color: #656564;
            height: 27px;
            width: 161px;
        }
        #destinationId2
        {
            background-color: #656564;
            height: 26px;
        }
        #childAge11
        {
            background-color: #656564;
        }
        #childAge12
        {
            background-color: #656564;
        }
        .heading
        {
            height: 35px;
        }
        .style9
        {
            height: 35px;
            color: #000000;
            font-size: small;
        }
        .style10
        {
            color: #656564;
            font-size: large;
        }
        .style11
        {
            color: #656564;
        }
        .style13
        {
            height: 35px;
            color: #FF9933;
           
            font-size: larger;
        }
        #txt_ChekinDatePackage
        {
            background-color: #FFFF99;
        }
        .style14
        {
            font-size: x-large;
        }
        .style15
        {
            font-size: x-large;
            color: #FFFF66;
        }
        .style16
        {
            color: #FFFF66;
        }
        .style18
        {
            color: #FFFFFF;
        }
        .style19
        {
            color: #FFFFFF;
            font-weight: bold;
        }
        #txt_ChekOut
        {
            background-color: #FFFF66;
        }
        #txt_ChekOutPackage
        {
           
        }
        #txt_ChekinDate
        {
           
        }
        .style20
        {
            color: #FFFFFF;
            font-size: large;
        }
        .style21
        {
            font-size: large;
        }
        .style22
        {
            font-size: large;
            color: #656564;
        }
        .style23
        {
            color: #FF8B53;
        }
   
   
   
   
  
        .search_inner_box
        {
            height: 457px;
        }
        .field1
        {
            height: 27px;
        }
        .search_inner_box
        {
            height: 19px;
        }
        .search_inner_box
        {
            height: 37px;
        }
        .search_inner_box
        {
            height: 19px;
        }
        .search_inner_box
        {
            height: 11px;
            width: 783px;
            margin-bottom: 0;
        }
        .heading2
        {
            height: 31px;
        }
        #adult1
        {
            background-color: #FFFF99;
        }
        #child1
        {
            background-color: #FFFF99;
        }
        #interestId
        {
            background-color: #FFFF99;
            width: 133px;
            height: 24px;
        }
        #fromDate
        {
            background-color: #FFFF99;
            height: 24px;
        }
        #noOfNights
        {
            background-color: #FFFF99;
            width: 52px;
            height: 23px;
        }
        #city
        {
            background-color: #FFFF99;
            height: 27px;
            width: 161px;
        }
        #destinationId2
        {
            background-color: #FFFF99;
            height: 26px;
        }
        #childAge11
        {
            background-color: #FFFF99;
        }
        #childAge12
        {
            background-color: #FFFF99;
        }
        .heading
        {
            height: 35px;
        }
        .style11
        {
            color: #656564;
        }
        #txt_ChekinDatePackage
        {
            background-color: #656564;
        }
        #txt_ChekOut
        {
            background-color: #656564;
        }
        #txt_ChekOutPackage
        {
            
        }
        #txt_ChekinDate
        {
            background-color: #FFFF99;
        }
        .panes
        {
            height: auto;
        }
        .style13
        {
            height: 41px;
        }
        .style14
        {
            color: #656564;
            text-decoration :underline;
           
        }
        .style15
        {
            width: 375px;
        }
    .style18{
    text-decoration: underline; color: #656564; font-size: large; font-weight: bolder;
                                    text-transform: uppercase; font-family: Batang; height: 29px;
    }
    
    .style19
    {
        height:270px ;
        width:470px;
       border-style: outset;
        border-width: medium
    }
    
    .font
    {
   
    color: #656564;
   
}
        
   ppp
   {
       border-bottom-style: solid;
        border-bottom-width: medium;
         border-bottom-color: #2AA9B4;
   }
   
   tt1
   {
       cellpadding:3px;
        cellspacing:0 ;
        width: 709px; 
height: auto;
   }
   
   iimg {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    height: 100px;
    vertical-align: middle;
    width: 141px;

     float: left;
}

kjk
{
     background: url(../../../B2B_images/blue.png) no-repeat -420px 0;) repeat left top -420px 0;
      font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 106px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
    left: 0px;
    
}
.lkl{

     bgcolor: #EBEBEB;
}
backg{

     background-position: center bottom;
      padding: inherit; margin: auto;
       background-color: #F8F8F8; 
       background-repeat: repeat-x; 
background-attachment: fixed;
}


.hgty{
    border:0
     cellpadding:2;
      width:650;
      
                            
                            border: thin solid #01A0C7;
                             height: 508px; 
                             background-color: #FFFFFF;
                              background-attachment: fixed; 
                              background-repeat: repeat-x;
}



        .style26
        {
            width: 275px;
            height: 56px;
        }
        .style27
        {
            width: 397px;
            height: 56px;
        }
        .style28
        {
            width: 275px;
            height: 67px;
        }
        .style29
        {
            width: 397px;
            height: 40px;
        }
        .style30
        {
            width: 275px;
            height: 40px;
        }
        .style31
        {
            width: 397px;
            height: 40px;
        }
        .style32
        {
            width: 275px;
            height: 40px;
        }
        .style33
        {
            width: 397px;
            height: 40px;
        }
        .style34
        {
            width: 275px;
            height: 40px;
        }
        .style35
        {
            width: 397px;
            height: 40px;
        }
   
   
  
        .style36
        {
            width: 227px;
            height: 40px;
        }
        .style37
        {
            width: 227px;
            height: 40px;
        }
        .style38
        {
            width: 227px;
            height: 40px;
        }
        .style39
        {
            width: 227px;
            height: 40px;
        }
        .style40
        {
            width: 227px;
            height: 40px;
        }
        .style41
        {
            width: 450px;
            height: 40px;
        }
        .style42
        {
            width: 450px;
            height: 40px;
        }
        .style43
        {
            width: 450px;
            height: 40px;
        }
        .style44
        {
            width: 450px;
            height: 40px;
        }
        .style45
        {
            width: 450px;
            height: 40px;
        }
    .gfhr{
    
        border-right-style: solid; border-right-width: thin; border-right-color: #42c8d4; border-top-style: solid; border-top-width: thin; border-top-color: #42c8d4;
        border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #42c8d4;border-left-style: solid; border-left-width: thin; border-left-color: #42c8d4;
    }
    
    .pkgoverview
    {
         width: 400px;
          border-right-style: solid;
          border-right-width: thin;
          border-right-color: #104fd0;
        border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #104fd0;
    }
    .pkgoverviewnew
    
    {
        background:#fff;
        
        width:100%;  
        
        }
        
        
        .pakgbbbbtt
        {
           border-bottom-style: dotted;border-bottom-style: dotted;
                                                            border-bottom-width: thin;
            
            }