/* CSS Document */
body {
	padddin:0;
	margin:0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#656564;
		background:#dfdfdf;
}
img {
	border:0 none;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.cl{
	clear:both;
}
.vAlign{
	vertical-align:middle;
}
form {
	padding:0;
	margin:0;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* wrapper starts here */
.wrapper {
	margin:0 auto;
	width:1000px;
}
/* header sarts here */
.header {
	padding:0 0 0px 0;
	margin:0;
	position:relative;
}
.loginCont {
	width:1000px;
	height:90px;
	background:#FFFFFF;
	position:relative;
}
.loginContLeft {
	width:185px;
	height:90px;
	padding-left:5PX;
	position:relative;
}
.loginContRight {
	width:710px;
	height:65px;
	padding-top:5px;
	position:relative;
}

.navigation {
	width:709px;
	height:36px;
	border:1px solid #ededed;
	border-right:none;
	background:url(../prd_imgs/nav_bg.gif) repeat-x left top;
}
.navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navigation ul li {
	margin:0px;
	padding:0px;
	display: inline;
	line-height: 36px;
	font-weight: bold;
}
.navigation li a {
	float: left;
	line-height:36px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px 15px 0 15px;
	cursor: pointer;
	}
.navigation ul li a:hover {
	float: left;
	padding: 0px 15px 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:36px;
	text-decoration: none;
	color: #fff;
	background: url(../prd_imgs/nav_over_bg.gif) repeat-x left top;
}
.navigation .active a {
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px 19px 0 19px;
	text-decoration: none;
	color: #fff;
	background: url(../prd_imgs/nav_over_bg.gif) repeat-x left top;
}
.navigation .active a:hover {
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px 19px 0 19px;
	text-decoration: none;
	color: #fff;
	background: url(../prd_imgs/nav_over_bg.gif) repeat-x left top;
}
.bannerHeader{
	width:1000px;
	position:relative;
	border-top:1px solid #d0d0d0;
	background:#fff;
	}
.bannerHeaderLeft{
	width:486px;
	padding:7px 5px 7px 6px;
	position:relative;
	}
.bannerHeaderRight{
	border-left:1px solid #FFFFFF;
	height:272px;
	padding-top:1px;
	width:499px;
	}
.tabBox{
	width:474px;
	border:1px solid #d5d5d5;
	padding:5px 5px 5px 5px;
	text-decoration:none;
	font-weight:normal;
	font-size:11px;
	border-top:0px;
	color:#000;
	}
.formtextBox{
	width:130px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBox1{
	width:95px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBox2{
	width:70px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBoxhotel{
	width:40px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBoxhote2{
	width:200px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBoxhote3{
	width:80px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBoxhote4{
	width:107px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.formtextBoxhote5{
	width:48px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	}
.middleCount{
	width:978px;
	background:#FFFFFF;
	padding:0 10px 0 12px;
	}
.middleCountBg{
	width:978px;
	background:#FFFFFF;
	border:1px solid #d0d0d0;
	margin-bottom:11px;
	overflow:hidden;
	}
.loginBg{
	width:978px;
	height:35px;
	padding-top:5px;
	background:url(../prd_imgs/login_bg.gif) repeat-x left top;
	text-decoration:none;
	font-size:12px;
	color:#000000;
	border-bottom:1px solid #FFFFFF;
	}
.login{
	font:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#094158;
	padding:0 10px 0 10px;
	}
.logintextBox{
	width:140px;
	height:20px;
	line-height:20px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	background:#a1df30;
	border:1px solid #cbeb95;
	}
.rememberMe{
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#094158;
	}
.rememberMe:hover{
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#094158;
	}

.newUser{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FFFF00;
	}
.newUser:hover{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FF0000;
	}
.newUser1{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	}
.newUser1:hover{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FF0000;
	}


.genralCount{
	width:964px;
	padding:10px 0 10px 10px;
	}
.middleCountleft{
	width:728px;
	margin-right:10px;
	}
.middleCountRight{
	width:219px;
	}
.white{
	width:722px;
	background:#FFFFFF;
	padding:3px 3px 7px 3px;
	~padding:3px 3px 0 3px;
	margin-bottom:10px;
	border:1px solid #d6d6d6;
	}
.offer{
	width:728px;
	margin-bottom:7px;
	}
.tourBg{
	width:722px;
	height:34px;
	margin-bottom:10px;
	}
.tourBgLeft{
	width:8px;
	height:34px;
	background:url(../prd_imgs/tour_left.gif) no-repeat left top;
	}
.tourBgMid{
	width:705px;
	height:34px;
	text-decoration:none;
	color:#FFFFFF;
	font-family:"Trebuchet MS";
	font-size:19px;
	line-height:34px;
	font-weight:normal;
	background:url(../prd_imgs/tour_mid.gif) repeat-x left top;
	}
.tourBgRight{
	width:8px;
	height:34px;
	background:url(../prd_imgs/tour_right.gif) repeat-x left top;
	}
.imgCount{
	width:150px;
	margin:0 12px 0 12px;
	}
.luxuryHolidays{
	font-family:"Trebuchet MS";
	font-size:15px;
	text-decoration:none;
	font-weight:bold;
	color:#333333;
	line-height:22px
	}
.luxuryHolidays1{
	margin:0px;
	padding:0px;
	}
.luxuryHolidays1 ul{
	margin:0;
	padding:0px;
	}
.luxuryHolidays1 li{
	list-style:none;
	padding:2px 0  2px 10px;
	background:url(../prd_imgs/arrow_red.gif) no-repeat left center;
	}
.luxuryHolidays1 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#333333;
	}
.luxuryHolidays1 ul li a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
	color:#333333;
	}
.whiteBg1{
	width:353px;
	background:#FFFFFF;
	padding:3px 3px 7px 3px;
	margin-right:10px;
	}
.VacationsBg{
	width:353px;
	height:34px;
	margin-bottom:10px;
	}
.VacationsBgLeft{
	width:8px;
	height:34px;
	background:url(../prd_imgs/tour_left.gif) no-repeat left top;
	}
.VacationsBgMid{
	width:336px;
	height:34px;
	text-decoration:none;
	color:#FFFFFF;
	font-family:"Trebuchet MS";
	font-size:19px;
	line-height:34px;
	font-weight:normal;
	background:url(../prd_imgs/tour_mid.gif) repeat-x left top;
	}
.VacationsBgRight{
	width:8px;
	height:34px;
	background:url(../prd_imgs/tour_right.gif) repeat-x left top;
	}
.imgCount1{
	margin:0 0 0 5px;
	text-decoration:none;
	font-size:12px;
	}
.themeVacationsBox{
	width:220px;
	margin-bottom:10px;
	text-decoration:none;
	color:#FFFFFF;
	padding:0px;
	float:left;
	}
.themeVacations{
	width:219px;
	height:41px;
	text-decoration:none;
	text-align:center;
	color:#FFFFFF;
	font-family:"Trebuchet MS";
	font-size:19px;
	line-height:41px;
	font-weight:normal;
	background:url(../prd_imgs/catagory.jpg);
	}
.VacationsMid{
	width:202px;
	border-left:solid #dfdfdf 1px;
		border-right:solid #dfdfdf 1px;
	padding-left:15px;
	}
.VacationsMid ul{
	margin:0px;
	padding:0px
	}
.VacationsMid ul li{
	list-style:none;
	padding:4px 10px  3px 10px;
	background:url(../prd_imgs/white_arow.gif) no-repeat left center;
	}
.VacationsMid ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	color:#434343;
	}
.VacationsMid ul li a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
	color:#434343;
	}
.Vacationsbottom{
	width:219px;
	height:8px;
	background:url(../prd_imgs/catagorybottom.jpg) no-repeat left top;
	}
/* footer starts here */
.footer {
	/*width:978px;*/
	padding:0;
	margin:0;
	color:#000000;
	background:#fff;
	padding:5px 11px 5px 11px;
}
.footer p{
	padding:0;
	margin:5px 0 5px 0;
	text-align:center;
}
.footer span{
	padding:0;
	margin:0 7px 0 7px;
	color:#000;
}
.footer a {
	text-decoration:none;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
}
.footer a:hover {
	color:#990000;
	text-decoration:none;
}
.footer span a {
	color:#000;
	font-weight:bold;
}
.footer span a:hover {
	color:#990000;
	text-decoration:underline;
}
.footer p.bg{
	padding:8px;
}
/* footer starts here */

/* internal css start here*/
.intCountleft{
	width:223px;
	position:relative;
	}
.intCountRight{
	width:722px;
	margin-right:5px;
	}
.hotelVacationsBox{
	width:223px;
	margin-bottom:10px;
	text-decoration:none;
	color:#000;
	padding:0px;
	float:left;
	}
.hotelVacationsTop{
	height:33px;
	padding-top:5px;
	width:213px;
	padding-left:10px;
	text-decoration:none;
	color:#FFF;
	font-family:"Trebuchet MS";
	font-size:19px;
	font-weight:normal;
	background:url(../prd_imgs/hotel_bg.jpg) no-repeat left top;
	}
.hotelVacationsMid{
	width:213px;
	padding:3px 5px 0 5px;
	background:url(../prd_imgs/line1.jpg) repeat-y left top;
	}
.hotelVacationsBottom{
	width:223px;
	height:8px;
	background:url(../prd_imgs/bottom1.jpg) no-repeat left top;
	}
.innerTop{
	width:722px;
	height:7px;
	margin:0px;
	padding:0px;
	background:url(../prd_imgs/internalTop.jpg) no-repeat left top;
	overflow: hidden;
	}
.innerMid{
	margin:0px;
	padding:0px;
	width:692px;
	border-left:1PX solid #d0d0d0;
	border-right:1PX solid #d0d0d0;
	padding:0 14px 0 14px;
	background:#FFFFFF;
	}
.innerBottom{
	width:722px;
	height:7px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background:url(../prd_imgs/internalBottom.jpg) no-repeat left top;
	}
	
.cityList{
	width:695px;
	height:35px;
	background:url(../prd_imgs/cityLine.jpg) no-repeat bottom left;
	text-decoration:none;
	line-height:35px;
	color:#0b5374;
	font-family:"Trebuchet MS";
	font-size:20px;
	line-height:38px;
	font-weight:normal;
	}
.link_blk3
{
	color: #0974ad;
	height:50px;
	float:left;
}

.link_blk3 a
{
	font:11px Arial, Helvetica, sans-serif;
	color: #045b82;
	text-decoration:none;
	display:block;
	background:#45cdd9;
	float:left;
	padding:4px 7px 4px 7px;
	margin:10px 4px 0 0;
	width:8px;
}

.link_blk3 a:hover
{
	font:bold 11px Arial, Helvetica, sans-serif;
	background:#ff2f0c;
	color:#FFFFFF;
}

.link_blk3_sel
{
	background:url(../prd_imgs/cityWord.jpg) no-repeat left top !important;;
	padding:4px 8px 15px 8px !important;
	color:#FFFFFF  !important;
}
.link_blk2
{
   margin:0;
   padding:0;
   color: #29252a;
   clear:both;
}

.link_blk2 li {
	list-style:none;
	float:left;
	width:161px;
	margin:0 6px 6px 0;
}

.link_blk2 li a
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #2d2d2d;
	text-decoration:none;
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	width:150px;
	display:block;
	padding:4px 4px 4px 10px;
	background:url(../prd_imgs/arrow_red.gif) no-repeat 0 7px;
}

.link_blk2 li a:hover
{
	color: #ff2f0c;
	background:#CCCCCC;
	text-decoration:underline;
}




.listCont{
	padding:0;
	margin:0;
}
.listCont h2{
	padding:0;
	margin:0 0 10px 0;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#cd0000;
}
.listCont ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
.listCont li{
	padding:10px 10px 10px 10px;
	margin:0 0 20px 0;
	background:#FFFFFF url(../prd_imgs/listingbg.jpg) repeat-x left bottom;
}
.listCont li .leftClmn{
	padding:0;
	margin:0;
	width:190px;
}
.listCont li .rytClmn{
	padding:0;
	margin:0;
	width:470px;
}
.listCont li .leftClmn1{
	padding:0;
	margin:0;
	width:160px;
}
.listCont li .rytClmn1{
	padding:0;
	margin:0;
	width:465px;
}
.listCont li h2{
	padding:0;
	margin:0 0 10px 0;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#cd0000;
}
.listCont li h2 a{
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#cd0000;
	text-decoration:underline;
}
.listCont li h2 a:hover{
	text-decoration:none;
}
.listCont li h3{
	padding:0;
	margin:0 0 5px 0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#cd0000;
}
.listCont li h3 a{
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#094158;
	text-decoration:none;
}
.listCont li h3 a:hover{
	color:#cd0000;
	text-decoration:underline;
}
.listCont li a{
	color:#cd0000;
	font-size:11px;
	text-decoration:none;
}
.listCont li a:hover{
	color:#cd0000;
	text-decoration:underline;
}
.imgBorder1{
	background:#ffffff;
	padding:7px;
	border:1px solid #cccccc;
}
.tabout_box3 {
	width:640px;
	margin:0 5px 0 12px;
	clear:both;
	padding:0 0 0 0;
}
.tab_intbox3 {
	background:#fff;
	border:1px solid #d9d9d9;
	width:630px;
	padding:10px 10px 10px 10px;
	clear:both;
	min-height:50px;
	height:auto !important;
	height:50px;
}
.textb_blu3
{
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #133c76;
	padding:0 0 10px 0;
}
.textb5
{
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color: #2e2e2f;
	text-align:left;
}
.texts3
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
}

.text_white2
{
	font: 11px Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	color: #000;
	width:100%;
	background:#f5f5f5;
	padding: 6px 0;
	text-align:center;
	margin:10px 0 10px 0;
	border-bottom:1px dotted #481649;
}

.textb_blu12
{
	font:bold 14px tahoma;
	color: #505f6a;
	text-decoration:none;
}
.link_white
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

.tab_bg3
{
     border:1px solid #fff;
	 border-collapse:collapse;
}

.tab_bg3 th
{
     font:bold 11px Arial, Helvetica, sans-serif;
	 color:#001b96;
	 border:1px solid #fff;
	 background:#dbebef;
	 padding:5px;
	 text-align:center;
}

.tab_bg3 td
{
	 border:1px solid #fff;
	 padding:6px;
	 background:#f0f0f0;
}

.tsearch {
	background:url(../prd_imgs/tsearch_bg.jpg) no-repeat 0 0;
	clear:both;
	margin:2px 0 2px 0;
	padding:10px 0 8px 0;
}
.box1_bg 
{
	Background: #b4d5e5;
	padding:2px;
}

.box1_bg2 
{
	Background: #d6e5f6;
	border-bottom:1px solid #fff;
}
.img_space3 {
	float:left;
	margin:0 8px 0 0;
	border:1px solid #CCCCCC;
	padding:5px;
}
.box1 {
width:350px;
font:11px Arial, Helvetica, sans-serif;
vertical-align:middle;
border:1px solid #bebebe;
}
.box2 {
width:180px;
font:11px Arial, Helvetica, sans-serif;
vertical-align:middle;
border:1px solid #bebebe;
}
.listing{
	padding:0;
	margin:0;
	text-align:left;
	color:#000;
	border-top:1px solid #d8effc;
	border-left:1px solid #d8effc;
}
.listing th{
	padding:5px 10px 5px 10px;
	margin:0;
	background:#666666;
	color:#fff;
	border-right:1px solid #d8effc;
	border-bottom:1px solid #d8effc;
}
.listing td{
	padding:5px 10px 5px 10px;
	margin:0;
	background:#f2f9fc;
	border-right:1px solid #d8effc;
	border-bottom:1px solid #d8effc;
}
.listing td span{
	color:#367a04;
}
.listing td span.not{
	color:#f30118;
}


.listing1{
	padding:0;
	margin:0;
	text-align:left;
	color:#000;

}
.listing1 td{
	padding:5px 10px 5px 10px;
	margin:0;
	background:#f2f9fc;
	border-right:1px solid #d8effc;
	border-bottom:1px solid #d8effc;
}
.listing1 td span{
	color:#367a04;
}
.listing1 td span.not{
	color:#f30118;
}
.contSmall{
	background:#666666;
	border:1px solid #d8effc;
	padding:10px;
	overflow:hidden;
	margin:10px 0 15px 0;
	color:#fff;
}
.contSmall h2{
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:0;
	margin:0 0 5px 0;
}
.tabwraper{
	width:758px;
	margin:0 auto;
	background:#FFFFFF;
	border:10px solid #666666;
	padding:10px 10px 10px 10px;
	}
.tabout_boxNew{
	width:758px;
	padding-top:5px;
	overflow:hidden;
}

.tab_intboxNew {
	border:1px solid #c5dce9;
	width:736px;
	padding:10px 10px 10px 10px;
	float:left;
	background-color:#f2f9fc;
}

.tabout_box2New {
width:736px;
float:left;
margin:0 10px 10px 0;
clear:both;
padding:10px 0 0 0;
}

.tab_intbox2New {
	background:#000;
	border:1px solid #d9d9d9;
	width:736px;
	padding:10px 10px 0 10px;
	float:left;
	clear:both;
	min-height:250px;
	height:auto !important;
	height:250px;
}
.Overview{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#0166aa;
	text-decoration:none;
	font-weight:normal;
	}
.Overview1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pxpx;
	line-height:16px;
	color:##666666;
	text-decoration:none;
	font-weight:normal;
	}
.Overview2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	text-decoration:none;
	font-weight:bold;
	}
.Overview2:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	text-decoration:underline;
	font-weight:bold;
	}
.hotelDetail{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	text-decoration:none;
	font-weight:bold;
	padding:5px 0 5px 0;
	}
.hotelDetail1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-decoration:none;
	font-weight:bold;
	}
.Overview3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FF0000;
	text-decoration:none;
	font-weight:normal;
	padding:5px 0 5px 0;
	}
.Overview4{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FF0000;
	text-decoration:none;
	font-weight:normal;
	padding:5px 0 5px 0;
	}
.Overview3_head{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#0166aa;
	text-decoration:none;
	font-weight:normal;
	}
.rytCont{
	width:688px;
	margin-top:10px;
}
.linkCont{
	position:relative;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#333333;
	margin:0 0 15px 0;
}
.linkBG{
	background:url(../prd_imgs/listingbg1.jpg) repeat-x left top;
	border:1px solid #f1f1f1;
	overflow:hidden;
	padding:9px 0 9px 10px;
	margin:5px 0 0 9px;
}
.linkCont a{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#999999;
	text-decoration:none;
}
.linkCont a:hover{
	text-decoration:underline;
}

#gallery {position:relative; width:686px; padding:10px;}
#images {border:2px solid #9ac1c9; height:225px; background:#eef5f6;}
#image {position:relative; width:700px; height:375px; padding:5px; border:2px solid #666; background:#FFF url(prd_imgs/loading.gif) center center no-repeat}
#image img {position:absolute; top:5px; left:5px}
#thumbwrapper {margin-top:10px; padding:5px 0; width:710px; height:100px; border:2px solid #666; background:#FFF}
#thumbarea {position:relative; overflow:hidden; height:100px; width:705px; }
#thumbs {position:absolute; list-style:none; margin-left:5px; height:100px; width:10000px; border-right:5px solid #FFF}
#thumbs li {float:left; margin-right:5px; cursor:pointer}
.imgnav {position:absolute; height:375px; width:20%; z-index:100; height:375px; width:20%; z-index:100; outline:none; cursor:pointer}
#previmg {left:0; background:url(prd_imgs/left.gif) left center no-repeat; border-left:5px solid #FFF}
#previmg:hover {opacity:1; filter:alpha(opacity=100)}
#nextimg {right:0; background:url(prd_imgs/right.gif) right center no-repeat; border-right:5px solid #FFF}
#nextimg:hover {opacity:1; filter:alpha(opacity=100)}

.cont {
text-align:justify;
width:97%;
float:left;
}

.homecont {
width:916px;
background:#5b1180;
padding:10px 0 10px 14px;
}

.cont2 {
text-align:justify;
width:98%;
float:left;
}

h1
{
	font:20px Georgia, "Times New Roman", Times, serif;
	color: #353335;
	margin:2px 0 15px 0;
	background:url(../prd_imgs/h1_bg.jpg) no-repeat 0 26px;
	padding:0 0 10px 0;
}
.p_det {
width:525px;
float:left;
}

.img_space4 {
margin:15px 0 5px 0;
border:1px solid #666;
}

.tour_deals
{
	width: 250px;
	color: #fff;
	margin: 0 auto;
	padding: 0 0 8px 0px;
	background: url(../prd_imgs/line_bg.jpg) no-repeat 0 100%;
}
.int_div {
float:left;
padding:0 0 0 10px;
width:355px;
}
.textb_blu10
{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #0c818a;
	display:block;
	padding:3px 0 8px 0;
	border-bottom:1px solid #dcdcdc;
}
.listint_box {
float:left;
width:100%;
padding:0 4px 0 0;
font:11px Arial, Helvetica, sans-serif;
}
.lists5
{
	margin: 0;
	padding: 3px 0 0 0;
}

.lists5 li
{
	padding: 4px 15px 4px 15px;
	background:url(../prd_imgs/bul_4.gif) no-repeat 0 5px;
	list-style-type:none;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	float:left;
	width:200px;
}
.list_right {
width:155px;
float:left;
background:#fff url(../prd_imgs/list_right.jpg) no-repeat ;
height:208px;
padding:3px 0 0 0;
margin:0 0 0 0;
}
.texts1
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #b5b5b5;
}
.texts2
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #343c3c;
}
.textb_blu2
{
	font: 17px Verdana, Arial, Helvetica, sans-serif;
	color: #3c373e;
}
.textb_blu16
{
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #3c373e;
}
.star
{
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #ff0101;
}
.p_assist2 {
width:128px;
background:#fff url(../prd_imgs/p_assist.jpg) no-repeat -2px 0;
height:24px;
padding:20px 0 0 25px;
font:bold 15px Arial, Helvetica, sans-serif;
color:#1c1b1b;
margin:10px 0 0 0;
border-left:1px solid #bacbd1;
border-right:1px solid #bacbd1;
}
.p_assist {
	width:153px;
	background:#fff url(../prd_imgs/p_assist.jpg) no-repeat -2px 0;
	height:24px;
	padding:20px 0 0 25px;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#1c1b1b;
	margin:10px 0 0 5px;
	border-left:1px solid #bacbd1;
	border-right:1px solid #bacbd1;
	}
.sort {
width:99%;
padding:4px;
margin:5px 0 5px 0;
text-align:right;
}

.sort2 {
width:99%;
padding:4px;
background:#ede0a2;
}
.packbox4 {
width:680px;
padding:9px 5px;
float:left;
border-top:1px solid #e8e8e8;
border-right:1px solid #e8e8e8;
border-bottom:1px solid #e8e8e8;
border-left:1px solid #e8e8e8;
margin:0 0 20px 0;
background:#fff;
}
.hdetail_box {
width:688px;
}

.hdetail_pic {
width:494px;
float:left;
margin:0 5px 0 0;
}
.hdetail_right {
width:188px;
float:left;
background:#fff url(../prd_imgs/bg2.jpg) no-repeat ;
height:227px;
padding:10px 0 0 0;
}
.tabout_box2 {
width:685px;
margin:0 5px 0 0;
clear:both;
padding:10px 0 0 0;
}

.tab_intbox2 {
background:#fff;
border:1px solid #d9d9d9;
width:665px;
padding:10px 10px 0 10px;
clear:both;
min-height:250px;
height:auto !important;
height:250px;
}
.link_s1
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
}
.tab_bg1
{
     border:1px solid #858585;
	 border-collapse:collapse;
}
.tab_bg1 th
{
     font:bold 11px Tahoma;
	 color:#fff;
	 border:1px solid #858585;
	 background:#094158;
	 padding:3px;
	 text-align:center;
}

.tab_bg1 td
{
	 border:1px solid #858585;
	 padding:6px;
	 background:#fff;
}

.tab_bg2
{
     border:1px solid #858585;
	 border-collapse:collapse;
}

.tab_bg2 td
{
	 background:#fff;
	 font:11px Arial, Helvetica, sans-serif !important;
}

.tab_bg3
{
     border:1px solid #fff;
	 border-collapse:collapse;
}


.newDelhi{
	line-height:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0166aa;
	text-decoration:none;
	font-weight:normal;
	}
.photo_galleryBig{
width: 365px;
height: 321px;
float:left;
}
.photo_gallerysmall{
	width: 278px;
	float:left;
	margin: 0 0 0 15px;
}
.photo_gallerymid{
	width: 278px;
	height: auto;
	background-image:url(../prd_imgs/Ph_gallry_mid.jpg);
	background-repeat:repeat-y;
	float:left;
}
.photo_pan{
	width: 258px;
	height: 81px;
	margin : auto;
	clear:both;
	padding:6px 0 5px 0;
}
.photo_left{
	width:124px;
	float:left;
	margin: 0 10px 0 0;
}
.photo_right{
	width:124px;
	float:left;
}
.six_photos{
	font-family:"Arial"; 
	font-size:18px; 
	font-weight:normal; 
	color:#000;
	padding : 5px 0 5px 8px;
}
.link_blkNew {
background:url(../prd_imgs/nav_over_bg.gif) repeat-x left top;
font: bold 11px arial;
color:#FFF !important;
text-decoration:none;
padding:2px 5px 2px 5px;
}

.link_blkNew:hover {
background:#FF0000;
font: bold 11px arial;
color:#fff;
text-decoration:none;
}
.link_blkNew1 {
background:#FF0000;
color:#FFFFFF !important;
text-decoration:none;
padding:2px 5px 2px 5px;
}
.searchr_bg {
margin-top:10px;
background:#fff;
padding:10px;
clear:both;
min-height:150px;
height:auto !important;
height:150px;
border:1px solid #d3dbd9;
}
a.links_gray {
font:11px Arial, Helvetica, sans-serif;
color:#4a4a4a;
text-decoration:none;
padding:0 4px 0 4px;
}

a.links_gray:hover {
background:#333;
color:#fff;
}
.linkb_red {
font:bold 11px tahoma;
color:#b82103;
text-decoration:underline;
}

.link_red {
font:11px tahoma;
color:#b82103;
text-decoration:underline;
}

.link_red:hover {
font:11px tahoma;
color:#4c4840;
text-decoration:none;
}
.border_b1 {
border-bottom:1px solid #bfbcb8;
}
.text_grey {
font: 11px Arial, Helvetica, sans-serif;
color:#FFFFFF;
margin:2px 0 0 0;
}
.textb_blu {
font: bold 13px tahoma;
color:#990000;
}
.intcont1 {
padding:7px 10px 10px 10px;
clear:both;
}
.textb_red2{
font:bold 14px Georgia;
color:#5e6402;
}
.tabout_box01 {
width: 100%;
padding:0 0 20px 0;
}
.textb_gray3 {
font:bold 30px Arial, Helvetica, sans-serif;
color:#42403f;
display:block;
float:left;
padding:0 10px 0 0;
}
.tab_bg02
{
     border:1px solid #f0efec;
	 border-collapse:collapse;
}

.tab_bg02 th
{
     font:bold 10px tahoma;
	 color:#6f6a65;
	 background:#e2e3e1;
	 padding:3px;
}

.tab_bg02 td
{
	 padding:8px;
	 border-bottom:1px solid #bfbcb8;
}
.textb_red {
font:bold 11px Arial, Helvetica, sans-serif;
color:#c31015;
}
.textb_blu02 {
font:11px Arial, Helvetica, sans-serif;
color:#2f8890;
}
.boxNew {
width:180px;
font:11px Arial, Helvetica, sans-serif;
color:#4a4a4a;
vertical-align:middle;
}

.checkbox1 {
font:11px Arial, Helvetica, sans-serif;
color:#4a4a4a;
vertical-align:middle;
}
.car_hire {
background:#ededed;
width:275px;
text-align:justify;
padding:5px 5px 5px 5px;
height:auto !important;
float:left;
color:#666;
}
.dropd1 {
width:350px;
font:11px Arial, Helvetica, sans-serif;
}
.dropd1New {
width:185px;
font:11px Arial, Helvetica, sans-serif;
color:#4a4a4a;
vertical-align:middle;
}
.border_5 {
background:#f8f6f1;
border:1px solid #bfbcb8;
padding:5px;
}
.tab_bg4
{
     border:1px solid #bfbcb8 !important;
	 border-collapse:collapse;
}

.tab_bg4 th
{
     font:bold 11px Arial, Helvetica, sans-serif;
	 color:#fff;
	 background:#069daa;
	 padding:3px;
	 text-align:center;
}

.tab_bg4 td
{
	 padding:8px;
	 border:1px solid #f0efec;
}
.textb_blu2New {
font:12px Arial, Helvetica, sans-serif;
color:#2f8890;
}
.textb_grn2 {
font:bold 11px;
color:#094158;
}
.gray_box {
background:#f6eab2;
width:100%;
display:block;
padding:3px 0;
}

.form_bg {
width:660px;
background:url(../prd_imgs/form_bg.gif) no-repeat 0 0;
padding:3px 0 0 0;
clear:both;
min-height:250px;
height:auto !important;
height:250px;
}

.form_botbar {
width:660px;
background:url(../prd_imgs/form_bot.gif) no-repeat 0 0;
clear:both;
height:17px;
}
.radio1 {
}
.textb
{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #2e2e2f;
}
.tab_hbg {
background:url(../prd_imgs/tab_hbg.jpg) repeat-x 0 0;
font:bold 14px Arial, Helvetica, sans-serif;
color:#2f2634;
}
.border1
{
	border-collapse:collapse;
}

.border1 td
{
	border: 1px solid #eee;
}
.textb_blu4
{
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #056498;
	padding: 5px 0 5px 5px;
}
.price3
{
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #761413;
}
.loginLink{
	width:700px;
	height:25px;
	font-size:11px;
	text-align:right;
	color:#434343;
	padding-bottom:5px;
	}
.loginLinkb{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#434343;
	padding:0 2px 0 2px;
	text-decoration:none;
	}
.loginLinkb:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	padding:0 2px 0 2px;
	text-decoration:none;
	}
.callUs1{
	font-family:"Trebuchet MS";
	font-size:12px;
	color:#FF6600;
	font-weight:bold;
	}
.nav{
	font: 11px Arial, Helvetica, sans-serif;
	color: #4c4840;
	padding: 0 0 15px 0;
	text-align:left;
	}

.nav a{
	color: #db5b05;
	font: 11px Arial, Helvetica, sans-serif;
	background:url(../prd_imgs/bul_5.jpg) no-repeat 0 6px;
	padding:0 5px 0 0;
	}
.nav a:hover{
	color: #4c4840;
	}
.textb_blu2 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#2f8890;
	}
.textb_blu2:hover{
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#2f8890;
	text-decoration:none;
	}

.tab_bg2{
     border:1px solid #f0efec;
	 border-collapse:collapse;
	 background:#FFFFFF;
	}

.tab_bg2 th{
     font:bold 10px tahoma;
	 color:#6f6a65;
	 background:#e2e3e1;
	 padding:3px;
	}

.tab_bg2 td{
	 padding:8px;
	 border-bottom:1px solid #bfbcb8;
	}
.border_51{
	background:#FFFFFF;
	border:1px solid #CCCCCC;
	}


.searchr_bg3{
	padding:5px;
	clear:both;
	min-height:150px;
	height:auto !important;
	height:150px;
	border:1px solid #c4c4c4;
	margin:0 0 10px 0;
	}
.cityList1{
	width:955px;
	height:35px;
	margin:0 0 15px 0;
	background:url(../prd_imgs/cityLine1.jpg) no-repeat bottom right;
	text-decoration:none;
	line-height:35px;
	color:#0b5374;
	font-family:"Trebuchet MS";
	font-size:20px;
	line-height:38px;
	font-weight:normal;
	}
.footer_logoScroll{
	width:935px;
	position:relative;
	margin:15px 0 0 0;
	border:1px solid #d6d3d3;
	background:#FFFFFF;
	padding:10px;
	}




.flight_top{
	width:947px;
	height:22px;
	float:left;
	font-size:14px;
	color:#FFFFFF;
	padding:3px 0 0 10px;
	background:#929394;
	}
.flight_mid{
	width:955px;
	margin:0px;
	padding:8px 0 0 0;
	float:left;
	background:#FFFFFF;
	border:1px solid #CCCCCC;
	}
	
.flightView{
	font:bold 12px Arial, Helvetica, sans-serif;
	 color:#eaff00;
	 }
.modifyLink {
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#FF9900;
	text-decoration:none;
	}
.modifyLink1 {
	font: 13px Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:underline;
	}


.dropd4 {
	width:240px;
	font:11px Arial, Helvetica, sans-serif;
	color:#4a4a4a;
	vertical-align:middle;
	}
.box102 {
	width:350px;
	font:11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	border:1px solid #bebebe;
	}
.contSmall1{
	background:#fff url(../prd_imgs/bg_logo.jpg) no-repeat center;
	border:1px solid #e0e0e0;
	margin:10px 0 0px 0;
	color:#000;
	}
.invisibleobject{
display:none;
}
.visibleobject{
display:block;
}
.from1 {
    background: url("http://www.dialotrip.com/prd_imgs/cal_btn.gif") no-repeat scroll right center transparent;
    cursor: pointer;
}