/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 2px 3px 0;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
font:12px tahoma;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
float:left;
}

.shadetabs li a{
text-decoration: none;
padding: 6px 8px;
color: #FFFFFF;
background:#fff;
display:block;
text-align:center;
border:1px solid #e9e2e4;
font:11px Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background:url(../../B2B_images/blue.png) repeat left top
}

.shadetabs li a:visited{
color: #080000;
background:url(../../B2B_images/nav_bg.gif) repeat left top
}

.shadetabs li a:hover{
color: #080000;
background:#b7b7b7;
background:url(../../B2B_images/nav_bg.gif) repeat left top
}

.shadetabs li a.selected{ /*selected main tab style */
top: 1px;
color:#080000;
background:url(../../B2B_images/nav_over_bg.gif) repeat left top;
border-bottom:none;
}

.shadetabs li a.selected{ /*selected main tab style */
 top: 1px;
color:#080000;
                          
background:url(../../B2B_images/nav_over_bg.gif) repeat left top;
border-bottom:none;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
color:#343c3c;
}

@media print {
.tabcontent {
display:block !important;
}
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 400px;
margin-bottom: 1em;
padding: 10px;
}



