@charset "utf-8";
/* CSS Document */

.search-items{
	border:1px solid #aaa9ae;
	float:left;
	margin:0px 0 0 0;
	width:706px;
	padding:10px;
}
.search-desc{
	float:left;
	width:100%;
	* width:650px;
	_width:660px;
}
.hotel-img{
	float:left;
}
.excursion-name{
	width:370px;
	margin:0 0 0 15px;
	float:left;
}
.hotel-loc{
	color:#000;
	text-align:left;
}
.hotel-facility{
	color:#225B86;
	font-weight:normal;
	padding:10px 0 0 0;
}
.rates-old{
	font-weight:bold;
	color:#000000;
	text-decoration:line-through;
}
.rates-new{
	font-weight:bold;
	padding:8px 0 0 0;
	text-decoration:none;
	color:Green;
	font-size:18px;
	text-align: center;
}
.inclusive{
	font-weight:normal;
	text-decoration:none;
	letter-spacing:.05px;
	color:#000; /* theme color */
}
.show-rooms{
	float:left;
	margin:15px 0 0 0;
	width:100%;
}
.green-head{
	background:#CCDDFF; 
	color:#000;
	font-weight:bold;
	text-align:left;
}
.room-type{
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	line-height:24px;
	width:90px;
	float:left;
}
.note{
	 margin:24px 0 0 15px;
}
.hotel-price input{
	background:#CCDDFF; /* theme color */
	height:24px;
	border:none;
	padding:0 4px;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	* padding:0;	
	margin:8px 0 0 0;
}
.hotel-price{
	float:right;
	margin:0 0 0 10px;
	width:130px;
	text-align:center;
}
.price-from {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #CCDDFF;
    border-color: #CCDDFF #CCDDFF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
.grey-blocks {
    background: #F4F4F4;
    border-bottom: 1px solid #FFFFFF;
    
}
.date-pick-back{
	background:#CCDDFF;/* theme color */
}
.hotel-heading{
		color:#225B86;   /* Theme color  */
	font-weight:bold;
	text-align:left;
}
/*new */

#transfer-container .internet, #transfer-container .fit-center, #transfer-container .swim-pool, #transfer-container .parking, #transfer-container .disc, #transfer-container .coffee{
	background: url("../images/facility-small-g.gif") no-repeat scroll 0 0 transparent;
	width:16px;
	height:16px;
}
#transfer-container .internet-d, #transfer-container .fit-center-d, #transfer-container .swim-pool-d, #transfer-container .parking-d, #transfer-container .disc-d, #transfer-container .coffee-d{
	background: url("../images/facility-small-disable.gif") no-repeat scroll 0 0 transparent;
	width:16px;
	height:16px;
}
#transfer-container .internet, #transfer-container .internet-d {
    background-position: 0 0px;
}
#transfer-container .fit-center, #transfer-container .fit-center-d {
    background-position: -18px 0px;
}
#transfer-container .swim-pool, #transfer-container .swim-pool-d {
    background-position: -36px 0px;
}
#transfer-container .parking, #transfer-container .parking-d {
    background-position: 0px -16px;
}
#transfer-container .disc, #transfer-container .disc-d {
    background-position: -18px -18px;
}
#transfer-container .coffee, #transfer-container .coffee-d {
    background-position: -18px -36px;
}
.content-full {
    float: left;
    width: 980px;
}

.page-heading{
	background:#CCDDFF;/* Theme color  */
}
.page-heading h2{
	color:#225B86;line-height:34px;font-weight:bold; padding:0 0 0 10px;
}
.grey-border {
    border: 1px solid #AAA9AE;
}
.txt-format{
	
	text-decoration:none;
}

.hotel-name1{
	font-size:13px;
	color:#225B86;
	font-weight:bold;
	}
	
.blacktxt01{
	font-size:11px;
	color:#000;
	text-decoration:none;
	text-align:justify;
	line-height:17px;
	}
	
	
	.blacktxt03{
	font-size:11px;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	text-align:justify;
	line-height:17px;
	}
	
	
	
.blacktxt02{
	font-size:12px;
	color:#000;
	text-decoration:none;
	text-align:justify;
	line-height:17px;
	font-family:Arial;
	}