@charset "utf-8";
/* CSS Document */

/* login page */
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	}
	
p, h1, h2, h3, h4, ul, li{margin:0; padding:0;}
.topbg{
	height:31px;
	background-image:url(../images/top-bg.jpg);
	background-repeat:repeat-x;
	}

.bottombg{
	height:31px;
	background-image:url(../images/bottom-bg.jpg);
	background-repeat:repeat-x;
	}
	ul, li{margin:0; padding:0;}
/* Header styles start here  */

.top-bg{background: url(../images/b g.jpg) repeat-x}
.tbl-back{ background:#f5f5f5; border:1px solid #dedede}

/* Header styles closes here  */

.box-1 ul{ list-style:none;}
.content-tbl-back{ background:#fff; border:1px solid #dedede; border-top:none; border-top:none;}
.services-border-des{border-bottom:1px solid #dedede; border-left:none; border-right:none; border-top:none;}

.leftbg{
	background-color:#f3f2f0;
		
       	 border-top-left-radius:20px;
       	 border-bottom-left-radius:20px;
	}
.leftbg2{
	background-color:#f3f2f0;
		-moz-border-radius: 20px;
        -webkit-border-radius: 20px;
       	 border-radius: 20px;
		
	}
.redtxt{
	color:#FF0000;
}

.bluetxtinfo{
	color:Blue;
}

.rightbg{
	background:#CBCBCB url(../images/right-bg.jpg) repeat-x;
	padding:20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	 border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	 border-bottom-right-radius: 20px;
	}
.right-divider{
	background-image:url(../images/right-divider.jpg);
	background-repeat:repeat-y;
	width:8px;	

}
.welcome{
	color:#000;
	font-size:11px;
	text-decoration:none;
	}
.welcome-name{
	color:#000;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	}
.welcome-links a{
	color:#000;
	font-size:11px;
	text-decoration:none;
	}
.whiteboldtxt12{
	color:#2e2e2e;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
	}
	.redboldtxt12{
	color:#A92C2C;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
	}
.whiteboldtxt16{
	color:#2E2E2E;
	font-size:16px;	
	line-height:20px;
	}
	
.bluetxtx16{
	color:#414141;
	text-align:center;
	line-height:28px;
	font-size:16px;
	font-weight:bold;
	}
.txtbox{
	background:url(../images/txtbox-bg.jpg) no-repeat center top;
	width:286px;
	height:42px;
	background-color:#f3f2f0;
	margin-left:0px;
	*padding:0 0 0 20px;
	}

.txtboxtxt{
	color:#939393;
	font-size:14px;
	width:235px;
	padding:0px 0px 0px 5px;
	padding:5px 0px 0px 5px;
	height:25px;
	border:none;
	background:transparent;
	}	
.logintxt{
	color:#647983;
	font-size:14px;
	text-align:left;
	padding-left:0px;
	font-weight:bold;
	padding:0 0 0 20px;
	}

.enlarge-map{
	font-size:10px;
	font-weight:bold;
	padding:6px 0 0 0;
}
.enlarge-map a{color:#7E7E7E; text-decoration:none;} 
.enlarge-map a:hover{color:#7E7E7E; text-decoration:underline;} 

.hotel-name{
	font-size:12px;
	color:#414141;
	font-weight:bold;
	}
	.blueboldtxt18{
	font-size:18px;
	color:#2AAC2A;
	font-weight:bold;
	}
.blueboldtxt16{
	font-size:16px;
	color:#2AAC2A;
	font-weight:bold;
	}
.forgot-pass{
	font-size:11px;
	font-weight:bold;
	color:#6f7071;
	}	
.here
{
	font-size:11px;
	color:#3C3C3C;
	font-weight:bold;
}
.txt11{
font-size:11px;
	color:#6f7071;
	text-align:justify;
}
.blacktxt12{
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	}
.blacktxt11{
	font-size:11px;
	color:#000;
	text-decoration:none;
	}
.redtxt11{
	font-size:11px;
	color:red;
	text-decoration:none;
	}
.whitetxt12{font-size:12px; font-weight:bold; color:#000; text-decoration:none; text-align:right;}
.whitetxt11{font-size:11px; font-weight:bold; color:#fff; padding:0 10px;}
.top-menu{font-size:11px; font-weight:bold; color:#fff; padding:0 10px; text-decoration:none;}
.blackboldtxt12{
	font-size:12px;
	color:#000;
	font-weight:bold;
	text-align:left;
	}

.blackboldtxt11{
	font-size:11px;
	color:#000;
	font-weight:bold;
	}
.blacktxt10{
	font-size:10px;
	color:#000;
	}

.blackboldtxt10{
	font-size:10px;
	color:#000;
	font-weight:bold;
	}
	.redboldtxt12{
	font-size:12px;
	color:Red;
	font-weight:bold;
	}
	
 .Search-Result{
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
	}
	
	.Search-pop{
	
     /*color:#2e2e2e;*/
     color:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
}
	
/* end login page */

/* search page */

.welcomebox{
	background:#b8b8b8;
	border:1px solid #A2A1A1;
	width:350px;
	
	padding:10px;
			/*-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;	
			height:60px;*/						
	}
.logobox{
	width:auto;
	padding:10px;
	/*background-color:#FFFFFF;
	background-image:url(../images/logo-bg.jpg);
	background-repeat:repeat-x;
		-moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
       	 border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
       	 border-bottom-right-radius: 10px;
		-moz-box-shadow: 5px 5px 2px #ccc;
		-webkit-box-shadow: 5px 5px 2px #ccc;
	     box-shadow: 5px 5px 2px #ccc;*/
	position:relative;
	top:0px;
	border:1px solid #f4f4f4;	
	}
.topmenu{	
	height:21px;
	padding:2px 15px;
	background:#fff;
	border:1px solid #DEDEDE;
	border-bottom:none;
	/*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   	border-radius: 10px;*/
}


.service-tabs-active
{	
    padding:5px 15px;	
    background:#fff;	
    border:1px solid #DEDEDE;
}

.service-tabs-active a, .service-tabs-normal a
{
	color:#000; 
    text-decoration:none; 
    font-size:11px;
}
.service-tabs-normal
{	
    padding:5px 15px;	
    background:#DEDEDE;	
    border:1px solid #DEDEDE;

}
.service-tabs-normal:hover
{
    text-decoration:none; 
    background:#fff;
}
.bluetophead{
	background-color:red; 
	padding:8px;
	font-weight:bold;
}
/* =============================*/

.leftbluetophead{
	background-color:#29A929; 
	padding:10px;
	font-weight:bold;
		-moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
       	 border-top-left-radius: 10px;
}
.leftmenubg{
	background-color:#fff;
 	padding:10px 0px 10px 10px;
 	border-right:1px solid #f4f4f4;
}
.leftmenubg2{
	background-color:#fff;
 	padding:10px;
 	border-right:1px solid #f4f4f4;
}
.leftsubmenubg{
	background:#759ab4 url(../images/sub menu-bg.jpg) repeat-x;
	height:25px;
	padding-right:10px;
	text-align:right;
	width:100%;
		-moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
       	 border-top-left-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
       	 border-bottom-left-radius: 10px;
}
.leftsubmenubg:hover{
	background:#abd2ef url(../images/submenu-bg2.jpg) repeat-x;
	height:25px;
	padding-right:10px;
	text-align:right;
		/*-moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
       	 border-top-left-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
       	 border-bottom-left-radius: 10px;*/
}
	
/* end Search Page */
/* search result page */
.submenugray{	
	background-color:#d1d1d1;
	background-image:url(../images/submenu-gray1.jpg);
	background-repeat:repeat-x;

}
.submenugray-txt{	
	padding:5px 10px;	
	color:#000;
	font-size:12px;
	cursor:pointer;
	font-weight:bold;	
}
.submenugray-ht-txt{	
	padding:5px 10px;	
	color:#000;
	font-size:12px;
	font-weight:bold;	
}
.submenugray:hover{	
	background-color:#ffffff;	
	background-image:url(../images/submenu-gray2.jpg);
	background-repeat:repeat-x;
}
.orangetxt{
	background-color:#ff6600;	
	color:#FFFFFF;
	font-size:11px;
	padding:2px;
	}
.tabs{
	background:#EEEEEE url(../images/tab-bg.jpg) repeat-x;
	height:33px; 
	border:1px solid #dddddd;
	padding:5px;
	*padding:2px 5px;
	width:100px;
}
.sequence1{
	background-color:#eeeeee;
	border:1px solid #cccccc;
	padding:2px 5px;
	-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
       	 border-radius: 5px;		
	}
.sequence{
	background-color:#eeeeee;
	border:1px solid #cccccc;
	font-size:11px;
	color:#000;
	padding:2px 5px;
	-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
       	 border-radius: 5px;		
	}
	.sequence:hover{
	font-size:11px;
	color:#fff;
	background-color:#CCDDFF;
	border:1px solid #cccccc;
	-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
       	 border-radius: 5px;		
	}
/* end search result page */



/* shekhar  */
tr.content td{
	border-bottom:1px solid #ddd;
}
tr.content td td{
	border:none;
}
.Normal-Text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;	
	font-weight:normal;
}
td.my-border-desc
{   
    /*border-top:1px solid #ccc; */
    border-bottom:1px solid #ccc;  
    padding:0 0 0 5px;  
    
}
th.my-border-desc
{   
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;    
    padding:0 0 0 5px;
}
td.my-border
{   
    /*border-top:1px solid #ccc; */
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    
}
th.my-border
{   
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    
}
.blacktxt9{
	font-size:10px;
	color:#000000;
}
.paging-back{ background: #eee; border: 1px solid #CACACA; padding:10px;}
.paging-back1{ background: #fff; border: 1px solid #CACACA; padding:10px;}


.show-rooms-back{ background: #989898; border: 1px solid #CACACA; padding:10px;}
.show-rooms-heading-back{ background:#ccc; height:24px; padding:0 0 0 4px;}

a#pg1 span{ color:#7D7D7D; text-decoration:none; padding:2px;}
.conditions{text-decoration:none; color:#000; font-weight:bold; text-decoration:underline;}
.trfconditions{text-decoration:none; color:Blue; font-weight:bold; text-decoration:underline;}
.gray-tbl-with-border{ background:#EEEEEE; border:1px solid #CACACA;}

.mandatory-alert{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:red;font-weight:normal;}

#gdvPaxes th{font-family:Arial, Helvetica, sans-serif; color:Black; font-size:12px; text-align:left}

#transinfo{background:white}
#transinfo td{background:#EEEEEE}


/*------------------+
|    Box styles     |
+------------------*/

.box {position:relative; margin:-5px 0 0 -5px;}
.box .box-t1, .box .box-t2, .box .box-t3, .box .box-b1, .box .box-b2, .box .box-b3 {background-image:url("../images/corners.png");background-position:0 0; background-repeat:no-repeat;}
.box .box-t1 {background-position:0 0;}
.box .box-t2 {padding: 0px 7px 0px 7px;background-position:100% -17px;}
.box .box-t3 {height: 7px;background-position:0 -34px;overflow: hidden;background-repeat:repeat-x;}
.box .box-1 {background: url(../images/edges.png) 0 0 repeat-y;}
.box .box-2 {padding: 0px 5px 0px 5px;background: url(../images/edges.png) 100% 0 repeat-y;}
.box .box-3 {padding: 10px;background: #ffffff;overflow: hidden;}
.box .box-b1 {background-position:0 -51px;}
.box .box-b2 {padding: 0 7px;background-position:100% -68px;}
.box .box-b3 {height: 12px;background-position:0 -85px;background-repeat:repeat-x;overflow: hidden;}
.box em {padding: 0px 3px 0px 3px;border: 1px dotted #aaaaaa;background: #f5f6f7;font-family: "Courier New", Courier, monospace;font-style: normal;white-space: nowrap;}
.box-black em {border: 1px dotted #969696; background: #333333;}
.box-blue em { border: 1px dotted #85B0E4; background: #305B7F; }
.box h3.header {height: 35px;margin-top: -10px;line-height: 35px;}
.box h3.header span.title {font-size: 15px;line-height: 26px;}
.box h3.header span.subtitle {margin-top: -4px;}
.box h3.header span.icon {top: 2px; left: -3px;}
.box div.badge {top:5px;right:5px;}

/* header: blue */
.box-header h3.header,.box-header-black h3.header,.box-header-red h3.header {position: absolute;top: 4px;left: 5px;right: 5px;z-index: 1;height: auto;margin-top: 0px;background: url(../images/corners.png) 0 -102px repeat-x;font-size: 15px;color: #ffffff;text-shadow: 0 -1px 0 rgba(0,0,0,0.3);}
.box-header span.header-3,.box-header-black span.header-3,.box-header-red span.header-3 {height: 45px;padding-left: 10px;line-height: 37px;overflow: hidden;}
.box-header .header-on, .box-header-black .header-on, .box-header-red .header-on {padding-top: 40px;}

/* box color gradient */
.box-gradient .box-t1,.box-gradient .box-t2,.box-gradient .box-t3,.box-gradient .box-b1,.box-gradient .box-b2,.box-gradient .box-b3 { background-image: url("../images/gradient_corners.png"); }
.box-gradient .box-3 {padding: 10px 9px 10px 9px;border-left: 1px solid #ffffff;border-right: 1px solid #ffffff;background: #ffffff url("../images/gradient_corners.png") 0 -157px repeat-x;}
.box-gradient.box-header .with-header { padding-top: 40px; }
.box-header-black h3.header {background-image: url("../images/beige_corners.png");}
.box-header-red h3.header {background-image: url("../images/red_corners.png");}

/* box color black */
.box-black .box-t1,.box-black .box-t2,.box-black .box-t3,.box-black .box-b1,.box-black .box-b2,.box-black .box-b3 {background-image: url(../images/black_corners.png);}
.box-black .box-3 {border-left: 1px solid #323232;border-right: 1px solid #323232;background: #505152;color: #ffffff;text-shadow: 0px -1px 0px rgba(0,0,0,1);}
.box-black h3.header {color: #ffffff;text-shadow: 0px -1px 0px rgba(0,0,0,1);}
.box-black.box-header h3.header {background-image: url("../images/black_corners.png");color: #505050;text-shadow: 1px 1px 0px rgba(255,255,255,1);}
.box-black a {color: #ffffff;text-decoration: underline;}
.box-black a:hover {color: #ffffff;text-shadow: 0px 1px 1px rgba(0,0,0,0.8);}

/* color blue */
.box-blue .box-t1,.box-blue .box-t2,.box-blue .box-t3,.box-blue .box-b1,.box-blue .box-b2,.box-blue .box-b3 { background-image: url("../images/blue_corners.png"); }
.box-blue .box-3 {border-left: 1px solid #305B7F;border-right: 1px solid #305B7F;background: #407AA9;color: #ffffff;text-shadow: 0px -1px 0px rgba(0,0,0,0.3);}
.box-blue h3.header {color: #ffffff;text-shadow: 0px -1px 0px rgba(0,0,0,0.3);}
.box-blue.box-header h3.header {background-image: url("../images/blue_corners.png");color: #305B7F;text-shadow: 1px 1px 0px rgba(255,255,255,1);}
.box-blue a {color: #ffffff;text-decoration: underline;}
.box-blue a:hover {color: #ffffff;text-shadow: 0px 1px 1px rgba(0,0,0,0.5);}

/* color orange */
.box-orange.box-header h3.header {background-image: url("../images/orange_corners.png");}
.box-orange .box-t1,.box-orange .box-t2,.box-orange .box-t3,.box-orange .box-b1,.box-orange .box-b2,.box-orange .box-b3,.box-orange.box-header h3.header {background-image: url("../images/orange_corners.png");}
.box-orange .box-3 {border-left: 1px solid #B35A1A;border-right: 1px solid #B35A1A;background: #E27B0A;color:#FFFFFF;     text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);}
.box-orange.box-header h3.header {color:#B35A1A;}






.message {
    padding: 5px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
}
    .message h3 {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
    }
    .message p {
        margin-bottom: 0;
    }

.message.info {
    border: 1px solid #cadcea;
    background-color: #cdf;
    color: #225b86;
    text-align:left;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #eef,  #cdf);
	font-size:11px;
	}

.message.error {
    border: 1px solid #eeb7ba;
    background-color: #fae2e2;
    color: #be4741;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #fae2e2,  #f2cacb);
}

.message.success {
    border: 1px solid #b8c97b;
    background-color: #e5edc4;
    	color: #3f7227;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #e5edc4,  #d9e4ac);
}

.message.warning {
    border: 1px solid #e5dbaa;
    background-color: #ffffc0;
    	color: #6d7829;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #ffffc0,  #f9ee9c);
}


/* ======================================================= */
.right-box {
    padding: 5px 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
}
.right-box h3 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.right-box p {
    margin-bottom: 0;
}
.right-box.info {
    border: 1px solid #cadcea;
    background-color: #cdf;
    	color: #225b86;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #eef,  #cdf);
	}

/* ======================================================= */

.sub-right-box {
    padding: 5px 12px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
}
.sub-right-box h3 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.sub-right-box p {
    margin-bottom: 0;
}
.sub-right-box.info {
    border: 1px solid #cacaca;
    background-color: #595959;
    color: #EBECEB;
	text-shadow: 0 1px 1px #000;

	/*
	background-image: -o-linear-gradient(top,  #eef,  #595959);
    background-image: -ms-linear-gradient(top,  #eef,  #595959);
    background-image: -moz-linear-gradient(top,  #eef,  #595959);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eef), to(#595959));
    background-image: -webkit-linear-gradient(top,  #eef,  #595959);
    background-image: linear-gradient(top,  #eef,  #595959);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEFF', endColorstr='#595959');*/
    }

/* ===================================================== */

.a-tab {
    padding: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /*margin-bottom: 10px;*/
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
}
.a-tab.info {
    border-left: 1px solid #cadcea;
	border-right: 1px solid #cadcea;
	border-top: 1px solid #cadcea;
	border-bottom: none;
	text-align:center;
	background-color: #cdf;
	text-shadow: 0 1px 1px #fff;
		background-image: linear-gradient(top,  #eef,  #cdf);
		}
.a-tab.info a{color: #225b86; text-decoration:none; padding: 5px;}

.n-tab {
    padding: 5px 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /*margin-bottom: 10px;*/
    -moz-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 2px 3px rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.1);
    zoom: 1;
}
.n-tab.info {
    border-left: 1px solid #cadcea;
	border-right: 1px solid #cadcea;
	border-top: 1px solid #cadcea;
	border-bottom: none;
	text-align:center;
	background-color: #ededed;
	text-shadow: 0 1px 1px #fff;
	background-image: linear-gradient(top,  #eef,  #ccC);
	}

.n-tab.info a{color: #225b86; text-decoration:none; padding: 5px}

/* ======================================================= */
.left-col-back{ background:#E9E9E9; padding:0 0 0 2px;}
.right-col-back{ background:#fff; border-right:1px solid #cadcea;}
.right-col-content-spacing{padding:15px;}

/* =================================*/

.grey-col{ background:#E9E9E9;}

.content-box{ background-color: #f5f5f5; border: 1px solid #dedede; padding: 10px; text-align: left;}

.subHeadingBack{
	background:#B2B3B5; 
	padding:8px;
	font-weight:bold;
}

table .heading, table .RowHeading{background:#DBDADA; color:#000; text-align:center; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000;}
table .heading{vertical-align:top}
table .RowHeading{vertical-align:middle}

/*=========================================*/


.search-button {
    -moz-border-radius: 7px;
    background: url("../images/button_glas1.png") repeat-x scroll center center #969696;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 13px;
    padding: 8px 8px;
    text-align: center;
    text-decoration:none;
    margin-left: 0px;
    margin-bottom: 0px;
}

.search-button_BookDetails {
    -moz-border-radius: 7px;
    background: url("../images/button_glas1.png") repeat-x scroll center center #969696;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 13px;
    padding: 8px 0px;
    text-align: center;
    text-decoration:none;
}

.show-hide-button {
    -moz-border-radius: 7px;
    background: url("../images/button_glas1.png") repeat-x scroll center center #969696;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 6px 13px;
    *padding: 6px 8px;
    text-align: center;
    text-decoration:none;
    width:75px;
}
.book-now-button {
    -moz-border-radius: 7px;
    background: url("../images/button_glas1.png") repeat-x scroll center center #4A4A4A;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px 6px;
    *padding: 5px 5px;
    text-align: center;
    text-decoration:none;
    width:75px;
}

.advanceSearchBox {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    padding: 10px;
    text-align: left;
}
.bookingReferenceBox {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    padding: 10px;
    text-align: left;
    width:100px;
    text-align:center;
    margin:4px;
}
.SubAdvanceSearchBox {border:1px solid #ededed; margin:10px 0 0 0; background:#DBDADA;}


.book-now-btn {
    -moz-border-radius: 5px;
    background: url("../images/button_glas1.png") repeat-x scroll center center #4f4f4f;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 12px;
    *padding: 2px 10px;
    text-align: center;
    text-decoration:none;
}

/*===============================*/
.greyBar{ background:#5A5A5A;}
.blackBar{ background:#000;}


.roomsBack{ border: 1px solid #ccc; background-color: #fff;}



/* ===============================*/
/*input{ border:1px solid #DEDEDE; padding:3px 2px; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#7E7E7E;}
input[type="text"]{ border:1px solid #DEDEDE; padding:3px 2px; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#7E7E7E;}
select{ border:1px solid #DEDEDE; padding:3px 2px; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#7E7E7E;}
input[type="select"]{ border:1px solid #DEDEDE; padding:3px 2px; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#7E7E7E;}*/



/*=============================*/

 */



/*=============================*/

 /*.whiteButton {
		background-color: #EAEAEA;
		background-image: -o-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -ms-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -moz-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EAEAEA));
		background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: linear-gradient(top, #FAFAFA, #EAEAEA);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
   
		background-color: #EAEAEA;
		background-image: -o-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -ms-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -moz-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EAEAEA));
		background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
		background-image: linear-gradient(top, #FAFAFA, #EAEAEA);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0px rgba(255,255,255,0.2);
	*/
}

/**
 * Buttons
 */

.white-button {
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;  
}

.white-button 
{
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE,endColorstr=#EEEEEE);
	zoom: 1;
	color: #111;
	padding: 4px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #FEFEFE, #EEEEEE);
}


.white-button:hover{
    background-color: #F2F2F2;
    	border-color: #888;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	zoom: 1;
	background-image: linear-gradient(top, #FFF, #F2F2F2);
}
.refine-search-blocks-head 
{
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE,endColorstr=#EEEEEE);
	zoom: 1;
	color: #111;
	padding: 4px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #FEFEFE, #EEEEEE);
}
.refine-search-blocks-content{border:1px solid #AAA; border-top:none;}

/*
.white-button {
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;  
}

.white-button 
{
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE,endColorstr=#EEEEEE);
	zoom: 1;
	color: #111;
	padding: 4px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #FEFEFE, #EEEEEE);
}


.white-button:hover{
    background-color: #F2F2F2;
    background-image: url(../../svg.php?from=%23FFF&to=%23F2F2F2);
    background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -ms-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background-image: linear-gradient(top, #FFF, #F2F2F2);
    border-color: #888;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#F2F2F2);
    zoom: 1;
}
.refine-search-blocks-head 
{
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE,endColorstr=#EEEEEE);
	zoom: 1;
	color: #111;
	padding: 4px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #FEFEFE, #EEEEEE);
}
*/
/*====================================*/

/* Progress bars
---------------------------------------------------------------------*/
body{ font-family:Arial, Helvetica, sans-serif;}


.progress {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    height: 12px;
    padding: 0;
    min-width: 60px;
    margin:4px 0;
    background: #DEDEDE;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#e9e9e9));
    background: -moz-linear-gradient(top, #ccc, #e9e9e9);
    -pie-background: linear-gradient(top, #ccc, #e9e9e9);

    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.progress span {
    display: block;
    height: 20px;
    margin: 0;
    text-align:center;
    padding: 0;
    position: relative;
    width:0;
    
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.progress span b {
    color:#fff;
    line-height:20px;
    padding-left:2px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
	font-size:11px;
}

.progress.progress-blue span {
    border: 1px solid #0078a5; 
    background-color: #5C9ADE;
    background: -moz-linear-gradient(top, #00adee 10%, #0078a5 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #00adee), color-stop(0.9, #0078a5));
    -pie-background: linear-gradient(top, #00adee 10%, #0078a5 90%);
}

.progress.progress-green span {
    border: 1px solid #5c9425; 
    background-color: #77AF3F;
    background: -moz-linear-gradient(top, #8fc857 10%, #5c9425 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #8fc857), color-stop(0.9, #5c9425));
    -pie-background: linear-gradient(top, #8fc857 10%, #5c9425 90%);
}
.progress-orange span {
    border: 1px solid #f47a20; 
    background-color: #faa51a;
    background: -moz-linear-gradient(top, #faa51a 10%, #f47a20 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #faa51a), color-stop(0.9, #f47a20));
    -pie-background: linear-gradient(top, #faa51a 10%, #f47a20 90%);
}
.progress-red span {
    border: 1px solid #A92C2C; 
    background-color: #C44747;
    background: -moz-linear-gradient(top, #DD5F5F 10%, #A92C2C 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #DD5F5F), color-stop(0.9, #A92C2C));
    -pie-background: linear-gradient(top, #DD5F5F 10%, #A92C2C 90%);
}
/*==================================*/

.total{
	font-size:11px;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.min-price-tag{ background:url(../images/min-price.png) no-repeat; width:102px; height:40px; float:right; position:relative; color:#fff; padding:6px 0 0 4px;}
.max-pax{ background:url("../images/p.gif") no-repeat center 5px; color:#fff; font-size:9px; background-color:#fff; font-weight:bold;}
table#gdvAdditionalvehicle, table#gdvtransfervehicle, table#gdvPaxes, table#tdpaxdetails {border-collapse:collapse;}
table#gdvAdditionalvehicle td, table#gdvAdditionalvehicle th, table#gdvtransfervehicle td, table#gdvtransfervehicle th, table#tdpaxdetails td, table#tdpaxdetails th{border:1px solid #595959; text-align:center}
table#gdvPaxes td, table#gdvPaxes th, table#tdpaxdetails td, table#tdpaxdetails th{border:0px solid #595959; text-align:center}


/*
table#gdvPaxes th, table#gdvPaxes td{border:1px solid #f5f5f5; padding:7px; color:#000;}

table#gdvPaxes th{background:#DBDADA;}
table#gdvPaxes td {background:#fff;}
*/


.tab-high{float:left; height:16px; border:1px solid #ccc; background:#fff; padding:4px;}
.tab-normal{float:left; padding:4px;}

/*.new-btns{border:1px dashed #d2d2d2; background:#fafafa;padding:10px; margin:10px 0; width:400px; cursor:pointer}*/
.new-btns{border:1px solid #d2d2d2; background:#fff;padding:10px; margin:10px 0; width:400px;}
.new-btns a{ color:#000; text-decoration:none;}



.report-holder-hover{ position :absolute; z-index:9999; width:100%; left:0; border:1px solid red; top:100px; background:#fff; height:auto;}
.report-holder-hide{}

.Active-button {
    -moz-border-radius: 7px;
    background: #CCDDFF;
    border-width: 0;
    color: #225B86;
   
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 13px;
    
    text-align: center;
    text-decoration:none;
}
.DeActive-button {
    -moz-border-radius: 7px;
    background: red;
    border-width: 0;
    color: #FFFFFF;
   
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 13px;
    
    text-align: center;
    text-decoration:none;
}


.spacing{padding:0 0 0 10px;
	text-align: left;
}
.drp-dwn{width:130px;}

.white-button h2{font-size:16px;}
.white-button h3{font-size:14px;}
.white-button h4{font-size:11px; font-weight:normal}

.white-tabs 
{
    background-color: #EEE;
    background-image: url(../../svg.php?from=%23FEFEFE&to=%23EEE);
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE,endColorstr=#EEEEEE);
	zoom: 1;
	color: #111;
	padding: 10px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #FEFEFE, #EEEEEE);
}


.white-tabs:hover{
    background-color: #F2F2F2;
    	border-color: #888;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	zoom: 1;
	background-image: linear-gradient(top, #FFF, #F2F2F2);
}
.white-tabs a{color: #111; text-decoration:none;}
.white-tabs-active a{color: #111; text-decoration:none;}
.white-tabs-active 
{
    background-color: #fff;
    background-image: url(../../svg.php?from=%23ccc&to=%23fff);
    background-image: -o-linear-gradient(top, #ccc, #EEE);
    background-image: -ms-linear-gradient(top, #ccc, #fff);
    background-image: -moz-linear-gradient(top, #ccc, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#EEE));
    background-image: -webkit-linear-gradient(top, #ccc, #EEE);
    background-image: linear-gradient(top, #ccc, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc,endColorstr=#FEFEFE);
	zoom: 1;
	color: #111;
	padding: 10px 10px;
	border: 1px solid #AAA;
	text-decoration: none;
	background-image: linear-gradient(top, #ccc, #EEEEEE);
	border-bottom:none;
}

#txt-cont td{border:1px solid #CADCEA; border-top:none; border-left:none; }

.waitprogress{ font-family:tahoma,Lucida Sans Unicode,Lucida Grande,Verdana,sans-serif;  font-size:13px;  width:40px;  left:75%;  

top:52%;  position:absolute;  z-index:10;  font-weight:bold;  color:Black ;background-color:Transparent

}
.txt-format
{	
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;	
}
.white-button-find {
    background-color: #EEE;
    
    background-image: -o-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -ms-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EEE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #EEE);
    background-image: linear-gradient(top, #FEFEFE, #EEE);
    border-color: #AAA;
    -moz-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 #FFF, 0 1px 3px rgba(0,0,0,0.15);
    color: #111;
    text-shadow: 0 1px 0 #FFF;  
}

.sort-tab.info {
    background-color: #CCDDFF;
    border-color: #CADCEA #CADCEA -moz-use-text-color;
    border-left: 1px solid #CADCEA;
    border-right: 1px solid #CADCEA;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 100px;
}

.sort-tab {
    -moz-border-radius: 0 0 0 0;
    -moz-box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5) inset, 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100px;
   
}
.sort-tab a
{
	color:Green;
}
.pop-price{
 text-align :right;
}



#waitBox
{
    /*width: 150px;
    height: 150px;
    background: #FFF;
    border: red dotted 5px;*/
    text-align: center;
    position: absolute;
    margin-left: -75px;
    margin-top: -75px;
    left: 50%;
    top: 50%;
    z-index: 10;    
    display: none;
}

#waitScreen
{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 9;    
}

.waitprogress 
{
    font-family:tahoma,Lucida Sans Unicode,Lucida Grande,Verdana,sans-serif;  
    font-size: 13px; width: 40px; left: 75%; top: 52%; position: absolute;
    z-index: 10; font-weight: bold; color: Black; background-color: Transparent;
    }