#cssmenu1 {
  position: relative;
 /* height: 40px;*/
  width: auto;
  top:5px;
  margin-left:;
 /* height:40px;*/
}
#cssmenu1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu1 > ul {
  position: relative;
  display: block;
  height: 24px;
  width: 100%;
  z-index: 500;
}
#cssmenu1 > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu1 > ul > #menu-button {
  display: none;
}
#cssmenu1 ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  
  
}
#cssmenu1 > ul > li > a {
  padding: 2px 14px 0px 14px;
  color: #205b5b;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  font-family:Times New Roman;
  font-size:14px;
  
  
}
#cssmenu1 > ul > li > a:hover {
    -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  font-family:Times New Roman;
  font-size:14px;
  line-height:30px;
  
 
  color:#ffffff;
  
}

#cssmenu1 ul li.flight a {
  background:url(../../../icons/flight.jpg) no-repeat left center;
  padding-left:26px;
  
}


#cssmenu1 ul li.flight a:hover {
  background:url(../../../icons/flight_hover.jpg) no-repeat left center;
  padding-left:26px;
  
}

#cssmenu1 ul li.hotel a {
  background:url(../../../icons/hotel.jpg) no-repeat left center;
  padding-left:38px;
  
}


#cssmenu1 ul li.hotel a:hover {
  background:url(../../../icons/hotel_hover.jpg) no-repeat left center;
  padding-left:38px;
  
}

#cssmenu1 ul li.hotel_flight a {
  background:url(../../../icons/hotelandflight.jpg) no-repeat left center;
  padding-left:61px;
  
}


#cssmenu1 ul li.hotel_flight a:hover {
  background:url(../../../icons/hotelandflight_hover.jpg) no-repeat left center;
  padding-left:61px;
  
}

#cssmenu1 ul li.bus a {
  background:url(../../../icons/bus.jpg) no-repeat left center;
  padding-left:22px;
  
}


#cssmenu1 ul li.bus a:hover {
  background:url(../../../icons/bus_hover.jpg) no-repeat left center;
  padding-left:22px;
  
}

#cssmenu1 ul li.crus a {
  background:url(../../../icons/car_icon.jpg) no-repeat left center;
  padding-left:30px;
  
}


#cssmenu1 ul li.crus a:hover {
  background:url(../../../icons/car_iconhover.jpg) no-repeat left center;
  padding-left:30px;
  
}

#cssmenu1 ul li.holiday a {
  background:url(../../../icons/holidays.jpg) no-repeat left center;
  padding-left:26px;
  
}


#cssmenu1 ul li.holiday a:hover {
  background:url(../../../icons/holidays_hover.jpg) no-repeat left center;
  padding-left:26px;
  
}

#cssmenu1 ul li.halicopter a {
  background:url(../../../icons/train_icon.jpg) no-repeat left center;
  padding-left:22px;
  
}


#cssmenu1 ul li.halicopter a:hover {
  background:url(../../../icons/train_iconhover.jpg) no-repeat left center;
  padding-left:22px;
  
}

/*
#cssmenu1 ul li.halicopter a {
  background:url(../../../icons/helicoptor.jpg) no-repeat left center;
  padding-left:34px;
  
}


#cssmenu1 ul li.halicopter a:hover {
  background:url(../../../icons/helicoptor_hover.jpg) no-repeat left center;
  padding-left:34px;
  
}*/





#cssmenu1 > ul > li.has-sub > a {
  //*padding-right: 5px; *//
  
  
}
#cssmenu1 > ul > li:hover > a {
  color: #ddb201;
  
}
#cssmenu1 li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu1 > ul > li.has-sub::after {
     cursor: pointer;
    float: left;
    font: 14px/100% "Times New Roman",Times,serif;
    
    padding: 0px 7px 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
  
}
#cssmenu1 > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu1 ul ul {
  position: absolute;
  left: -9999px;
  top: 22px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu1 ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu1 ul ul li {
  position: relative;
}
#cssmenu1 > ul > li:hover > ul {
  left: auto;
 /* top: 44px;*/
  opacity: 1;
}
#cssmenu1 ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu1 ul ul li a {
  width: 120px;
  text-align:left;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  background: #478D8D;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu1 ul ul li:hover > a {
  background: #f6f6f6;
  color: #00668A;
}
#cssmenu1 ul ul li:last-child > a,
#cssmenu1 ul ul li.last > a {
  border-bottom: 0;
}
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -12px;
}
#cssmenu1 ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu1 ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu1 {
    width: auto;
  }
  #cssmenu1 ul {
    width: auto;
  }
  #cssmenu1 .submenuArrow,
  #cssmenu1 #indicatorContainer {
    display: none;
  }
  #cssmenu1 > ul {
    height: auto;
    display: block;
  }
  #cssmenu1 > ul > li {
    float: none;
  }
  #cssmenu1 li,
  #cssmenu1 > ul > li {
    display: none;
  }
  #cssmenu1 ul ul,
  #cssmenu1 ul ul ul,
  #cssmenu1 ul > li:hover > ul,
  #cssmenu1 ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
  }
  #cssmenu1 ul .has-sub::after {
    display: none;
  }
  #cssmenu1 ul li a {
    padding: 12px 20px;
  }
  #cssmenu1 ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu1 ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu1 ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu1 ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu1 ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu1 ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu1 > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu1 #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu1 ul.open li,
  #cssmenu1 > ul.open > li {
    display: block;
  }
  #cssmenu1 > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu1 #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    border-bottom: 2px solid #7a8189;
    right: 20px;
    top: 15px;
  }
  #cssmenu1 #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    right: 20px;
    top: 25px;
  }
  #cssmenu1 ul.open #menu-button::after,
  #cssmenu1 ul.open #menu-button::before {
    border-color: #fff;
  }
}


/*-----------------------------*/


#customer_caremenu{
	border:none;
	border:0px;
	margin:0px;
	margin-top:0px;
	padding:0px;
	font-size:14px;
	width:154px;
	float:right;
	font-weight:normal;
	}
#customer_caremenu ul{
	background:;
	height:25px;
	list-style:none;
	margin:0;
	text-align:right;
	padding:0;
	}
#customer_caremenu li{
	float:right;
	padding:0px;
	float:right;
	margin-right:1px;
	margin-top:0px;
	}
#customer_caremenu li a{
	background:#478d8d;;
	color:#FFF;
	display:block;
	border-radius:0;
	font-family:;
	font-weight:normal;
	font-size:12px;
	letter-spacing:0.5px;
	line-height:25px;
	margin-top:0;
	margin:0px;
	padding:0px 15px;
	text-align:center;
	text-decoration:none;
	z-index:9999999999999;
	}
	
	#customer_caremenu li a.active{
	background:# url('../images/seperator.gif') bottom right no-repeat;
	color:#fff;
	border-radius:;
	font-family:'Conv_Kautiva',Sans-Serif;
	font-weight:normal;
	font-size:12px;
	letter-spacing:0.5px;
	line-height:25px;
	margin:0px;
	padding:0px 15px;
	text-align:center;
	text-decoration:none;
	}
#customer_caremenu li a:hover {
	
	color:#DDB201;
	padding:0px 15px;
	text-decoration:none;
	}
	
	
#customer_caremenu li ul{
	background:#478d8d;
	display:none;
	height:auto;
	padding:0px;
	margin:0px; 
	border:0px;
	position:absolute;
	width:138px;
	z-index:9999999999999;
	/*top:1em;
	/*left:0;*/
	}
		
#customer_caremenu li:hover ul{
	display:block;
	
	}
#customer_caremenu li li {
	background:;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	border-bottom: 1px dotted #fff; 
	width:138px;
	}
#customer_caremenu li:hover li a{
	background:none;
	
	}
#customer_caremenu li ul a{
	display:block;
	height:25px;
	font-size:11px;
	font-style:normal;
	line-height:20PX;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
	
	#customer_caremenu li ul a:hover{
	display:block;
	background:#FFF;
	height:25px;
	font-size:11px;
	font-style:normal;
	line-height:20PX;
	margin:0px;
	color:#DDB201;
	padding:0px 10px 0px 15px;
	text-align:left;
	}



#topmenunew
{
    width:214px;
    float:left;
}

#topmenunew a.train
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/train_icon.jpg) no-repeat left center;
	padding-left:22px;
	line-height:30px;
	color:#438E61;
}

#topmenunew a.train:hover
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/train_iconhover.jpg) no-repeat left center;
	padding-left:22px;
	line-height:30px;
	height:30px;
	color:#ddb201;
}

#topmenunew a.car
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/car_icon.jpg) no-repeat left center;
	padding-left:30px;
	height:30px;
	color:#438E61;
}

#topmenunew a.car:hover
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/car_iconhover.jpg) no-repeat left center;
	padding-left:30px;
	line-height:30px;
	height:30px;
	color:#ddb201;
}

#topmenunew a.print
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/print_icon.jpg) no-repeat left center;
	padding-left:29px;
	line-height:30px;
	height:30px;
	padding:10px 0 10px 29px;
	color:#438E61;
}

#topmenunew a.print:hover
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/print_iconhover.jpg) no-repeat left center;
	
	padding:10px 0 10px 29px;
	line-height:30px;
	height:30px;
	color:#ddb201;
}

#cssmenu1 ul li train a.
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/train_icon.jpg) no-repeat left center;
	padding-left:22px;
	line-height:30px;
	color:#438E61;
}

#cssmenu1 ul li train a:hover
{
    text-decoration:none;
    margin-right:5px;
    background:url(../../../icons/train_iconhover.jpg) no-repeat left center;
	padding-left:22px;
	line-height:30px;
	height:30px;
	color:#ddb201;
}
.prise_div
{
    background:#f1f2f2; border:1px solid #cfcfcf; width:95%; padding:5px;
border-radius:5px;
float:;

}
.book_but
{
    background:url(../../Excursion/images/book_but.jpg) no-repeat center;
    width:70px; height:25px; color:#fff;
    text-decoration:none;
    padding:10px 20px;
    font-weight:bold;
    line-height:7px;
    border:none;
}

.td_hotel
{
    border:1px solid #ccc;
    height:35px;
}