
.hotspot {
	CURSOR: pointer; COLOR: #000; BORDER-BOTTOM: #000 1px dotted
}
#tt {
	DISPLAY: block; BACKGROUND: url(../images/tt_left.gif) no-repeat left top; POSITION: absolute
}
#tttop {
	DISPLAY: block; BACKGROUND: url(../images/tt_top.gif) no-repeat right top; MARGIN-LEFT: 5px; OVERFLOW: hidden; HEIGHT: 5px
}
#ttcont {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 7px; BACKGROUND: #666; PADDING-BOTTOM: 3px; MARGIN-LEFT: 5px; COLOR: #fff; PADDING-TOP: 2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
#ttbot {
	DISPLAY: block; BACKGROUND: url(../images/tt_bottom.gif) no-repeat right top; MARGIN-LEFT: 5px; OVERFLOW: hidden; HEIGHT: 5px
}
