#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  margin:0; padding:0;
  height: 400px;
  width: 164px;  

}

#CalendarControl {
  position:absolute;
  margin:0;
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #CADCEA;
  border-right: 1px solid #CADCEA;
  border-top: 1px solid #CADCEA;
  border-bottom: 1px solid #CADCEA;
}

#CalendarControl th {
	font-weight:bold;
	color:#000000;
	background-color:#E8F3FC;
	font-style: normal;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
	background-color:#DEDFDE;
	font-weight: bold;
	color: #000000;
}

#CalendarControl .weekday {
  background-color: #EFF3FA;
  color: #000;
}

#CalendarControl .pastday {
  background-color: #EFF3FA;
  color: #999999;
}


#CalendarControl .weekend {
  background-color: #FBEFDD;
  color: #000;
}

#CalendarControl .current {
  border: 1px solid #339;
  background-color: #BB1213;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #FFF;
  width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #DE2431;
  border: 1px solid #000;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
  font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#CalendarControl .title 
{
  font-size:10px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

#CalendarControl .empty {
  background-color: #FBFBFB;
  border: 1px solid #FFF;
}
