.menuMain { }
.menuMain ul { margin-left: 0px !important; }
.menuMain li {
font-family: Lucida Sans, Verdana, Geneva, Arial, Helvetica, sans-serif;
float: left;
height:77px;
margin: 1px;
margin-right: 0px;
}
.menuMain li a {
display:block;
font-size: 14px;
color: white;
padding-top:45px;
padding-left:18px;
padding-right:18px;
margin-top:10px;
font-weight: bold;
text-decoration: none;
}
.menuMain li.current {
border-top-left-radius: 10px 10px;
border-top-right-radius: 10px 10px;
background-color: #e38a00;
}
.menuMain li.current a {
font-size: 14px;
color: white;
}
.menuMain li a:hover { color: #efefef; text-decoration: none; }
.menuMain li.current a { }

.menuBottom { margin: 5px 0px 10px 0px; line-height:20px;}
.menuBottom span {
border-right: 1px solid #7f7f7f;
padding: 0px;
padding-right:10px;
margin-right:10px;
}
.menuBottom .last { border-right: none; }
.menuBottom span a { color: #c1c1c1; font-size: 12px; text-decoration: none; }
.menuBottom span a:hover { text-decoration: none; }
.menuSub ul li a {
display: block;
padding: 12px 10px 12px 10px;
background-color: #898b8f;
color: #fff;
margin-bottom: 1px;
font-size: 13px;
font-weight: bold;
font-family:calibri,sans-serif;
text-decoration: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.menuSub ul li.current a,
.menuSub ul li.current a:hover {
background-color: #85a93f;
color: #ffffff;
text-decoration: none;
}
.menuSub ul li a:hover {
background-color: #85a93f;   /* mouse over color */
color: #ffffff;
text-decoration: none;
}
.menuSub ul li ul {
margin-bottom: 1px;
}
.menuSub ul li ul li {
list-style-type: square;
list-style-position: outside;
margin-bottom: 5px;
margin-left: 10px;
}
.menuSub ul li.current ul li a {
display: inline;
background: none;
padding: 0;
color: #444444;
}
.menuSub ul li ul li.current,
.menuSub ul li ul li.current a {
color: #e38a00;
}
.menuSub ul li.current ul li a:hover {
text-decoration: underline;
background: none;
color: #e38a00;
}
/*.kwcTextImage .positionLeft .image { float: left; margin-right: 18px; }
.kwcTextImage .positionLeft .noFlow .text { padding-left: 18px; }
.kwcTextImage .positionRight .image { float: right; margin-left: 18px; }
.kwcTextImage .positionRight .noFlow .text { padding-right: 18px; }
.kwcTextImage .center .kwcTextImageImageEnlarge { padding: 0px; }
.textImage { max-width: 600px; margin-bottom: 10px; }
.textImage div.left { margin-right: 25px; }*/


.clear {clear: both;}
body.frontend { background: #262626; overflow-x: hidden; }
.page .outerHeader,
.page .outerMainMenu,
.page .outerContent,
.page .outerFooter { width: 100%; }
.page .outerContent { background: #f3f3f3; padding-top:20px; padding-bottom:20px; }
.page .outerFooter { margin: 0px 0px; padding-top:20px; height:194px; background: url(/assets/web/images/bottomBg.jpg) repeat-x top left #262626;}
.page .outerHeader .header,
.page .outerHeader .outerMainMenu .mainMenu,
.page .outerContent .content,
.page .outerFooter .footer { width: 900px; margin-left: 50px; }
.page .outerContent .outerSubMenu { float:left; width: 250px; }
.page .outerContent .outerSubMenu + .content { width: 650px; }
.page .outerContent .content { min-height: 500px; float: left; }
.page .outerHeader .outerMainMenu { position:absolute; top:132px; height: 23px; }
.page .outerHeader .header { padding-top: 45px; }
.ext-ie6 .page .outerHeader .header,
.ext-ie7 .page .outerHeader .header { margin-bottom: -17px; }
.page .outerHeader .header .logo {
float: left;
}
.page .outerHeader .header .loginRegister { float: right; margin-top: 0px; }
.page .outerHeader .header .addthisButton { position:absolute; top: 105px; left:825px;}
.page .outerContent .content { margin-top: 10px; }
.page .outerFooter .footer {
padding-top: 10px;
color: #7f7f7f;
}
.webListNone { margin-left: 0px !important; }
.webListNone li { list-style-type: none; }
.webLightbox { height: 570px !important; }
.webLightbox .lightboxBody { height: 510px !important; }
.webLightbox .lightboxBody .switchBig { display: none; }
.webForm label { width: 170px; color: #444444; }
.webForm div.submitWrapper button.submit,
.webForm div.submitWrapper input.submit {
height: auto;
font-size: 11px;
color: #fff;
background: #1493dd;
border: none;
margin-left: 190px;
padding: 3px 10px;
}
.webForm div.kwfFieldRequired label {
font-weight: bold;
}
.webForm div.submitWrapper button.submit:hover,
.webForm div.submitWrapper input.submit:hover { color: #fff; }
.webForm div.submitWrapper div.button .saving {
position: absolute;
}
.webForm input, .webForm textarea {
background: white;
border: 2px inset;
position: relative;
}
.webFormError { 
width: 548px;
background: #ffe6d1;
border: 1px solid #e38a00 !important;
margin: 20px 0px;
padding: 10px;
padding-bottom: 0px;
}
.webFormError h1 { color: #1493dd; }
div.webButton { display: inline; background: #1493dd; padding: 3px 10px; }
div.webButton a { font-weight: bold; color: #fff; }
div.webButton a:hover { color: #fff; }
.webPanel .x-panel-btns-ct,
.webPanel .x-panel-btns-ct table td { padding: 0px !important; }
.webPanel .x-panel-btns-ct table td { background: none !important; }
.webPanel .x-panel-btns-ct table td button {
font-weight: bold;
color: #fff;
border: none;
background: #1493dd;
background-image: none !important;
margin: 10px;
padding: 5px 10px !important;
}
body.error .errorMsg { margin: 20px 0px; text-align: center; }
#rssincl-box-4918 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
border: 1px solid #ccc;
}
#rssincl-box-4918 a {
color: #004276;
text-decoration: none;
}
