.heading-bg-l{background:url(../images/Register/heading-bg-l.png) no-repeat; width:8px; height:32px;}
.heading-bg-c{background:url(../images/Register/heading-bg-c.png) repeat-x; height:32px;}
.heading-bg-r{background:url(../images/Register/heading-bg-r.png) no-repeat; width:10px; height:32px;}
.form-bg{background:url(../images/Register/newbg.gif) repeat;}

.border-bottom{border-bottom:4px solid #001B7E;}
.border-bottom1{border-bottom:2px  dotted #001B7E;}


.form-txt{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#001B7E; text-decoration:none; font-weight:bold; text-align:right; padding-right:8px; }

.form-heading-txt{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#001B7E; text-decoration:none; padding-left:10px; font-weight:bold; }

.form-sub-heading-txt{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#383838; text-decoration:none; padding-left:50px; font-weight:bold; }

input[type="text"] {
    background: url(../images/Register/input-bg2.png) repeat-x scroll 0 0 transparent;
    border: 1px solid #6075BB;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    height: 28px;
    padding: 0 5px;
    width: 260px;
}

.dropdown-select {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 22px;
    margin-left: 7px;
    margin-top: 0px;
    padding: 13px 14px 5px 5px;
    width: 260px;
}

.dropdown {
    background: url("../images/Register/drop-bg.png") no-repeat scroll left top transparent;
    color: #2B2B2B;
    font-size: 12px;
    height: 37px;
    margin-left: -1px;
    overflow: hidden;
    width: 280px;
	border:0px;
}




