
.DoubleTrackBar
{
	height: 70px;
	width: 160px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
	background: url('../Images/line-c.gif') left center repeat-x;
	position: relative;
}

.DoubleTrackBar .start, .DoubleTrackBar .finish
{
	margin: 1px 0;
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 0;
}

.DoubleTrackBar .finish
{
	left: auto;
	right: 0;
}
	
.DoubleTrackBar .Tracker
{
	margin: -5px 0;
	position: absolute;
	z-index: 50;
	height: 10px;
	font-size: 0;
	background: url('../../Images/line-c.gif') left center repeat-x;
	top: 50%;
}

.DoubleTrackBar .Tracker .flr,.DoubleTrackBar .Tracker .fll
{
	margin: -8px 0;
	position: absolute;
	top: 50%;
	width: 12px;
	height: 16px;
	z-index: 60;
}

.DoubleTrackBar .Tracker .flr 
{
	left: 100%;
}

.DoubleTrackBar .Tracker .fll 
{
	left: auto;
	text-align: right;
	right: 100%;
}

.DoubleTrackBar .Tracker .dis 
{
	opacity: 0.4;
	filter: Alpha(opacity=40);
}

.DoubleTrackBar .Tracker .text
{
	top: -20px;
	z-index: 20;
	margin: 0;
	height: auto;
	font-size: 10px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	white-space: nowrap;
	width: 100px;
}
	
.DoubleTrackBar .touch 
{
	position: absolute;
	z-index: 40;
	text-align: center;
	background: #aaa;
	width: 1px;
	height: 0px;
	top: 25px;
}

.DoubleTrackBar .touch span.LeftSpan
{
	position: none;
	top: 10px; left: ;
	color: ;
	font-size: ;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	white-space: nowrap;
}

.DoubleTrackBar .touch span.RightSpan
{
	position: none;
	top: 10px; left: ;
	color: ;
	font-size: ;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	white-space: nowrap;
}