﻿body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-om: 0px;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;}
	
	@font-face {
	font-family: 'Conv_Indian Rupee';
	src: url('fonts/Indian Rupee.eot');
	src: local('☺'), url('fonts/Indian Rupee.woff') format('woff'), url('fonts/Indian Rupee.ttf') format('truetype'), url('fonts/Indian Rupee.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.Rupee
	{
		font-family:'Conv_Indian Rupee',Sans-Serif;
		width:30px;
		margin:10px auto;
		text-align:left;
		font-weight:normal;
		
	}
.menu-bg{
	background-image: ; background-repeat:repeat; background-color:#fff;  width:100%; height:68px; text-align:left; 
}
.font12{
	font-size:12px; letter-spacing:1px; color:#565656; text-decoration:none; padding-top:30px; border-radius:5px; line-height:25px;
	padding:0 10px; height:40px; text-align:center;
}

.font12 a{
	font-size:12px; letter-spacing:1px; color:#fff; text-decoration:none; padding-top:30px; border-radius:5px; line-height:45px;
	padding:10px 15px; background:#85a93f; height:40px; text-align:center;
}

.font13{
	font-size:13px; color:#565656; text-decoration:none; font-weight:bold; text-align:right;
}

.font13-bule{
	font-size:13px; color:#85a93f; text-decoration:none; 	font-weight:bold;  text-align:right; line-height:30px;
}
.font-bott{
	font-size:12px; letter-spacing:1px; color:#fff; text-decoration:none; background-color:#898b8f; height:40px; text-align:left;
}
.font13-account{
	font-size:13px; color:#585858; text-decoration:underline; font-weight:bold;  text-align:right; line-height:30px; 
	
	}
	
.border-radius{
	border-radius: 15px; background-color:#FFFFFF; width:300px; height:100px; padding:10px; text-align:left;
}

.bule-border-radius{
	border-radius: 15px; background-color:#898b8f; width:100%;  padding:0px; opacity:0.8; text-align:left;
}


.bule-border-radius-text{ color:#FFF; font-size:18px; font-weight:bold; border-bottom:#FFF 1px solid; line-height:40px; padding-left:3px; text-align:left;

}

.bule-border-radius-text12{ color:#FFF; font-size:12px; text-align:left; }


.search-guest{ color:#FFF; font-size:13px; text-decoration:underline; font-weight:bold; text-align:left;}

.font16{
	font-size:16px; color:#565656; text-decoration:none; text-align:left;
}


.text10{ color:#FFF; font-size:10px; text-align:left; }


.text-box{
	border-radius:5px; background-color:#F3F3F3; width:250px; height:15px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid;
text-align:left;}

.text-box-search{
	border-radius:5px; background-color:#fff; height:10px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid; text-align:left;
}

.font12-text{
	font-size:12px; letter-spacing:1px; color:#06f; text-decoration:underline; text-align:left;
}

.text-box-search{
	border-radius:5px; background-color:#fff; height:10px; padding:5px; font-size:12px; border:1px; border-color:#B6B6B6; border-style:solid;
text-align:left;}

.search-droup-down{ 
padding:2px; 
font-size:12px; 
border-style:solid;
text-align:left;
}

.text-box-search-cal{ 
   background-color: #FFFFFF;
    border: 0 solid #B6B6B6;
    border-radius: 5px;
    font-size: 12px;
    height: 13px;
    padding: 5px;
}
.text-box-main-search{ 
 background-color: #FFFFFF;
    border: 0 solid #B6B6B6;
    border-radius: 5px;
    font-size: 12px;
    height: 13px;
    padding: 5px;
    width: 302px
}


.button {
   border-top: 1px solid #b7cfa6;
   background: #85a93f;
   
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.button:hover {
   border-top-color: #898b8f;
   background: #898b8f;
   color: #ffffff;
   }
.button:active {
   border-top-color: #000000;
   background: #000000;
   }

.hotels {
   border-top: 1px solid #b7cfa6;
   background: #2b5900;
   
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.hotels:hover {
   border-top-color: #898b8f ;
   background: #898b8f ;
   color: #ffffff;
   }
.hotels:active {
   border-top-color: #ccc;
   background: #ccc;
   }
.green-box{
	border-radius: 5px; background-color:#458b01; padding:15px; font-size:24px; font-weight:bold; color:#FFF; line-height:2px; text-align:left;}

.USD{
	 font-size:16px; font-weight:bold; color:#85a93f; line-height:20px; text-align:left;}
.USD1{
	 font-size:16px;  color:#042f60; line-height:20px; text-align:left;}



.hotel-name{
	 font-size:14px; font-weight:bold; color:#555555; text-align:left;}


.hotel-text{
	 font-size:12px;color:#555555; text-align:justify; text-align:left;}
	 
	 .hotel-text-bold{
	 font-size:12px;color:#555555; font-weight:bold; text-align:right;}

	
.edit-search{
	border-radius: 10px; border:#ddded9 1px solid; background:url(../images/modfi-bg.jpg); background-repeat:repeat-x; height:74px; padding:2px;
}
.edit-search-font-12{
	font-size:11px; color:#333; font-weight:bold; text-decoration:none;  text-align:left;
	
	}
.edit-search-border{
	font-size:11px; color:#333;text-decoration:none; border:1px #d8d8d8 solid; text-align:left; padding:2px;
    height: 14px;
}
	
.edit-search-text-13{
	font-size:13px; color:#434343;text-decoration:none; text-align:left;	
	}
	
.edit-search-text-13-a{
	font-size:13px; color:#85a93f;text-decoration:none; font-weight:bold; text-align:left;	
	}
	
.edit-search-text-right-border{
	border-right:#ddded9 1px solid;
	}
	
	.edit-search-hotels {
   border-top: 1px solid #b7cfa6;
   background: #94d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c4c), to(#94d665));
   background: -webkit-linear-gradient(top, #3e9c4c, #94d665);
   background: -moz-linear-gradient(top, #3e9c4c, #94d665);
   background: -ms-linear-gradient(top, #3e9c4c, #94d665);
   background: -o-linear-gradient(top, #3e9c4c, #94d665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
.edit-search-hotels:hover {
   border-top-color: #2b5900;
   background: #2b5900;
   color: #ffffff;
   }
.edit-search-hotels:active {
   border-top-color: #000000;
   background: #000000;
   }
	
.edit-search-refine{
	background:url(../images/refine-bg.png); background-repeat:repeat-x; height:34px; padding:2px; font-size:13px; color:#333; text-decoration:none; font-weight:bold; text-align:center; vertical-align:middle; border-bottom: #ddded9 1px solid;
	}

.edit-search-refine-border{
border:#ddded9 1px solid; background:#f9f9f9;}
.reset-all{ border-radius: 5px; border:#d8d8d8 1px solid; font-size:11px; color:#0172bb; font-weight:bold; cursor:pointer; text-decoration:none;
}
            
   .reset-all-a{ border-radius: 5px;  font-size:11px; color:#0172bb; font-weight:bold; cursor:pointer; text-decoration:none;
         
}

.reset-all-text{ font-size:12px; font-weight:bold; text-decoration:none; color:#333; text-align:left; padding-right:5px;
}
.reset-all-text-a{ font-size:10px; font-weight:bold; text-decoration:none; color:#0071be; text-align:right;  cursor:pointer;
}
.box-search{ border:#d8d8d8 1px solid; font-size:11px; color:#333; 
}
.select-search{ font-size:11px; color:#333; font-weight:none; text-decoration:none;
}

.Search-hotel-pck{ border-radius: 5px; border:#d8d8d8 1px solid; 
}

.hotel-name{ font-size:15px; color:#0071be; text-decoration:none; font-weight:bold;
}

.Description{ font-size:12px; font-weight:normal; text-decoration:none; color:#333; text-align:justify; line-height:20px;
}

.Description-more{ font-size:12px; font-weight:bold; text-decoration:underline; color:#278c46; line-height:20px; cursor:pointer; padding-left:7px;
}	
	.rate 
	{
	    
   border: 1px solid #b7cfa6;
   
  
   padding: 5px 33px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   
   color: #333;
   font-size: 26px;
   font-weight:bold;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   cursor:pointer;
   }
/*.rate:hover {
   border-top-color: #2b5900;
   background: #2b5900;
   color: #ffffff;
   }*/
.rate:active {
   border-top-color: #000000;
   background: #000000;
   }
.rate10{ color:#333; font-size:10px; text-align:center; font-weight:bold;}

.rate-band{ color:#FFF; font-size:12px;  font-weight:bold; background:#595959;}

.Category{ color:#595959; font-size:12px;  font-weight:normal; text-align:left;}
.CancellationCategory{ color:red; font-size:12px;  font-weight:normal; text-align:left;}

.hotel-border-bott{ border-bottom:1px solid #d8d8d8; height:5px;
}
.book-button{ background:#85a93f; font-size:14px; color:#FFF; font-weight:bold; text-align:center; text-decoration:none; cursor:pointer;
}

.hotel-name-text{ background:#85a93f; font-size:11px; color:#FFF; line-height:25px; font-weight:bold; text-align:center; text-decoration:none; cursor:pointer; 
}
	
.price{
	font-size:12px; color:#1b5eac; font-weight:bold; text-align:left; text-decoration:underline; cursor:pointer;	 
	}
	
.Registration-Application-Form{ 
background-color:#85a93f;
height:13px; 
padding:5px; 
font-size:16px;
border-bottom:5px;
border-top:5px;
border-color:#85a93f; 
border-style:solid;
text-align:center;
color:#FFF;
font-weight:bold;
text-shadow: 0 1px 1px #000000
}

.mandatory{
	font-size:12px;
	color:#F00;
	text-align:left;
	font-weight:bold;
}
.big-link { display:block; text-align:left; font-size: 12px; color: #06f; text-decoration:underline;}

.main-h-pages{
    font-family:TUIType, Arial, Helvetica, sans-serif;
	color:#19313D;
	font-size:25px;
}

.main-h-pages-txt{
    font-family:TUIType, Arial, Helvetica, sans-serif;
	color:#19313D;
	font-size:16px;
}
div.example div {
	 cursor:pointer;display:block;
}
div.example a, div.example span {
	float:left; display:block; margin:10px; 

}

.Details-border{
	border:#aeaeae solid 1px; padding:0px;
}
	
.Details-Form{ 
background-color:#898b8f;
height:13px; 
padding:5px; 
font-size:16px;
border-bottom:5px;
border-top:5px;
border-color:#898b8f; 
border-style:solid;
text-align:left;
color:#FFF;
font-weight:bold;
text-shadow: 0 1px 1px #000000
}
	
.Details-text-bold{
	font-size:12px;
	font-weight:bold;
	color:#333;
	text-align:left;
	padding-left:10px;
	line-height:20px;
	
}

.Details-text{
	font-size:12px;
	color:#333;
		text-align:left;
		padding-left:10px;
		line-height:20px;
}

.Details-text-bg-color{
	background-color:#85a93f;
	font-size:12px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	border:#F00 solid 2px;
	line-height:20px;
	text-shadow: 0 1px 1px #bfbfbf;
}






<!--Menu-->

.accordionMenu {
font: 12px Arial, Verdana, sans-serif;
color:#424242;
background: #fff;
padding: 10px;
width: 500px;
margin:0;
}
.accordionMenu h1 {
margin: 0;
font-size: 20px;
text-shadow: 2px 2px 2px #aeaeae;
}
.accordionMenu h2 {
margin:5px 0;
padding:0;
}
.accordionMenu h2 a {
font-size: 13px;
display: block;
font-weight: normal;
color:#424242;
text-shadow: 2px 2px 2px #aeaeae;
text-decoration:none;
margin:0;
padding:10px 10px;
background: #8f8f8f;
background: -moz-linear-gradient( top, #cecece, #8f8f8f); /* FF, Flock */
background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#8f8f8f)); /* Safari, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcecece, endColorstr=#ff8f8f8f); /* IE 5.5 - IE 7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcecece, endColorstr=#f8f8f8f)";   /* IE 8 */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.accordionMenu :target h2 a,
.accordionMenu h2 a:focus,
.accordionMenu h2 a:hover,
.accordionMenu h2 a:active {
background: #2288dd;
background: -moz-linear-gradient( top, #6bb2ff, #2288dd);
background: -webkit-gradient(linear, left top, left bottom, from(#6bb2ff), to(#2288dd));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6bb2ff, endColorstr=#ff2288dd);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6bb2ff, endColorstr=#ff2288dd)";
color:#FFF;
}
.accordionMenu p {
padding:0 10px;
margin:0;
height: 0;
overflow: hidden;
-moz-transition: height 0.5s ease-in;
-webkit-transition: height 0.5s ease-in;
-o-transition: height 0.5s ease-in;
transition: height 0.5s ease-in;
}
.accordionMenu :target p {
overflow: auto;
height:100px;
}
<!--Menu-->




.Account-Top{ 
background-color:#0071be;
height:13px; 
padding:5px; 
font-size:16px;
border-bottom:5px;
border-top:5px;
border-color:#0091f3; 
border-style:solid;
text-align:left;
color:#FFF;
font-weight:bold;
text-shadow: 0 1px 1px #000000
}

.account-bold-red{
	font-size:10px;
	color:#F00;

}

.font13-bule-account{
	font-size:13px; color:#1b5eac; text-decoration:none; 	font-weight:bold;  text-align:left; line-height:30px;
}

.account-Service {
	font-size:12px; color:#595959; text-decoration:none; 	font-weight:bold;  text-align:left; line-height:30px;
}
.loading {
	font-size:25px;
	color:#1b5eac;
	text-align:center;
	font-weight:bold;
}

#waitBox
{
    /*width: 150px;
    height: 150px;
    background: #FFF;
    border: red dotted 5px;*/
    text-align: center;
    position: absolute;
    margin-left: -75px;
    margin-top: -75px;
    left: 50%;
    top: 50%;
    z-index: 10;    
    display: none;
}

#waitScreen
{
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
    z-index: 9;    
}

.waitprogress 
{
    font-family:tahoma,Lucida Sans Unicode,Lucida Grande,Verdana,sans-serif;  
    font-size: 13px; width: 40px; left: 75%; top: 52%; position: absolute;
    z-index: 10; font-weight: bold; color: Black; background-color: Transparent;
 }

.border-radius-hotel{
	border-radius: 10px; background-color:#FFFFFF; width:700px; padding:10px; text-align:left; color:#d9d9d9; line-height:15px;
}

.mainmenutd
    {
        width:100%;
        height:55px;
    }
    
   .mainmenutd a
    {
        padding: 15px 30px;
        height:35px;
        line-height:35px;
        text-decoration:none;
        color:#fff;
        background:#85a93f;
        margin-right:2px;
        font-size:16px;
        
    }
    
      .mainmenutd a:hover
    {
        
        height:35px;
        line-height:35px;
        
        background:#898b8f;
        color:#fff;
        font-size:16px;
        
    }



