@charset "iso-8859-1";


.bghc{margin:auto; background:url(../../images/bg_body.gif) repeat-y; width:800px;}
.bghc_footer{margin:auto; background:url(../../images/bg_footer.gif) repeat; width:800px; height:98px;}

img{border:0px;}
form{margin:0px;}


.bgHeader1{float:left; background-color:#C62226; background:url(../../images/bgHeader1.gif) repeat-x; height:31px; width:355px; padding:8px 0px 0px 0px;}
.bgHeader2{float:left; background:url(../../images/bgHeader2.gif) no-repeat; height:31px; width:80px;}
.bgHeader3{float:left; background:url(../../images/bgHeader3.gif) repeat-x; height:31px; width:325px; padding:10px 0px 0px 0px;}

.set-bg{margin:auto; width:800px; background:url(../../images/bg_body.gif) repeat-y #FFF;}
.set-body{padding:0px 28px;}
.set-left{float:left; width:140px; border:0px solid #CCC; padding:0px; background-color: #FFFFFF;}
.set-right{float:left; width:620px; border:0px; display:;}

/* BORDER --------------------------------------- */
.ctl{ width: 8px; height: 8px; background:url(../../images/ctl.gif) no-repeat;}
.ctr{ width: 8px; height: 8px; background:url(../../images/ctr.gif) no-repeat;	}
.cbl{ width: 8px; height: 10px; background:url(../../images/cbl.gif) no-repeat; }
.cbr{ width: 8px; height: 10px; background:url(../../images/cbr.gif) no-repeat; }
.linet{ background:url(../../images/linet.gif) repeat-x;}
.linebb{ background:url(../../images/linebb.gif) repeat-x;}
.lineb{ background:url(../../images/lineb.gif) repeat-x;}
.linel{ background:url(../../images/linel.gif) repeat-y;}
.liner{ background:url(../../images/liner.gif) repeat-y;}
.tredbarl{ width: 2px; height: 19px; background-image:url(../../images/tredbarl.gif); background-repeat: no-repeat;}
.tredbarr{ width: 2px; height: 19px; background-image:url(../../images/tredbarr.gif); background-repeat: no-repeat;}
.bluebarl{ width: 2px; height: 19px; background-image:url(../../images/cbluebarl.gif); background-repeat: no-repeat;}
.bluebarr{ width: 2px; height: 19px; background-image:url(../../images/cbluebarr.gif); background-repeat: no-repeat;}

/*------------- Background -----------------*/
.bgPageAct{ background-color:#FFD384;}
.bgPagenAct{ background-color:#0098C6;}
.bgPakegeH{ background-color:#FFDDBB;}
.bgPakegeS{ background-color:#FFF4DD;}
.bgPakegeT{ background-color:#FFFEEE;}
.bgPackageH_t11b{ background-color:#FFDDBB; font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none; font-weight:bold;}
.bgPackageS_t11{ background-color:#FFF4DD; font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none;}
.bgPakege_blue01{ background-color:#07519A;}
.bgPakege_blue02{ background-color:#92B0DD;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
.bgPakege_blue03{ background-color:#E2EAF8;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#545454; text-decoration:none;}
/*------------------Bottom Menu-------------*/
.manu1{ width: 60px; height:17px; background-image:url(../../images/manu1.gif);background-repeat: no-repeat;}
.manu2{ width: 60px; height:17px; background-image:url(../../images/manu2.gif);background-repeat: no-repeat;}
.manu3{ width: 64px; height:17px; background-image:url(../../images/manu3.gif);background-repeat: no-repeat;}
.manu4{ width: 64px; height:17px; background-image:url(../../images/manu4.gif);background-repeat: no-repeat;}
.b1{  background-image:url(../../images/b1.gif);background-repeat: no-repeat;}
.smenu{ width: 226px; height:30px; background-image:url(../../images/smenu.gif);background-repeat: no-repeat;}

.lgnu{
	border-left: 1px solid #75A070;
	border-right: 1px solid #75A070;
	border-bottom: 1px solid #75A070;
}
.lgntl{
	border-top: 1px solid #75A070;
	border-left: 1px solid #75A070;
}
.lgntr{	
	border-top: 1px solid #75A070;
	border-right: 1px solid #75A070;
}

.bdmenu{ border: 1px solid #DEDEDE; }
.bddetail{ border-bottom: 1px solid #DEDEDE; }

/* BACKGROUND ----------------------------------- */
.hbgavresult{ background-color: #F2D5D4;}
.hwkbgavresult{ background-color: #FEBFBC;}
.bgavresult{ background-color: #F7E7E7;}
.wkbgavresult{ background-color: #FDDADA;}
.bgavresultex{ background-color: #FEEEEB;}

.hbgrqresult{ background-color: #D3E3E3;}
.hwkbgrqresult{ background-color: #BAD4CC;}
.bgrqresult{ background-color: #E6EFEF;}
.wkbgrqresult{ background-color: #DFEFE2;}
.bgrqresulte{ background-color: #DFEFFF;}
.bgrqresultex{ background-color: #EFF4F4;}

.bgrqresultminstay{ background-color: #E3FAFA; font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 10px; color: #333333; text-decoration: none; }

/* FONT   --------------------------------------- */
.t10 {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 10px; color: #545454; text-decoration: none; }
.t10b_black {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 10px; font-weight:bold; color: #333333; text-decoration: none; }
.t11 {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none; }
.t11_Detail {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none; padding-left:10px}
.t11b_black {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #545454; text-decoration: none; }
.t11_red {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #D50D0D; text-decoration: none; }
.t11_green {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #007242; text-decoration: none; }
.t11_red_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #D50D0D; text-decoration: none; }
.t11_green_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #007242; text-decoration: none; }
.t11_green_b2 {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #99CC33; text-decoration: none; }
.t11ub_red {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #B02219; text-decoration: underline; cursor:pointer; }
.t12_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #545454; text-decoration: none; }
.t12_black {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #000000; text-decoration: none; }
.t12_green {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #007242; text-decoration: none; }
.t12_blue {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #1755A9; text-decoration: none; }
.t12_av,.t12_rq {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; text-decoration: none; }
.t12_av {color: #D50D0D;}
.t12_rq{color: #007242;}
.t12_red {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #D50D0D; text-decoration: none; line-height:220%;}
.t11b_white{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF; text-decoration:none;}
.t12_white{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #FFFFFF; text-decoration: none; padding-left:10px}
.t12_white_b{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #FFFFFF; text-decoration: none;}
.t14_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 14px; font-weight:bold; color: #545454; text-decoration: none; }
.t16_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #000000; text-decoration: none; }
.t16_red_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #B02219; text-decoration: none; }
.t16_green_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #557D22; text-decoration: none; }
.t16_blue_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #1755A9; text-decoration: none; }
.t16_pink_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #AF218E; text-decoration: none; }
.t16_org_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #FF6C1E; text-decoration: none; }
.t16_red_b {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #B02219; text-decoration: none; }
.v10b_blue{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#1755A9; text-decoration:none; font-weight:bold;}
.v10b_red{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#B02219; text-decoration:none; font-weight:bold;}
.v16_red_b {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color: #B02219; text-decoration: none; }
.v10{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#545454; text-decoration:none;}


/* FONT LINK ------------------------------------ */
.act_plnk {font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10px; color: #444444; text-decoration: underline; }
.nact_plnk {font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.nact_plnk:hover {font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFD384; text-decoration: underline; }

.t11b_black_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #333333; text-decoration: underline; }
.t11b_black_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #333333; text-decoration: underline; }

.t11b_lnk{ font-family:Tahoma, Verdana, Arial; font-size:12px; font-weight:bold; color:#333333; text-decoration:underline;}
.t11b_lnk:hover{ font-family:Tahoma, Verdana, Arial; font-size:12px; font-weight:bold; color:#D30000; text-decoration:underline;}

.t11b_org_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #FF6C1E; text-decoration: underline; }
.t11b_org_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #FF6C1E; text-decoration: underline; }

.t11b_green {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #557D22; }
.t11b_green_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #557D22; text-decoration: underline; }
.t11b_green_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #557D22; text-decoration: underline; }

.v10b_green_lnk {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight:bold; color:#557D22; text-decoration: underline; }
.v10b_green_lnk:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight:bold; color:#557D22; text-decoration: underline; }

.v10b_blue_lnk{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#1755A9; text-decoration:underline; font-weight:bold;}
.v10b_blue_lnk:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#1755A9; text-decoration:underline; font-weight:bold;}

.v10b_pink_lnk{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#AF218E; text-decoration:underline; font-weight:bold;}
.v10b_pink_lnk:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#AF218E; text-decoration:underline; font-weight:bold;}

.v10b_org_lnk{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FF6C1E; text-decoration:underline; font-weight:bold;}
.v10b_org_lnk:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FF6C1E; text-decoration:underline; font-weight:bold;}

.t11b_red_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #B02219; text-decoration: underline; }
.t11b_red_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #B02219; text-decoration: underline; }

.v10b_red_lnk {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight:bold; color:#B02219; text-decoration: underline; }
.v10b_red_lnk:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight:bold; color:#B02219; text-decoration: underline; }

.t11ub_red_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #B02219; text-decoration: underline; }
.t11ub_red_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color: #B02219; text-decoration: underline; }

.t12b_red_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #B02219; text-decoration: underline; }
.t12b_red_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #B02219; text-decoration: underline; }
	  	  
.t11_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: underline; }
.t11_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: underline; }
.t12_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; color: #CC742A; text-decoration: underline; }
.t12_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; color: #CC742A; text-decoration: underline; }

.t12b_blackTG_lnk {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #545454; text-decoration: none; }
.t12b_blackTG_lnk:hover {font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 12px; font-weight:bold; color: #B02219; text-decoration: underline; }
	  	  

/* TEXTBOX -------------------------------------- */
.txtBoxL {font-family:Arial, Helvetica, sans-serif; width:160px; font-size:11px; background-color: #FFFFFF; color: #333333;	border: 1px solid #737373;}
.txtBoxLC {font-family:Arial, Helvetica, sans-serif; width:160px; font-size:11px; background-color: #FFFFFF; color: #333333; border: 1px solid #737373; text-align:center}
.txtBoxLR {font-family:Arial, Helvetica, sans-serif; width:160px; font-size:11px; background-color: #FFFFFF; color: #333333; border: 1px solid #737373; text-align:right}


/* BOTTON --------------------------------------- */
.btnlogin{
	background-image: url(../../images/pbtnlogin.gif);
	height: 29px;
	width: 110px;
	background-repeat: no-repeat;
	background-color: #EEEEEE;
	border: none;
}
.btn {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	border:0px;
	font-weight:bold;
	background-image: url(../../images/bg_btn.gif);
	background-color: #DA3826;
	background-repeat: no-repeat;
	cursor:pointer;
	height: 22px;
	width: 100px;
}

.btnl {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	border: 0px;
	font-weight: bold;
	background-image: url(../../images/bg_btn2.gif);
	background-color: #DA3826;
	background-repeat: no-repeat;
	cursor:pointer;
	height: 22px;
	width: 143px;
}
.txtSightN{
	font-weight: bold;
	color: #33CC00;
}
.txtSightY{
	font-weight: bold;
	color: #FF0000;
}
.btnSightN{
	background-image: url(../../images/bg_btn3_n.gif);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:10px;
	margin:0 0 0 10px;
	border: 0px;
	font-weight: bold;
	background-color: #568EC9;
	background-repeat: no-repeat;
	cursor:pointer;
	width:40px;
	height:17;
}
.btnSightY{
	background-image: url(../../images/bg_btn3_y.gif);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:10px;
	margin:0 0 0 10px;
	border: 0px;
	font-weight: bold;
	background-color: #568EC9;
	background-repeat: no-repeat;
	cursor:pointer;
	width:40px;
	height:17;
}
/* -------------------------------------------------- *
.btnLogin{
	background-image: url(../../images/btnBGLogin.gif);
	height: 17px;
	width: 61px;
	background-repeat: no-repeat;
	background-color: #FFCCFF;
	border: none;
}*/

.pts18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #015B69;
	text-decoration: none;
}
.pts18b {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.pts14 {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 14px;
	color: #015B69;
	text-decoration: none;
}
.pts14:hover {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 14px;
	color: #015B69;
	text-decoration: underline;
}
.pts14b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.pts14bOrange {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FC6614;
	text-decoration: none;
}
.pts14b:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.pts11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.pts11b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.pts11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #015B69;
	text-decoration: none;
}
.ptsred11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: underline;
}
.normaltext {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 11px;
	color: #545454;
	text-decoration: none;
}
.txtBox { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #A6A6A6;
}
.txtBoxC { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #A6A6A6;
	text-align:center;
}
.txtBoxsC {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #339966;
	text-align: center;
}
.border{
	border-left: 1px solid #015B69;
	border-bottom: 1px solid #015B69;
	border-top: 1px solid #015B69;
	border-right: 1px solid #015B69;
}
.borderA{
	border-left: 1px solid #015B69;
	border-top: 1px solid #015B69;
	border-right: 1px solid #015B69;
}
.borderU{
	border-left: 1px solid #015B69;
	border-bottom: 1px solid #015B69;
	border-right: 1px solid #015B69;
}
.brB{
	border-bottom: 1px solid #015B69;
}
.brH{
	border-top: 1px solid #015B69;
}
.brTBl{
	border-bottom: 1px solid #FFFFFF;
}

.bdColor{
	background-color: #E9F1D9;
}
.bdColorC{
	background-color: #DAE7BE;
}
.bdColorS{
	background-color: #C0D793;
}


.bd_{
	border-bottom: 1px solid #CCCCCC;
}
.bd_H{
	border-top: 1px solid #CCCCCC;
}
.ptsBD{
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 11px;
	color: #015B69;
	text-decoration: none;
}
.ptsBD:hover{
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma,sans-serif;
	font-size: 11px;
	color: #015B69;
	text-decoration: none;
	background-color: #E3FFDD;
	border: 1px solid #005312;
	height: 18px;
	width: 75px;
}
.ptsBD1{
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	font-size: 11px;
	color: #015B69;
	text-decoration: none;
}
.ptsBD1:hover{
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma,sans-serif;
	font-size: 11px;
	color: #015B69;
	text-decoration: none;
	background-color: #E3FFDD;
	border: 1px solid #005312;
	height: 18px;
	width: 85px;
}

/*Enquiry CSS*/
.bdH{ border-top: 1px solid #A3A3A3;}
.bdB{ border-bottom: 1px solid #A3A3A3;}
.rsbdLR{	border-left: 1px solid #B4B4B4;	border-right: 1px solid #B4B4B4;}
.rsbdL{	border-left: 1px solid #B4B4B4;}
.rsbdRT{border-top: 1px solid #B4B4B4;	border-right: 1px solid #B4B4B4;}
.rsbdR{	border-right: 1px solid #B4B4B4;}

.bgresult{
/*	background-color: #00FF00;*/
	background-color: #E9F1D9;
}
.resultColor{
/*	background-color: #00FF00;*/
	background-color: #E9F1D9;
}
.ratingcolor{
	background-color: #015B69;
}
.actsearch{
	width: 64px; height:17px; background-image:url(../../images/manuact.gif);background-repeat: no-repeat;
}
.nactsearch{
	width: 64px; height:17px; background-image:url(../../images/manunact.gif);background-repeat: no-repeat;
}
div {
	font-family:Tahoma, Verdana, Arial;
	font-size:10px;
	color: #545454;
}
#div_result { padding:5px 5px 5px 0px; margin-bottom:5px;}
#div_allday { border:1px solid #3DBB52; background-color:#E6F6EA; width:96%; padding:5px; margin-bottom:5px;}
#div_am { border:1px solid #3DB7BB; background-color:#E6F4F6; width:96%; padding:5px; margin-bottom:5px;}
#div_pm { border:1px solid #C69B4E; background-color:#F8F2E1; width:96%; padding:5px; margin-bottom:5px;}
#div_night { border:1px solid #7E7E7E; background-color:#EAEAEA; width:96%; padding:5px; margin-bottom:5px;}
#div_original{ border:1px solid #958E80; background-color:#C5BCA9; width:96%; padding:5px; margin-bottom:5px;}

#div_mg { margin:5px 0 0 0px}
.sym_am { background:url(../../images/daystatus.gif) -0px no-repeat;}
.sym_pm { background:url(../../images/daystatus.gif) -8px no-repeat;}
.sym_night { background:url(../../images/daystatus.gif) -16px no-repeat;}
.sym_allday { background:url(../../images/daystatus.gif) -23px no-repeat;}


.v10_lnk{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#545454; text-decoration:none;}
.v10_lnk:hover{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FF0000; text-decoration:none;}
.v10_white{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#FFFFFF;}


#iconMenu{float:left; margin-right:5px;}
.setSF{float:left; padding-top:8px; margin-right:10px;}
.txtMenu{float:left; padding-top:7px; margin-right:12px;}
.txtMenu2{float:left; margin-right:12px; color:#FFFFFF;}

.titleSightseeing{height:26px; background-color:#5BB024; margin-top:7px;}
.titleTransfer{height:26px; background-color:#4C95DC; margin-top:7px;}
.titleHotelRec{height:26px; background-color:#B72E1A; margin-top:7px;}
.tTitle{float:left; padding-left:10px; padding-top:5px; font-family:Tahoma, Verdana, Arial; color:#FFFFFF; font-weight:bold; font-size:12px;}

.topicSightseeing{background-color:#DAE9A4; width:145px; height:26px;}
.bgDataSightseeing{background-color:#F1F6E2; width:145px; height:70px;}
.topicTransfer{background-color:#D5E3F2; width:145px; height:26px;}
.bgDataTransfer{background-color:#EAF1F9; width:145px; height:70px;}

.t11_green_b{ font-family:Tahoma, Verdana, Arial; font-size:11px; color:#336600; font-weight:bold; text-decoration:none;}
.t11_blue_b{ font-family:Tahoma, Verdana, Arial; font-size:11px; color:#264A6D; font-weight:bold; text-decoration:none;}
.a11_red_b{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#B72E1A; font-weight:bold; text-decoration:none;}
.a11{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#767676; font-style:normal; text-decoration:none;}

.cnt_L{float:left; background:url(../../images/cnt.gif) -0px no-repeat; width:3px; height:13px; }
.cnt_R{float:right; background:url(../../images/cnt.gif) -3px no-repeat; width:3px; height:13px; }

#bStep ,.bsStep1,.bsStep2,.bsStep3,.bsStep4,.bsStep5,.bsStep6{
	background-image:url(../../images/ico_bStep.gif);
	width:13px; 
	height:13px; 
	background-repeat:no-repeat;
}
.bsStep1{ background-position:-71px;}
.bsStep2{ background-position:-57px;}
.bsStep3{ background-position:-43px;}
.bsStep4{ background-position:-29px;}
.bsStep5{ background-position:-15px;}
.bsStep6{ background-position:-1px;}


.t11_act{ font-family:Tahoma, Verdana, Arial; font-size:11px; color:#FF6600;}
.t11b_white_lnk{font-family:Tahoma, Verdana, Arial; font-size:11px; color:#FFFFFF; font-weight:bold; text-decoration:none;}
.t11b_white_lnk:hover{font-family:Tahoma, Verdana, Arial; font-size:11px; color:#FFFFFF; font-weight:bold; text-decoration:underline;}

.iSingle{ background:url(../../images/ico_AdCh.gif) -0px -0px no-repeat; width:10px; height:13px;}
.iTwin{ background:url(../../images/ico_AdCh.gif) -0px -0px no-repeat; width:24px; height:13px;}
.iDouble{ background:url(../../images/ico_AdCh.gif) -14px -0px no-repeat; width:21px; height:13px;}
.iTriple{ background:url(../../images/ico_AdCh.gif) -14px -0px no-repeat; width:32px; height:13px;}
.iTripleCh{ background:url(../../images/ico_AdCh.gif) -36px -0px no-repeat; width:42px; height:13px;}
.iQuad{ background:url(../../images/ico_AdCh.gif) -14px -0px no-repeat; width:43px; height:13px;}

.iAdult{ background:url(../../images/ico_AdCh.gif) -0px -0px no-repeat; width:10px; height:13px;}
.iChild{ background:url(../../images/ico_AdCh.gif) -58px -0px no-repeat; width:10px; height:13px;}


.NavAct{padding-bottom:2px; border-bottom:3px solid #B72E1A;}
.NavNonAct{padding-bottom:2px; border-bottom:3px solid #FF9C49;}

.setRtype{float:left; width:55px;}
.setLpRoom{padding-top:5px; border-bottom:1px dotted #CCCCCC; margin-bottom:5px;}
.setLpRoom2{padding-top:5px;}

.hd_accom{background:url(../../images/credbar.gif) repeat-x; width:600px; height:19px;}
.hd_accom_set1,.hd_accom_set2,.hd_accom_set3,.hd_accom_set4,.hd_accom_set5{
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-size:11px; font-weight:bold; 
	color:#FFFFFF; text-decoration:none;
}
.hd_accom_set1{float:left; width:30px; text-align:center;}
.hd_accom_set2{float:left; width:160px;}
.hd_accom_set3{float:left; width:140px;}
.hd_accom_set4{float:left; width:200px;}
.hd_accom_set5{float:left; width:60px; text-align:right;}

.dt_accom_set{padding-top:3px; width:600px; border-bottom: 1px solid #CCCCCC;}
.dt_accom_set1{float:left; width:30px; text-align:center;}
.dt_accom_set23{float:left; width:300px;}
.dt_accom_set2{float:left; width:160px;}
.dt_accom_set3{float:left; width:140px;}
.dt_accom_set4{float:left; width:200px;}
.dt_accom_meal1{float:left; width:50px;}
.dt_accom_meal2{float:left;}
.dt_accom_set5{float:left; width:70px; text-align:right;}
.dt_accom_set6{float:left; width:600px; text-align:right; padding-bottom:5px;}


*{
padding:0px;
}

.setRoomPkg{background-color:#FFEBCF; border-top:1px solid #FFF;}
.pkgSetFont,.setTitle,.setTitle2{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none;}
.setTitle{float:left; border-right:1px solid #FFF; padding:5px 0px; text-align:center; font-weight:bold;}
.setTitle2{float:left; border-right:1px solid #FFF; padding:5px 0px; text-align:center;}


/* new ------------------ */
.setHead{padding:10px 0px;}
#m-left,.setStr,.setbk{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#545454;}

#m-left span.left_bghead1{ display:block; background:url(../../images/left_bghead1.gif) no-repeat; width:133px; height:25px;}
#m-left span.left_bghead2{ display:block; background:url(../../images/left_bghead2.gif) no-repeat; width:133px; height:48px;}
#m-left span.left_bghead3{ display:block; background:url(../../images/left_bghead3.gif) no-repeat; width:133px; height:35px;}
#m-left span.left_lr{ display:block; background:url(../../images/left_lr.gif) repeat-y; width:133px;}
#m-left span.left_lr ul{ margin:0px; padding:0px; list-style:none; }
#m-left span.left_lr li.nact{ height:18px; width:120px; cursor:pointer;}
#m-left span.left_lr li.act{ background-color:#FFFFEE; height:18px; width:120px;}
#m-left span.left_lr span.l{ display:block; display:inline; width:80px; color:#545454; text-decoration:underline;}
#m-left span.left_lr span.l_red{ display:block; display:inline; width:80px; color:#CC0000; text-decoration:underline;}
#m-left span.left_lr span.r{ display:block; display:inline; width:40px; color:#545454; text-align:right;}
#m-left span.left_footer{ display:block; background:url(../../images/left_footer.gif) repeat-x; width:133px; height:20px;}

#m-left span.left_bk1{ display:block; background:url(../../images/left_bk1.gif) no-repeat; width:133px; height:20px;}
#m-left span.left_bk2{ display:block; background:url(../../images/left_bk2.gif) no-repeat; width:133px; height:20px;}
#m-left span.left_bk3{ display:block; background:url(../../images/left_bk3.gif) no-repeat; width:133px; height:20px;}
#m-left span.left_bk4{ display:block; background:url(../../images/left_bk4.gif) no-repeat; width:133px; height:20px;}
#m-left span.left_bk_lr{ display:block; background:url(../../images/left_lr.gif) repeat-y; width:133px;}
#m-left span.left_bk_footer{ display:block; background:url(../../images/left_footer.gif) repeat-x; width:133px; height:20px;}

.lnkfooter{ display:block; display:inline; padding:0px 0px 10px 7px; color:#E0E0DD; font-family:Tahoma, Verdana, Arial; font-size:11px;}
.lnkfooter a{ color:#E0E0DD; text-decoration:none;}
.lnkfooter a:hover{ color:#FFF; text-decoration:underline;}
.lnkfoot{ font-family:Tahoma, Verdana, Arial; font-size:11px; color:#E0E0DD; text-decoration:none;}
.lnkfoot:hover{ font-family:Tahoma, Verdana, Arial; font-size:11px; color:#FFF; text-decoration:underline;}

.creditlimit{ padding:0px 0px 7px 0px;}
.setCurr{ padding:5px 0px 0px 10px;}
.setStr{ padding:5px 0px 0px 7px;}
.setbk{ padding:5px 0px 0px 7px;}



#title_rec{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
#title_rec span.title_rec{ display:block; background:url(../../images/title_rec.gif) no-repeat; width:180px; height:32px;}
#title_rec span.lr_rec{ display:block; background:url(../../images/lr_rec.gif) repeat-y; width:180px;}
#title_rec span.foot_rec{ display:block; background:url(../../images/footer_rec.gif) no-repeat; width:180px; height:20px;}
#title_rec ul{ margin:0px; padding:0px; list-style:none;}
#title_rec li.rec-img{ padding:7px 0px 5px 15px;}
#title_rec li.rec-name{ padding:0px 0px 0px 15px; font-weight:bold;}
#title_rec li.rec-name a{ font-family:Tahoma, Verdana, Arial; color:#CC0000; text-decoration:none;}
#title_rec li.rec-name a:hover{ font-family:Tahoma, Verdana, Arial; color:#CC0000; text-decoration:underline;}
#title_rec li.rec-star{ padding:0px 0px 5px 15px;}
#title_rec li.rec-des{ padding:0px 0px 10px 15px; border-bottom:1px solid #CCC;}
#title_rec li.rec-des a{ color:#CC0000; text-decoration:underline;}
#title_rec li.rec-des a:hover{ color:#CC0000; text-decoration:underline;}


.ico-hotels,.ico-transfer,.ico-sightseeing,.ico-package,.ico-travelguide,.ico-faq,.ico-enquiry{ 
  float:left; display:block; background:url(../../images/head_menu.gif) no-repeat; height:30px;	 
}
/* comment partition ###
a.ico-hotels{ 		background-position:0px 0px; width:88px;}
a.ico-transfer{ 	background-position:-88px 0px; width:98px;}
a.ico-sightseeing{ 	background-position:-186px 0px; width:124px;}
a.ico-package{ 		background-position:-310px 0px; width:104px;}
a.ico-travelguide{ 	background-position:-414px 0px; width:119px;}
a.ico-faq{ 			background-position:-533px 0px; width:63px;}
a.ico-enquiry{ 		background-position:-596px 0px; width:88px;}
a.ico-hotels:hover{ 		background-position:0px -37px; width:88px;}
a.ico-transfer:hover{ 		background-position:-88px -37px; width:98px;}
a.ico-sightseeing:hover{ 	background-position:-186px -37px; width:124px;}
a.ico-package:hover{ 		background-position:-310px -37px; width:104px;}
a.ico-travelguide:hover{ 	background-position:-414px -37px; width:119px;}
a.ico-faq:hover{ 			background-position:-533px -37px; width:63px;}
a.ico-enquiry:hover{ 		background-position:-596px -37px; width:88px;}
*/
a.ico-hotels{ 	 	background-position:0px 0px; width:88px;}
a.ico-transfer{ 	background-position:-90px 0px; width:96px;}
a.ico-sightseeing{ 	background-position:-188px 0px; width:122px;}
a.ico-package{ 		background-position:-312px 0px; width:102px;}
a.ico-travelguide{ 	background-position:-416px 0px; width:117px;}
a.ico-faq{ 			background-position:-535px 0px; width:61px;}
a.ico-enquiry{ 		background-position:-598px 0px; width:88px;}
/* Menu hover */
a.ico-hotels:hover{ 	 	background-position:0px 0px; width:88px;}
a.ico-transfer:hover{ 	background-position:-90px 0px; width:96px;}
a.ico-sightseeing:hover{ 	background-position:-188px 0px; width:122px;}
a.ico-package:hover{ 		background-position:-312px 0px; width:102px;}
a.ico-travelguide:hover{ 	background-position:-416px 0px; width:117px;}
a.ico-faq:hover{ 			background-position:-535px 0px; width:61px;}
a.ico-enquiry:hover{ 		background-position:-598px 0px; width:88px;}
/*
a.ico-hotels:hover{ 		background-position:0px -37px; width:88px;}
a.ico-transfer:hover{ 		background-position:-90px -37px; width:96px;}
a.ico-sightseeing:hover{ 	background-position:-188px -37px; width:122px;}
a.ico-package:hover{ 		background-position:-312px -37px; width:102px;}
a.ico-travelguide:hover{ 	background-position:-416px -37px; width:117px;}
a.ico-faq:hover{ 			background-position:-535px -37px; width:61px;}
a.ico-enquiry:hover{ 		background-position:-598px -37px; width:88px;}
*/
#menu-bar{ 
	margin:auto;
	width:760px;
	height:42px;
	font-family:Arial, Helvetica, sans-serif;
	color:#444;
}
#menu-bar div.syn_bar{float:left;}
#menu-bar div.bl{ float:left; padding:7px 10px 0px 0px; color:#384E23;}
#menu-bar div.bl a{color:#084B6E; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none;}
#menu-bar div.bl a:hover{color:#084B6E; font-size:11px; text-decoration:underline;}
#menu-bar div.br{ float:right; padding:7px 0px 0px 0px; color:#444; width:300px; text-align:right;}
#menu-bar div.br span{display:block; font-family:Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; color:#084B6E; font-size:11px;}
#menu-bar div.br a{color:#084B6E; font-size:11px; font-weight:bold; text-decoration:none;}
#menu-bar div.br a:hover{font-size:11px; font-weight:bold; text-decoration:underline;}

#listReport{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#384E23; padding-top:10px;}
#listReport ul{ margin:0px; padding:0px; list-style:none; width:300px;}
#listReport li{ border-bottom:1px dotted #CECECE; background:url(../../images/ico_report.gif) no-repeat 20px 50%; padding:7px 0px 7px 45px;}
#listReport li a{ color:#0D6FA3; text-decoration:none;}
#listReport li a:hover{ text-decoration:underline;}

/*-- Result ---------------------------*/
.num-p-nact,.num-p-act{padding:3px 4px; font-family:Arial, Helvetica, sans-serif; font-size:11px; }
.num-p-nact{ color:#FFF; background-color:#1956A9; cursor:pointer; text-decoration:none;}
.num-p-act{ color:#000; border:1px solid #D7C356; background-color:#FFDD66; cursor:default; text-decoration:none;}
.set-rs{ width:620px; padding-bottom:5px;}
.bg-rs-t,.bg-rs-c,.bg-rs-b{display:block;  width:620px;}
.bg-rs-t{ background:url(../../images/bg_rs_t.gif) no-repeat; height:15px;}
.bg-rs-c{ background:url(../../images/bg_rs_c.gif) repeat-y; padding-bottom:5px;}
.bg-rs-b{ background:url(../../images/bg_rs_b.gif) no-repeat; height:20px;}

.rs-left{display:block; float:left; width:480px;}
.s-rs-left{display:block; padding:0px 10px;}
.rs-right{display:block; float:right; width:140px;}
.s-rs-right{display:block; padding:0px 10px 0px 0px;}

.rs-left a.hn{
	display:block; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#B02219;
	background:url(../../images/csymbol.gif) no-repeat 0px 2px; 
	padding:0px 0px 15px 20px;
}

.s-rs-pic{display:block; float:left; width:130px; padding-bottom:10px;}
.s-rs-detail{display:block; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#757575; float:left; width:330px;}
.s-rs-detail p{display:block; margin:0px; padding:0px 0px 5px 0px; }
.s-rs-detail a{ color:#039; text-decoration:underline;}
.s-rs-detail a:hover{ color:#C60;}

.s-rs-mk{display:block; background:url(../../images/ico_market.gif) no-repeat 0px 5px; padding:5px 0px 5px 17px;}

.btn-rs{display:block; padding-bottom:10px; cursor:pointer;}
.rs-check,.rs-hotdeal,.rs-cancel,.rs-renovation,.rs-pricebreakup,.rs-htevent{
	display:block; 
	padding:0px 0px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	text-decoration:underline;
	cursor:default;
}
.rs-check,.rs-hotdeal,.rs-cancel,.rs-pricebreakup,.rs-renovation{
	display:block; 
	padding:0px 0px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	text-decoration:underline;
	cursor:default;
}
.rs-check,.rs-hotdeal,.rs-cancel{
	display:block; 
	padding:0px 0px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	text-decoration:underline;
	cursor:default;
}
.rs-rq,.rs-av{
	display:block; 
	padding:0px 0px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	cursor:default;
	height:15px; 
}
.rs-av{background:url(../../images/ico_av.gif) no-repeat 0px 0px; color:#CB1D1D; }
.rs-rq{background:url(../../images/ico_rq.gif) no-repeat 0px 0px; color:#669325; }
.rs-check{background:url(../../images/ico_check.gif) no-repeat 0px 0px; color:#069; display:none;}
.rs-hotdeal{background:url(../../images/Hotel/ico_hotdeal.gif) no-repeat 0px 0px; color:#1755A9;}
.rs-pricebreakup{background: no-repeat 0px 0px; color:#1755A9;}
.rs-cancel{background:url(../../images/Hotel/ico_Alert.gif) no-repeat 0px 0px; color:#C00;}
.rs-renovation{background:url(../../images/Hotel/ico_renovation.gif) no-repeat 0px 0px; color:#157400;}
.rs-htevent{background:url(../../images/Hotel/ico_htevent.gif) no-repeat 0px 0px; color:#1574CC;}


.title-rate{border:1px solid #E1E1E1;}
.bgh-rate{ background-color:#d1d1d1;}
.rs-accomr,.rs-incl-bf,.rs-totalp{ font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#757575; height:22px;}
.rs-accomr{ width:395px; border:1px solid #FFF;}
.rs-incl-bf{ width:100px; border-top:1px solid #FFF; border-bottom:1px solid #FFF;}
.rs-totalp{ width:100px; border:1px solid #FFF;}

.bd-ls-rate{border:1px solid #E1E1E1; border-top:0px; border-bottom:0px;}
.ls-rate{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#757575;}
/*.ls-accomr,.ls-incl-bf,.ls-totalp{ padding:3px 0px; border-bottom:1px solid #E1E1E1; }
.ls-accomr{width:396px; text-align:left; border-right:1px solid #E1E1E1;}*/
.ls-incl-bf{width:100px; text-align:center; border-right:1px solid #E1E1E1;}
.incl-bf{ background:url(../../images/ico_breakfast.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px; color:#C00; font-weight:bold;}
.incl-bf-n{ background:url(../../images/ico_breakfast_n.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px;}
.ls-totalp{width:101px; text-align:right;}
.s-ls{ padding:0px 10px;}

.set-hname{display:block; background:url(../../images/csymbol.gif) no-repeat 0px 3px; padding:0px 0px 5px 20px;}
/* ######################################### */
.set-bd-rate{padding:10px; width:601px;}
.bd-rate{display:block; border:1px solid #E1E1E1; padding-top:1px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#757575; font-weight:bold;}

.bgh-accomr-av,.bgh-incl-bf-av,.bgh-totalp-av{display:block; float:left; background-color:#F2D5D4;}
.bgh-accomr-av{width:380px; margin:0px 1px;}
.bgh-incl-bf-av{width:100px; margin:0px 0px;}
.bgh-totalp-av{width:95px; margin:0px 1px; text-align:right;}

.s-txt{display:block; padding:5px; height:20px; color:#757575;}
/* ######################################### */


/*-- AMEND ---------------------------*/
.set-amd{ width:620px; padding-bottom:5px;}
.bg-amd-t,.bg-amd-c,.bg-amd-b{display:block; width:620px; background:url(../../images/bg_amd_tb.gif) no-repeat;}
.bg-amd-t{ background-position:-0px -0px; height:15px;}
.bg-amd-b{ background-position:-0px -30px; height:20px;}

.bg-amd-c{ display:block; width:620px; background:url(../../images/bg_amd_c.gif) repeat-y; padding-bottom:5px;}
.t-sym-g,.t-sym-b,.t-sym-r{
	background:url(../../images/csymbol.gif) no-repeat 0px 3px; 
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight:bold; 
	text-decoration:none; 
	display:block; 
	float:left; 
	padding-left:20px;
}
.t-sym-g{color:#557D22; padding-bottom:10px;}
.t-sym-b{color:#000;}
.t-sym-r{color:#B02219;}
.t-r{
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight:bold; 
	color:#C00;
	text-decoration:none;  
	display:block; 
	float:left;
}

.sdtail-bk{display:block; float:left; width:280px; padding-bottom:2px;}

.s-period{display:block; float:left; padding:5px 0px 10px 20px;}
.s-period strong{color:#333; padding-right:5px;}
.s-set-rm{display:block; float:right; padding:5px 0px 5px 0px;}
.lnk-edit{background:url(../../images/ico_eprofile.gif) no-repeat 0px 0px; padding:0px 10px 0px 20px; font-weight:bold; font-size:12px; color:#F93; text-decoration:underline;}
.lnk-del{background:url(../../images/ico_delrec.gif) no-repeat 0px 0px; padding:0px 0px 0px 20px; font-weight:bold; font-size:12px; color:#C00; text-decoration:underline;}
.bg-title-rm{background:url(../../images/credbar.gif) repeat-x; height:19px; color:#FFFFFF; font-size:11px; font-weight:bold;}

.rm-1,.rm-2,.rm-3,.rm-4{display:block; float:left; padding-top:2px;}
.rm-1{float:left; width:40px; text-align:center;}
.rm-2{float:left; width:150px;}
.rm-3{float:left; width:150px;}
.rm-4{float:left;}
.rm-5{float:right; float:right; width:70px; text-align:right; padding-right:10px; padding-top:2px;}


.set-rm{border-bottom:1px solid #E1E1E1; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#828282;}
.ls-rm-1,.ls-rm-2,.ls-rm-3,.ls-rm-4{display:block; float:left; padding-top:2px;}
.ls-rm-1{width:40px; text-align:center;}
.ls-rm-2{width:150px;}
.ls-rm-3{width:150px;}
.ls-rm-4{width:170px;}
.ls-rm-4 strong{display:block; color:#333; padding-bottom:3px;}
.rm4-m{display:block; float:left; width:60px;}
.rm4-mr{display:block; float:left;}
.ls-rm-5{display:block; float:right; padding-right:10px; padding-top:2px;}
.rm-price-lnk{color:#B02219; font-weight:bold; font-size:11px; text-decoration:underline;}
.s-del-record{display:block; text-align:right; padding:0px 0px 10px 0px;}

.txt-epay{ display:block; float:left; padding-bottom:5px; width:150px;}
.txt-box-epay{ display:block; float:left; padding-bottom:5px;}

.set-box-flg{display:block; padding:0px 10px 0px 25px; font-family:Arial, Helvetica, sans-serif; font-size:11px;}

.flg-tl1,.flg-tl2{display:block; float:left;}
.flg-tl1{width:170px;}
.sp-box{display:block;}
.row-flg{display:block; padding:5px 0px;}
.flg-tl3{display:block; float:left; width:110px;}
.flg-tl4{display:block; float:left; width:60px;}
.flg-tl5{display:block; float:left; width:150px;}

.set-btn-amd{display:block; padding:10px 0px; text-align:right;}

.s-remark-txt{display:block; padding:7px 0px 10px 0px;}
.set-l-rmk{display:block; float:left; padding-right:10px; font-weight:bold;}
.set-r-rmk{display:block; float:left;}

.set-amount{display:block; padding:0px 0px 5px 0px; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.set-left-am{display:block; float:left; width:530px; text-align:right;}
.set-right-am{display:block; float:right; width:90px; text-align:right;}

.s-BankFee{float:right;}

.s-bg-amt{
	display:block; 
	float:right; 
	margin-top:10px; 
	padding:0px; 
	background:url(../../images/bg_amt.gif) repeat-x; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px; 
	font-weight:bold; 
	color:#B02219;
}

.s-bg-amt-l,.s-bg-amt-r{
	display:block; 
	float:left; 
	background:url(../../images/bg_amt_lr.gif) no-repeat; 
	width:10px; 
	height:50px;
}
.s-bg-amt-l{ background-position:-0px -0px;}
.s-bg-amt-r{ background-position:-10px -0px;}
.s-bg-amt-txtgamt,.s-bg-amt-txtgprc,.s-bg-amt-txtgcrr{display:block; float:left; text-align:right;}
.s-bg-amt-txtgamt{padding:14px 0px 0px 10px;}
.s-bg-amt-txtgprc{padding:14px 10px 0px 10px;}
.s-bg-amt-txtgcrr{padding:14px 10px 0px 0px;}

/*-- My Booking List ---------------------------*/


.s-lnk-str{width:620px; padding:10px 0px 0px 0px;}
.m-search{
	display:block; 
	float:left;
	background:url(../../images/ico_profile.gif) no-repeat; 
	padding:0px 15px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; color:#006600; font-weight:bold;
}	
.m-list{
	display:block; 
	float:left;
	background:url(../../images/ico_eprofile.gif) no-repeat; 
	padding:0px 15px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; color:#F60; font-weight:bold;
}
.m-detail{
	display:block; 
	float:left;
	background:url(../../images/ico_epwd.gif) no-repeat; 
	padding:0px 15px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; color:#C00; font-weight:bold;
	text-decoration:underline;
}

.bd-blist{display:block; background-color:#F2D5D4;}
.t-list-1,.t-list-2,.t-list-3,.t-list-4,.t-list-5,.t-list-6,.t-list-7,.t-list-8{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	font-weight:bold; 
	color:#C00;
	display:block; 
	float:left; 
	text-align:center;
	border-right:1px solid #FFF;
	padding:5px 0px;
}
.ls-rec{display:block; background-color:#F7E7E7; border-bottom:1px solid #FFF; cursor:pointer; padding:0px; margin:0px; text-decoration:none;}
.ls-rec:hover{ background-color:#FFFEEE; padding:0px; margin:0px; width:620px;}
.ls-list-1,.ls-list-2,.ls-list-3,.ls-list-4,.ls-list-5,.ls-list-6,.ls-list-7,.ls-list-8{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px; 
	color:#545454;
	display:block; 
	float:left; text-align:left;
	border-right:1px solid #FFF; padding:5px 0px;
}
.t-list-1,.ls-list-1{width:111px;}
.t-list-2,.ls-list-2{width:130px;}
.t-list-3,.ls-list-3{width:70px;}
.t-list-4,.ls-list-4{width:70px;}
.t-list-5,.ls-list-5{width:55px;}
.t-list-6,.ls-list-6{width:111px;}
.t-list-7,.ls-list-7{width:78px;}
.t-list-8,.ls-list-8{width:100px; border-right:0px;}

.ls-list-1,.ls-list-3,.ls-list-4,.ls-list-5,.ls-list-6,.ls-list-7,.ls-list-8{text-align:center;}

.pd-lr{ display:block; padding:0px 5px;}



/*-- End My Booking List ---------------------------*/


/*-----------------------------*/

.rsFont,.fLeft,.rsLeft,.rsRight{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: none; }
.rsLeft{float:left; width:470px; bor/der:1px solid #330000;}
.rsRight{float:right; width:120px; padding:5px 0px 0px 0px; bord/er:1px solid #EEE;}
.fLeft{float:left;}

.c_b{ clear:both;}
.c_l{ clear:left;}
.c_r{ clear:right;}

.setfooter{ margin:0px; width:760px; border-top:1px solid #CCC; padding:7px 0px 20px 0px; text-align:center;}
.setfooter a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#545454; font-weight:bold; text-decoration:underline;}

.s-logo{float:left; padding:20px 0px 0px 25px;}
.s-banner{float:right;}

/* - Case AV : -------- */ 
.txt_av,.txt_rq{font-family: Arial, Tahoma, Helvetica, sans-serif; font-size: 11px;}
.txt_av{color: #F00; } /* AV = RED ######*/
.txt_rq{color: #015B69; } /* RQ = GREEN ######*/

.bg-result{display:block; background:url(../../images/Hotel/bg_result.gif) no-repeat; width:703px;}
.rs-left{float:left; width:470px;}
.rs-htname{display:block; background:url(../../images/csymbol.gif) no-repeat 12px 17px; padding:15px 10px 10px 30px;}
.rs-htname a{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px; color:#DF3E35; text-decoration:none;}
.rs-htname a:hover{text-decoration:underline;}
.rs-right{float:right; width:140px; padding:15px 5px 10px 0px;}
.rs-r-rate{padding:10px 0px;}
.bg-result-b{display:block; background:url(../../images/Hotel/bg_result.gif) 0% 100% no-repeat; width:703px; height:30px;}

.rs-img{float:left; padding:0px 10px 10px 10px;}
.rs-img img{width:120px;}
.rs-detail{float:left; width:320px; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.rs-detail strong{color:#333;}
.rs-detail-txt{display:block; padding:5px 0px;}
.rs-detail-txt a{color:#4860AC; text-decoration:underline;}
.rs-detail-txt a:hover{color:#B02219;}
.s-rs-curr{display:block; padding-bottom:5px; color:#333;}





.lnk-list-mu{display:block; cursor:pointer; background:#F7E7E7; border-bottom:1px solid #FFF; text-decoration:none; color:#545454; font-size:11px;}
.lnk-list-mu:hover{background:#FFFEEE;}

.tmu-1,.tmu-2,.tmu-3,.tmu-4{display:block; padding:5px 0px; float:left; border-right:1px solid #FFF; text-align:center; font-size:10px; font-weight:bold; color:#D30000;}
.tmu-1{width:180px;}
.tmu-2{width:80px;}
.tmu-3{width:105px;}
.tmu-4{width:250px; border:0px;}

.mu-1,.mu-2,.mu-3,.mu-4{display:block; padding:4px 0px; float:left; border-right:1px solid #FFF;}
.mu-1{width:180px;}
.mu-2{width:80px; text-align:center;}
.mu-3{width:105px;}
.mu-4{width:250px; border:0px;}
.mu-1 span{padding-left:5px;}
.mu-3 span{padding-left:5px;}
.mu-4 span{padding-left:5px;}
.c_b{display:block; clear:both;}



#m-left span.left-ht-pro{ display:block; background:url(../../images/left_ht_promotion.gif) no-repeat; width:133px; height:57px; cursor:pointer;}
.hpro-box{padding:10px; border-bottom:1px dotted #CCC;}
.hpro-img{display:block; float:left; width:150px;}
.hpro-desc{display:block; float:left; width:440px;}
.hpro-htname{
	display:block;
	padding-top:5px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#C00;
	font-size:12px;
}
.hpro-star{padding-left:10px;}
.hpro-data{
	display:block;
	padding:10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}
.hpro-txt{display:block; padding:20px 0px 0px 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000;}
.hpro-txt span{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000; padding:0px 3px 0px 0px;}
.hpro-pg{display:block; padding:20px 0px 10px 10px;}
.rs-np-nact{
	background:#C00;
	margin-right:2px;
	padding:3px 5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.rs-np-nact:hover{background:#F60; text-decoration:none;}


.smenu-h{ background:url(../../images/bgmenu.gif) repeat-x; height:42px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.menu-h{display:block; float:left; background:url(../../images/actmenu.gif) no-repeat 100% -42px; height:42px; text-decoration:none;}
.menu-h span{display:block; float:left; padding:12px 20px 0px 20px; font-weight:bold; color:#084B6E; cursor:pointer; text-shadow:#FFF 1px 1px 0px;}
.menu-h:hover{background:url(../../images/actmenu.gif) repeat-x 0px 0px; text-decoration:none; color:#FFF; text-shadow:#084D71 1px 1px 0px;}
.menu-h:hover span{color:#FFF; text-shadow:#084D71 1px 1px 0px;}

.set-footer{padding:7px 15px 10px 15px;}
.fter{
	display:block;
	padding:15px 0px;
	text-align:center;
}
.ft-lnk{padding-bottom:25px; color:#384E23;}
.ft-lnk a{color:#555756; padding:0px 7px; font-size:11px; text-decoration:none; font-family:Tahoma, Arial;}
.ft-lnk a:hover{text-decoration:underline;}
.txtft{
	font-family:Tahoma, Arial;
	padding-bottom:5px;
	font-size:11px;
	color:#555756;
}