/* New RESULT */
.pxdtht{padding-bottom:10px;}
.rsCond-t{background:url(../images/rs_cond.gif) no-repeat;}


.rs{display:block; padding:15px 15px 10px 15px;}
.tt{display:block; background:url(../images/csymbol.gif) no-repeat 0px 2px; padding-left:20px; float:left; font-weight:bold; color:#C00; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.tt2{display:block; background:url(../images/csymbol.gif) no-repeat 0px 2px; padding-left:20px; float:left; font-weight:bold; color:#557D22; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.tt2r{float:right; padding:0px 0px 0px 0px;}
.mo-search{display:block; float:right;}

.mo-search{display:block; background:url(../images/ico_check.gif) no-repeat; cursor:pointer; padding:0px 15px 10px 22px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#F60; text-decoration:underline; font-size:11px;}

.rsCond-b{background:url(../images/rs_cond.gif) no-repeat 0% 100%; padding:0px 15px 20px 15px;}

.dt-l{float:left; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; width:100px; padding-bottom:3px;}
.dt-r{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; width:90px; padding-bottom:3px;}

.dt-l1{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; width:200px; padding-bottom:5px;}
.dt-r1{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; width:300px; padding-bottom:5px;}
.dt-l2{float:left; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; width:60px; padding-bottom:3px;}
.dt-r2{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; width:100px; padding-bottom:3px;}
.dt-r2 strong{color:#000; padding-right:5px;}
.dt-l1 strong{display:block; float:left; width:70px; color:#000;}
.dt-r1 strong{display:block; float:left; width:70px; color:#000;}

.rs-2{float:left; padding-bottom:3px; font-size:12px; width:200px; font-family:Arial, Helvetica, sans-serifl; color:#333;}
.rs-2 strong{display:block; float:left; width:65px; font-size:12px; color:#000; padding-right:5px;}
.rs-22{float:left; padding-bottom:3px; font-size:12px; width:200px; font-family:Arial, Helvetica, sans-serifl; color:#333; line-height:140%;}
.rs-22 strong{display:block; float:left; width:65px; font-size:12px; color:#000; padding-right:5px;}
.rs-2-pkg{float:left; padding-bottom:3px; font-size:12px; width:160px; font-family:Arial, Helvetica, sans-serifl; color:#333;}
.rs-2-pkg strong{font-size:12px; color:#000; padding-right:5px;}
.rs-3{float:left; padding-bottom:3px; font-size:12px; font-family:Arial, Helvetica, sans-serifl; color:#333;}
.rs-3 strong{display:block; float:left; font-size:12px; color:#000; width:70px;}

.rs-gmt-bx{padding-bottom:5px;}
.rs-gmt{float:left; padding:5px 0px 5px 0px;}
.rs-gmt strong{color:#000;}
.rs-gmt span{padding:0px 10px 0px 0px;}
.ly-av-rq{float:right; width:270px; padding:8px 0px 5px 0px;}

.rs-dt-line{border-top:1px dotted #CCC; padding:0px 0px 0px 0px; margin-top:5px;}
.av-l{display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#C00;}
.av-r{display:block; cursor:pointer; background:url(../images/Whatgif.gif) no-repeat 100% 0%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; text-decoration:underline; padding:0px 20px 5px 5px;}
.rq-l{display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#015B69;}
.rq-r{display:block; cursor:pointer; background:url(../images/Whatgif.gif) no-repeat 100% 0%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; text-decoration:underline; padding:0px 20px 0px 5px;}

.bd-av{display:block; width:220px; background:#FFFEEE; border:1px solid #CCC; padding:1px;}
.bd-av .title{display:block; font-weight:bold; padding:3px 0px; font-family:Tahoma, Arial; font-size:11px; text-align:center; color:#FFF; background:#C00;}
.bd-av span{display:block; padding:5px 10px 7px 10px; font-family:Tahoma, Arial; font-size:11px; color:#333;}
.bd-av span strong{color:#000;}
.bd-rq{display:block; width:220px; background:#FFFEEE; border:1px solid #CCC; padding:1px;}
.bd-rq .title{display:block; font-weight:bold; padding:3px 0px; font-family:Tahoma, Arial; font-size:11px; text-align:center; color:#FFF; background:#057331;}
.bd-rq span{display:block; padding:5px 10px 7px 10px; font-family:Tahoma, Arial; font-size:11px; color:#333;}
.bd-rq span strong{color:#000;}

.popbg-ap{background-color:#FFFFFF; opacity: 0; filter: alpha(opacity=30); width:100%; height:100%;  position:absolute; left:0px; top:0px; display:block; }

.alppg{
	padding:10px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.sh-alphabet {
	color:#000000;
	padding:0 5px 0 0;
}
.alpnact {
	color:#0051A1;
	padding-right:5px;
	text-decoration:underline;
	cursor:pointer;
}
.alpnact2 {
	color:#777777;
	cursor:default;
	padding-right:5px;
	text-decoration:none;
}
.alpact {
	color:#CC0000;
	cursor:default;
	font-size:14px;
	font-weight:bold;
	padding-right:5px;
	text-decoration:none;
}
.txt-p {
	color:#000000;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 5px 0 0;
}
.txt-p2 {
	color:#000000;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 0 0 5px;
}
.num-p-nact, .num-p-act {
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:3px 4px;
	margin-left:4px;
	float:left;
}
.num-p-nact {
	background-color:#1956A9;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
}
.num-p-act {
	background-color:#FFDD66;
	padding:2px 3px;
	border:1px solid #D7C356;
	color:#000000;
	cursor:default;
	text-decoration:none;
}
.p-next {
	background:#1956A9 none repeat scroll 0 0;
	border:1px solid #1956A9;
	color:#FFFFFF;
	cursor:pointer;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	margin-left:3px;
	padding:2px 7px;
	text-decoration:none;
}
.p-prev {
	background:#1956A9 none repeat scroll 0 0;
	border:1px solid #1956A9;
	color:#FFFFFF;
	cursor:pointer;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	margin-left:3px;
	padding:2px 7px;
	text-decoration:none;
}
.pgfont{font-size:12px; font-family:Arial, Helvetica, sans-serif;}


.pxtt{
	background:url(../images/credbar.gif) repeat-x;
	height:19px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
}
.px-0,.px-1,.px-2,.px-3,.px-4,.px-5{
	display:block;
	float:left;
	color:#FFF;
	padding-top:2px;
}
.px-0{width:30px;}
.px-1{width:210px;}
.px-2{width:70px;}
.px-3{width:140px;}
.px-4{width:140px;}

.pxtd{
	background:url(../images/paxline.gif) no-repeat 0% 100%;
	padding:7px 0px 10px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.ttpxrm{float:left; color:#000;}

.pxd-0,.pxd-1,.pxd-2,.pxd-3,.pxd-4,.pxd-5{
	display:block;
	float:left;
	padding-bottom:7px;
}
.pxd-0{
	width:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:2px 0px 0px 0px;
}
.pxd-1{width:210px;}
.pxd-2{width:70px;}
.pxd-3{width:140px;}
.pxd-4{width:140px;}
.pxd-5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C00;
	font-weight:bold;
	width:75px;
}
.pxd-1 select{width:200px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pxd-2 select{width:65px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pxd-3 input{width:130px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pxd-4 input{width:130px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.pxd-bx{padding-bottom:10px;}

.pxdt1,.pxdt2,.pxdt3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444;
}
.pxdt1{padding:0px 0px 3px 0px;}
.pxdt2{padding:0px 0px 3px 0px;}
.pxdt3{padding:5px 0px 0px 0px;}

.pxdt1 strong{padding-right:5px; color:#333;}
.pxdt2 strong{padding-right:5px; color:#333;}
.pxbf{float:left; padding:0px 0px 0px 30px; font-weight:bold; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pxprice{float:right; padding:0px 30px 0px 0px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pxdtp1{color:#333;}
.pxdtp2{color:#C00;}

.bxpxrq{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444; padding:15px 0px 10px 0px;}
.ttpxrq{display:block; font-weight:bold; color:#C00; padding-bottom:3px;}
.txtpxrq{display:block; color:#444; padding-bottom:5px; line-height:140%;}
.rqpx,.rqpx-cot,.rqpx-e{float:left; width:170px; display:block; padding-bottom:5px;}
.rqpx-cot input{text-align:center; width:20px; font-size:11px; border:1px solid #7F9DB9; height:14px;}
.rqpx-e input{text-align:center; width:45px; font-size:11px; border:1px solid #7F9DB9; height:14px; color:#333;}
.bxrqls{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444;}

.bxrqtarea{padding:15px 0px 10px 0px;}
.ttrqtarea{display:block; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; padding-bottom:3px; font-weight:bold;}
.tarea{display:block; padding-bottom:5px;}
.tarea textarea{width:500px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;}
.btnabasket{text-align:right; padding:10px 0px 0px 0px;}

.set-agt-pf{padding-bottom:10px;}
.tt-agt-pf{background:url(../images/rs_cond.gif) no-repeat; width:620px;}
.tt-agt-pf strong{
	display:block;
	padding:15px 15px 15px 34px;
	background:url(../images/csymbol.gif) no-repeat 15px 16px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#D11A00;
}
.bb-agt-pf{
	background:url(../images/rs_cond.gif) no-repeat 0% 100%;
	width:620px;
}
.slr-agt-pf{padding:0px 15px 20px 15px;}
.agt-lbl{display:block; float:left; padding-bottom:5px; width:100px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000;}
.agt-dta{display:block; float:left; padding-bottom:5px; width:300px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}


.tt-fltagt{background:url(../images/bd_agt_cn.gif) no-repeat; width:620px;}
.tt-fltagt-1{
	display:block;
	float:left;
	padding:15px 15px 15px 34px;
	background:url(../images/csymbol.gif) no-repeat 15px 16px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#557D22;
}
.tt-fltagt-2{display:block; float:right; padding:15px 15px 15px 0px;}
.lr-fltagt{background:url(../images/bd_agt_lr.gif) repeat-y; width:620px;}
.bb-fltagt{background:url(../images/bd_agt_cn.gif) no-repeat 0% 100%; width:620px; height:20px;}
.th-agt-flt{display:block; background:url(../images/bd_agt_flt.gif) no-repeat; height:31px; width:620px;}
.th-agt-flt1,.th-agt-flt2,.th-agt-flt3,.th-agt-flt4,.th-agt-flt5{
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:center;
	padding:8px 0px 0px 0px;
}
.th-agt-flt1{width:61px;}
.th-agt-flt2{width:100px;}
.th-agt-flt3{width:100px;}
.th-agt-flt4{width:120px;}
.th-agt-flt5{width:115px;}
.td-agt-flt{display:block; background:url(../images/bd_agt_flt.gif) no-repeat 0% 100%; width:620px;}
.td-agt-flt1,.td-agt-flt2,.td-agt-flt3,.td-agt-flt4,.td-agt-flt5,.td-agt-flt6,.td-agt-flt7{
	display:block;
	float:left;
	padding:7px 0px 6px 0px;
}
.td-agt-flt1{width:61px; text-align:center;}
.td-agt-flt2{width:100px; text-align:center;}
.td-agt-flt3{width:100px; text-align:center;}
.td-agt-flt4{width:120px; text-align:center;}
.td-agt-flt5{width:116px; text-align:center;}
.td-agt-flt6{width:60px; text-align:center;}
.td-agt-flt7{width:60px; text-align:center;}
.td-agt-flt2 input{width:80px; font-size:11px; text-align:right;}
.td-agt-flt3 input{width:80px; font-size:11px; text-align:right;}
.td-agt-flt4 select{width:100px; font-size:11px;}
.td-agt-flt5 input{width:95px; font-size:11px; text-align:right;}
.td-agt-flt6 input.btn-agtm-n2{border:0px; background:#FFF; width:50px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#AAA; cursor:pointer;}
.td-agt-flt6 input.btn-agtm1{border:0px; background:#FFF; width:50px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#0050A1; cursor:pointer;}
.td-agt-flt7 input.btn-agtm2{border:0px; background:#FFF; width:50px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#D11A00; cursor:pointer;}
.td-agt-flt-no{display:block; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000; padding:15px 0px; text-align:center; border-bottom:1px solid #D8D8D8;}
.btn-agt-flt-mkup{padding:15px 0px 10px 15px;}
.btn-agt-flt-mkup input{
	border:0px;
	background:url(../images/bg_btn.gif) no-repeat;
	width:100px;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
}
.s-flt-agt{padding:0px 15px;}
.lbl-agtmk-1,.lbl-agtmk-2,.lbl-agtmk-3{
	display:block;
	float:left;
	padding-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
}
.lbl-agtmk-1{width:120px;}
.lbl-agtmk-2{width:120px;}
.lbl-agtmk-3{width:100px;}

.inp-agtmk-1,.inp-agtmk-2,.inp-agtmk-3,.inp-agtmk-4,.inp-agtmk-5{
	display:block;
	float:left;
	padding-bottom:10px;
}
.inp-agtmk-1{width:120px;}
.inp-agtmk-2{width:140px;}
.inp-agtmk-3{width:80px;}
.inp-agtmk-4{width:105px;}
.inp-agtmk-5{width:105px;}
.inp-agtmk-1 select{border:1px solid #7F9DB9; width:110px; font-size:11px;}
.inp-agtmk-2 input{border:1px solid #7F9DB9; width:90px; text-align:right; font-size:11px; padding:1px 0px;}
.sbar{
	background:url(../images/checkbox.png) no-repeat;
	clear:left;
	display:block;
	float:left;
	height:25px;
	padding:0 5px 0 0;
	width:19px;
}

.agtmkup-th{background:url(../images/bd_agt_mkup.gif) no-repeat; width:620px; height:31px;}
.agtmkup-th1,.agtmkup-th2,.agtmkup-th3{
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:8px 0px 0px 0px;
}
.agtmkup-th1{width:70px; height:20px;}
.agtmkup-th2{width:237px;}
.agtmkup-th3{width:200px;}

.agtmkup-td{background:url(../images/bd_agt_mkup.gif) no-repeat 0% 100%; width:620px;}
.agtmkup-td1,.agtmkup-td2,.agtmkup-td3,.agtmkup-td4,.agtmkup-td5{
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 0px;
}
.agtmkup-td1{width:60px; text-align:center;}
.agtmkup-td2{width:238px;}
.agtmkup-td3{width:200px;}
.agtmkup-td2 b{display:block; font-weight:100; padding-left:10px;}
.agtmkup-td3 b{display:block; font-weight:100; padding-left:10px;}
.agtmkup-td4{width:60px; text-align:center;}
.agtmkup-td5{width:60px; text-align:center;}
.agtmkup-td4 a{color:#557D22; text-decoration:none;}
.agtmkup-td5 a{color:#0050A1; text-decoration:none;}
.agtmkup-td4 a:hover{text-decoration:underline;}
.agtmkup-td5 a:hover{text-decoration:underline;}


.page-act{display:block; float:left; background:#0050A1; color:#FFF; padding:0px 4px;}
.page-nact{display:block; float:left; background:#FFF; border-right:1px solid #CCC; padding:0px 4px; color:#333; cursor:pointer;}
.page-nact:hover{color:#0050A1;}

.agtmk-ls-bb1{float:left; padding-top:3px;}
.agtmk-ls-bb1 a{
	display:block;
	background:url(../images/bg_btn2.gif) no-repeat;
	padding:4px 0px;
	width:143px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}


.set-right{
_width:620px;
_overflow:hidden;
}

/* COACH FROM B2BLUXURY */
.pnact{font-family:tahoma; font-size:11px; color:#C00; text-decoration:none;}
.onact{font-family:tahoma; font-size:11px; color:#0051A1; text-decoration:none;}
.pnact a{font-family:tahoma; font-size:11px; color:#0051A1; text-decoration:none;}
.pnact a:hover{font-family:tahoma; font-size:11px; color:#C00; text-decoration:underline;}

.c_b{clear:both;}
.search{}

.search-rate{font-weight:bold; font-size:12px; display:block;}
.search-rate-left{float:left; width:280px; padding:3px 0 3px 12px; color:#174487; display:block; font-family:Arial, Helvetica, sans-serif; color:#CC0000;}
.search-rate-right{float:left; width:200px;}
.img-bullet{margin-right:3px; float:left;}
.img-disable{margin-right:3px; filter:alpha(opacity=30);}
.search-rate-dest{float:left; padding-right:8px; font-family:Arial, Helvetica, sans-serif; dispaly:block;}

.modify{float:right; padding-right:15px; display:block; padding-top:5px;}
a.search-modify:link, a.search-modify:visited{color:#FF6600;}
a.search-modify:hover{color:#246AD2;}

.modify-block{margin-top:5px; background:#FFFEEE; border:1px solid #DEDEDE; display:block; padding:0 10px 10px 10px;}
.search-block{margin:5px 0px 5px 0px; height:auto; display:block;}

.return-oneway{float:left; height:auto; display:block}
.return-oneway-lbl{float:left; padding:3px; margin:0px 5px 0px 0px; cursor:pointer;}
.search-rdo{float:left; cursor:pointer;}
.date-left{float:left; display:block;}
.date-right{float:right; margin:10px 0px 0px 0px; clear:both; padding-right:167px; display:block;}
.sub-block{float:left; width:160px; display:block;}
.sub-block label{padding:0 0 3px 0; margin-top:3px; display:block;}
.search-txt{text-align:center; width:64px;}
.search-date-cdr{background:url(../images/carlendar.png) right no-repeat; width:18px; height:18px; padding-left:2px; cursor:pointer;}

.sub-block{float:left; width:160px;}
.sub-block label{padding:0 0 3px 0; margin-top:3px;}
.search-cbo{cursor:pointer;}
.search-btn-cresult{background:url(../images/btn-search5.gif) no-repeat; width:78px; height:20px; border:0px; color:#FFFFFF; font-weight:bold; cursor:pointer;}



.detail{background:#FFFFFF; margin-top:10px; display:block;}
.notfound{display:block; text-align:center; color:#999999; font-style:italic; padding:3px;}
.detail-left{display:block; width:300px; float:left; height:auto; border:#E5AB67 1px solid;}
.detail-right{display:block; width:300px; float:right; height:auto; border:#E5AB67 1px solid;}
.detail-head{display:block; background-color:#FEBE72; padding:5px 0px 5px 8px; height:auto; font-size:13px; font-weight:bold;}

.detail-head-top{display:block; margin:3px; margin-bottom:8px; color:#CC0000; font-size:11px; overflow:hidden;}
.detail-head-bottom{display:block; margin:3px; padding-left:0px; color:#CC0000; font-size:11px;}
.detail-content{display:block; background:#FEFEDA; overflow:hidden; padding:3px; border-bottom:#CCCCCC 0px solid; padding-bottom:5px;}
.detail-content-0{background:#FFFFFF; overflow:hidden; height:auto; padding:3px; display:block;}
.detail-content-1{background:#FEFEDA; overflow:hidden; height:auto; padding:3px; display:block; border-top:1px solid #F8F6C3; border-bottom:1px solid #F8F6C3;}
.detail-block-1{display:block; padding:0px 0px 0px 0px; width:18px; height:auto; float:left;}
.detail-block-2{display:block; padding:3px 0px 3px 0px; width:50px; height:auto; float:left; text-align:center;}
.detail-block-3{display:block; padding:3px 2px 3px 2px; width:150px; height:auto; float:left; overflow:hidden; }
.detail-block-4{display:block; padding:3px 0px 3px 0px; width:65px; height:auto; float:left; vertical-align:top; overflow:hidden; text-align:center;}

.detail-row{padding:0 0 3px 0; display:block; overflow:hidden;}
.detail-price{display:block; padding:0; text-align:right; color:#333333;}
.detail-promotion{padding:0; text-align:right; color:#FF0000; font-size:11px; display:block;}
.detail-option{text-align:right; height:auto; overflow:hidden; display:block;}


a.view-detail{color:#B80000; text-decoration:underline; font-weight:normal; background:transparent url(../images/p_d.gif) no-repeat right; padding:0 18px 0 0;}
a.view-detail:hover{color:#B80000; text-decoration:underline;}

.cancel-policy{/*width:76px;*/ color:#FF9900; font-weight:normal; cursor:default; text-decoration:underline; font-weight:normal; /*margin:5px 0 0 70px; padding:0 0 0 18px;*/}

.process{display:block; background-color:#FEBE72; padding:0px 10px 6px 0; margin-top:10px; margin-bottom:10px; text-align:right; border:1px solid #E5AB67;}
.process-btn{margin-top:6px; background:url(../images/btn-process-b2b.gif) no-repeat; width:212px; height:25px; border:0px; color:#FFFFFF; font-weight:bold; cursor:pointer; font-family:Arial;}

/* PAYMENT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.service{width:620px; display:block;}
.fromto{display:block;}
.fromto-row{padding:3px 0px 3px 0px; min-height:20; height:auto; overflow:hidden; border-bottom:#B72E1A 1px dotted; color:#333333; background:#FFFEEE;}
.fromto-row-green{padding:5px 7px 5px 8px; display:block; background:#FFF2C6; font-family:tahoma;}
.fromto-title{float:left; width:480px; color:#CC0000; font-size:11px; font-weight:bold; display:block; font-family:Tahoma;}
.fromto-bullet-from{background:url(../images/bullet-gt.gif) no-repeat; width:15px; height:15px; margin-right:3px;}
.fromto-bullet-to{background:url(../images/bullet-lt.gif) no-repeat; width:15px; height:15px; margin-right:3px;}
.fromto-field-1{float:left; width:235px; font-weight:normal; color:#B72E1A; font-size:11px; color:#333333;}
.fromto-field-2{float:left; width:235px; font-weight:normal; color:#B72E1A; font-size:11px; color:#333333;}
.fromto-field-3{float:right; width:111px; text-align:right; color:#B72E1A; font-size:11px; color:#333333;}
.fromto-field-4{float:right;}
a.fromto-link:link{color:#CC0000;}
a.fromto-link:visited{color:#CC0000;}
a.fromto-link:hover{color:#FF0000;}

.fromto-row-white{padding:3px 5px 7px 0px; height:16px; background:#FFFEEE;}

.service-discount{border-top:#DE885E 1px solid; height:auto; overflow:hidden; background:#FFFEEE;}
.service-discount .col-1{float:left; padding:5px; font-weight:bold; color:#666666; font-style:italic; font-size:11px; border:1px }
.service-discount .col-2{float:right; padding:5px; font-weight:bold; color:#666666; padding-right:55px; font-style:italic; font-size:11px;}
.service-discount .col-3{float:right; padding:5px; font-weight:bold; color:#666666; padding-right:55px; font-style:italic; text-decoration:line-through;}

.fromto-col-1{float:left; width:140px; padding-left:8px;}
.fromto-col-2{float:left; width:75px;}
.fromto-col-3{float:left; width:140px; text-align:left;}
.fromto-col-4{float:left; width:140px;}
.fromto-col-5{float:left; width:70px;}
.fromto-col-6{float:right; text-align:center; width:50px;}

.service-total{border-top:#DE885E 2px solid; height:auto; overflow:hidden; margin-bottom:5px; background:#FFFEEE;}
.service-total .col-1{float:left; padding:5px; font-weight:bold; font-size:11px;}
.service-total .col-2{float:right; padding:5px; padding-right:56px; font-weight:bold; font-size:11px;}
.service-total .col-3{float:right; padding:5px; padding-right:56px; font-weight:bold; text-decoration:line-through; font-size:11px;}


/*=================================================================
	:: PROMOTION ::
=================================================================*/
.container{width:280px; border:2px solid #C40000; padding:1px; background:#FFFFFF;}
.promotion-header{height:30px; background-color:#C40000;}
.promotion-header strong{line-height:30px; text-align:center; display:block; font-weight:bold; color:#FFF;}
.promotion-sub-header{background-color:#AE9751;}
.promotion-sub-header strong{text-align:left; font-weight:bold; font-style:italic; color:#FFF; display:block; padding:4px 0 4px 8px;}
.promotion-date{background-color:#6F6F6F;}
.promotion-date strong{text-align:center; font-weight:normal; font-style:normal; color:#FFF; display:block; padding:4px 0;}
.promotion-description{background-color:#FEF7BE; padding:6px;}
.promotion-comment{color:#FF0000; font-size:11px; font-style:italic;}
.discount-container{background-color:#AE9751; padding:5px 8px;}
.discount-container .promotion-sub-header-left{color:#FFF; padding-bottom:3px;}
.discount-container .promotion-sub-header-left strong{color:#FFF; font-style:italic; font-size:14px;}
.discount-container .promotion-sub-header-right{text-align:center;  font-weight:bold; color:#FFF; font-size:11px;}
.discount-container .promotion-sub-header-right span{display:block; color:#FFF; text-align:right;}
.discount-container .promotion-sub-header-right del{color:#FFFFFF; display:block; text-align:right; font-weight:bold;}
.text-pmts1{display:block; padding:5px 10px 8px 10px; background-color:#fef7be;}
.text-pmts2{display:block; padding:0 10px 8px 10px; background-color:#fef7be;}
.text-pmts3{display:block; padding:0 10px 8px 10px; background-color:#fef7be;}
.promotion-0{display:block; background:url(../images/promotion.gif) no-repeat 7px 0px; width:62px; height:13px; margin-top:5px; overflow:hidden;}
.promotion-1{display:block; background:url(../images/promotion.gif) no-repeat 7px 0px; width:62px; height:13px; margin-top:5px; overflow:hidden;}

/* :: START HISTORY :: */

.service-history{border-bottom:#000000 0px solid; height:auto; overflow:hidden; width:550; color:#148F83; background:url(../images/csymbol.gif) no-repeat 5px 5px; padding:5px 0px 10px 8px;}
.service-history .col-1{float:left; padding-left:15px; font-weight:bold;cursor:pointer;text-decoration: underline;}
.service-history .col-2{float:left; padding-left:10px; color:#575757; padding-right:0px;  margin-top:5px;}
.history-row{padding:3px 3px 3px 3px; min-height:20; height:auto; width:550; overflow:hidden; border-top:0px dotted;font-size: 12px;  }
.history-col-1{float:left; width:260px; color:#535353; border-bottom:#FF0000 0px dotted;}
.history-col-2{float:right; width:300px; color:#535353; border-bottom:#206CCC 0px dotted;}
/* :: STOP HISTORY :: */


/* :: COACH HISTORY :: */
/*.show-outsize{height:365px; overflow:hidden; display:block;}
.show-insize{height:382px; overflow:scroll; display:block;}*/
.show-outsize{height:auto;display:block;}
.show-insize{height:auto;display:block;}
.fromto-res{height:auto; overflow:hidden; border:#CCCCCC 1px solid; margin-top:10px; display:block; background:#F0EFDE; font-family:Tahoma;}
.fromto-res h2{float:left; padding:10px; font-size:16px; font-weight:bold; color:#B02219; margin:0px; display:block;}
.service{height:auto; overflow:hidden; display:block;}

#ly-Alphabet{display:block; padding:10px 0px 0px 0px;}
#dPageTop{display:block; padding:5px 0px;}
.t12_red{line-height:100%;}
.rstxt-p,.rstxt-p2{
	display:block;
	float:left;
	color:#000;
}
.rstxt-p{padding-right:5px;}
.rstxt-p font{color:#C00; font-size:12px;}
.rstxt-p2 font{color:#000; font-size:12px;}
.p-nact2, .p-act2{
	display:block;
	float:left;
	color:#C00;
	background:#1956A9;
	color:#FFF;
	padding:2px 10px;
	font-size:11px;
	border-right:1px solid #FFF;
	text-decoration:none;
}

.p-nact, .p-act {
	display:block;
	float:left;
	text-align:center;
	padding:2px 0px;
	margin:0px;
	width:20px;
	border-right:1px solid #FFF;
	font-size:11px;
	text-decoration:none;
}
.p-nact{ background:#1956A9; color:#FFF; cursor:pointer;}
.p-act {background:#FFDD66; color:#000;}

.title-rate{border:1px solid #E1E1E1;}
.bgh-rate{ background-color:#d1d1d1;}
.rs-accomr,.rs-incl-bf,.rs-totalp{ font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#757575; height:22px;}
.rs-accomr{ width:345px; border:1px solid #FFF;}
.rs-incl-bf{ width:150px; border-top:1px solid #FFF; border-bottom:1px solid #FFF;}
.rs-totalp{ width:100px; border:1px solid #FFF;}

.bd-ls-rate{border:1px solid #E1E1E1; border-top:0px; border-bottom:0px;}
.ls-rate{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#757575;}
.ls-accomr,.ls-incl-bf,.ls-totalp{ padding:3px 0px; border-bottom:1px solid #E1E1E1; }
.ls-accomr{width:346px; text-align:left; border-right:1px solid #E1E1E1;}
.ls-incl-bf{width:150px; text-align:center; border-right:1px solid #E1E1E1;}
.incl-bf{ background:url(../images/ico_breakfast.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px; color:#C00; font-weight:bold;}
.incl-bf-n{ background:url(../images/ico_breakfast_n.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px;}
.ls-totalp{width:101px; text-align:center;}
.s-ls{padding:0px 10px;}

.ls-Brate{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#757575;}
.ls-Baccomr,.ls-Bincl-bf,.ls-Btotalp{ padding:3px 0px; border-bottom:1px solid #E1E1E1; }
.ls-Baccomr{width:346px; text-align:left; border-right:1px  #E1E1E1;}
.incl-Bbf{ background:url(../images/ico_breakfast.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px; color:#C00; font-weight:bold;}
.incl-Bbf-n{ background:url(../images/ico_breakfast_n.gif) no-repeat 0px 0px; padding:0px 0px 0px 17px;}
.ls-Btotalp{width:101px; text-align:right;}



