﻿.search_border {
    border: 1px solid #000066;
}

.search_topbg {
    background-color: #000066;
}


.search_toptxt {
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.ft26 {
    color: #000066;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.ft20_new {
    color: #E5482D;
    font-family: arial;
    font-size: 11px;
    text-decoration: none;
}

.ft25 {
    color: #000066;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
}

.grey {
    background-image: url("../../Images/Flight/bgline.gif");
    background-position: center center;
    background-repeat: repeat-x;
}