﻿
#main {
    background: none repeat scroll 0 0 rgb(255, 243, 179);
    border-color: rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);
    border-style: solid;
    border-width: 1px;
    clear: both;
    padding-top: 2em;
}
#contents {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115);
    border-right: 1px solid rgb(57, 85, 115);
    border-style: solid;
    border-width: 1px;
    clear: both;
    padding: 0.5em;
}
#header {
    height: 3em;
    margin-bottom: -1px;
    padding-bottom: 0;
    position: relative;
    width: 45em;
}
#header UL#primary {
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 50em;
}
#header UL#primary LI {
    display: inline;
    list-style-type: none;
    margin: 0;
}
#header UL#primary A {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-family: tahoma,verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 10em;
}
#header UL#primary SPAN {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-family: tahoma,verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 10em;
}
#header UL#primary A.current {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-family: tahoma,verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 10em;
}
#header UL#primary SPAN {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115) rgb(57, 85, 115) -moz-use-text-color;
    border-right: 1px solid rgb(57, 85, 115);
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: rgb(57, 85, 115);
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 11px;
    text-decoration: none;
}
#header UL#primary A.current {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115) rgb(57, 85, 115) -moz-use-text-color;
    border-right: 1px solid rgb(57, 85, 115);
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: rgb(0, 64, 135);
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 11px;
    text-decoration: none;
}
#header UL#primary A.current:hover {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115) rgb(57, 85, 115) -moz-use-text-color;
    border-right: 1px solid rgb(57, 85, 115);
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: rgb(0, 64, 135);
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 11px;
    text-decoration: none;
}
#header UL#primary A {
    background: none repeat scroll 0 0 rgb(0, 64, 135);
    border-color: rgb(57, 85, 115) rgb(255, 255, 255) -moz-use-text-color rgb(0, 64, 135);
    border-right: 1px solid rgb(255, 255, 255);
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
#header UL#primary A:hover {
    border-color: rgb(57, 85, 115) rgb(255, 255, 255) rgb(57, 85, 115) rgb(57, 85, 115);
    border-right: 1px solid rgb(255, 255, 255);
    margin-top: 6px;
    padding-bottom: 5px;
}
#header UL#secondary {
    bottom: -1.4em;
    left: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 50em;
}
#header UL#secondary LI A {
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color;
    border-right: 1px dotted rgb(170, 170, 170);
    border-style: none dotted none none;
    border-width: medium 1px medium medium;
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    width: auto;
}
#header UL#secondary LI SPAN {
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color;
    border-right: 1px dotted rgb(170, 170, 170);
    border-style: none dotted none none;
    border-width: medium 1px medium medium;
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    width: auto;
}
#header UL#secondary LI A {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}
#header UL#secondary LI A:hover {
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color;
    border-right: 1px dotted rgb(170, 170, 170);
    border-style: none dotted none none;
    border-width: medium 1px medium medium;
    color: rgb(51, 51, 51);
    padding: 0 10px;
}
#header UL#secondary LI A:active {
    background: none repeat scroll 0 0 transparent;
    color: rgb(0, 0, 0);
}
.tab-content {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115);
    border-right: 1px solid rgb(57, 85, 115);
    border-style: solid;
    border-width: 1px;
    clear: both;
    padding: 0.5em;
}
.longtab-content {
    background: none repeat scroll 0 0 rgb(239, 243, 247);
    border-color: rgb(57, 85, 115);
    border-right: 2px solid rgb(57, 85, 115);
    border-style: solid;
    border-width: 2px;
    clear: both;
    color: rgb(0, 0, 0);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0.5em;
    text-decoration: none;
}
.tx1 {
    color: rgb(0, 132, 255);
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-decoration: none;
}
.tx2 {
    color: rgb(0, 132, 255);
    font-family: arial;
    font-size: 11px;
    text-decoration: none;
}
.tx3 {
    color: rgb(0, 64, 135);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.tx4 {
    color: rgb(0, 64, 135);
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.tx5A {
    color: rgb(170, 0, 0);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.tx6 {
    color: rgb(0, 0, 0);
    font-family: verdana;
    font-size: 12px;
    text-decoration: none;
}
.tx6A {
    color: rgb(0, 0, 0);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.tx7 {
    color: rgb(0, 84, 255);
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
}
.tx7A {
    color: rgb(0, 84, 255);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.tx8 {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
}
.tx9 {
    color: rgb(0, 17, 242);
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.tx10 {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.tx11 {
    color: rgb(170, 0, 0);
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.tx12 {
    color: rgb(0, 64, 135);
    font-family: verdana;
    font-size: 12px;
    text-decoration: none;
}
.tx13 {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.tx14 {
    color: rgb(32, 96, 167);
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.L1 {
    color: rgb(175, 37, 0);
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
A.L1:hover {
    color: rgb(167, 0, 215);
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.L2 {
    color: rgb(167, 0, 215);
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
A.L2:hover {
    color: rgb(216, 0, 117);
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.L3 {
    color: rgb(0, 132, 255);
    font-family: arial;
    font-size: 11px;
    text-decoration: none;
}
A.L3:hover {
    color: rgb(175, 37, 0);
    font-family: arial;
    font-size: 11px;
    text-decoration: underline;
}
A.L4 {
    color: rgb(35, 85, 156);
    font-family: verdana;
    font-size: 12px;
    text-decoration: none;
}
A.L4:hover {
    color: rgb(6, 0, 236);
    font-family: verdana;
    font-size: 12px;
    text-decoration: underline;
}
A.L5 {
    color: rgb(170, 0, 0);
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
A.L5:hover {
    color: rgb(0, 17, 242);
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.ft1 {
    color: rgb(231, 103, 0);
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.ft2 {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.ft3 {
    color: rgb(24, 74, 165);
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
A.ft4 {
    color: rgb(0, 96, 197);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.ft4:hover {
    color: rgb(163, 0, 0);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
.ft5 {
    color: rgb(0, 96, 197);
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
}
A.ft6 {
    color: rgb(163, 0, 0);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.ft6:hover {
    color: rgb(0, 96, 197);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
A.ft7 {
    color: rgb(0, 96, 197);
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}
A.ft7:hover {
    color: rgb(163, 0, 0);
    font-family: Arial;
    font-size: 12px;
    text-decoration: underline;
}
A.ft8 {
    color: rgb(163, 0, 0);
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
A.ft8:hover {
    color: rgb(0, 96, 197);
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.ft9 {
    color: rgb(0, 96, 197);
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
}
.ft9_small {
    color: rgb(0, 96, 197);
    font-family: verdana;
    font-size: 9px;
    text-decoration: none;
}
.ft10 {
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.ft11 {
    color: rgb(6, 74, 173);
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.copyright {
    color: rgb(0, 0, 0);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.alinkbig {
    color: rgb(40, 66, 129);
    font-family: Arial,Verdana;
    font-size: 9pt;
    text-align: left;
    text-decoration: none;
}
.alinkbig:hover {
    color: rgb(204, 51, 0);
    font-family: Arial,Verdana;
    font-size: 9pt;
    text-align: left;
    text-decoration: underline;
}
.main1 {
    color: rgb(0, 96, 197);
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
}
.head_top {
    border-style: none;
    color: rgb(0, 0, 0);
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
}
.inner_head {
    color: rgb(0, 96, 197);
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
}
.inner_content {
    color: rgb(0, 96, 197);
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
}
.header {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.header1 {
    color: rgb(0, 85, 170);
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.detail {
    color: rgb(0, 85, 170);
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.header2 {
    color: rgb(0, 102, 204);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.firstrow {
    border-color: rgb(0, 102, 204);
    border-right: 1px solid rgb(0, 102, 204);
    border-style: solid;
    border-width: 1px;
}
.tx5B {
    color: rgb(170, 0, 0);
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.bus_ticket1 {
    color: rgb(0, 102, 204);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
}
.bus_headingticket {
    color: rgb(0, 102, 204);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.bus_ticket_txt2 {
    color: rgb(0, 102, 204);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.bus_heading {
    color: rgb(13, 97, 159);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.bus_blue_txt {
    color: rgb(0, 73, 173);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.form_element {
    border-color: rgb(0, 96, 197);
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 96, 197);
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.firstrow_bottom {
    border-bottom: 1px solid rgb(0, 96, 197);
}
.firstrowtip {
    border-color: rgb(0, 96, 197);
    border-right: 1px solid rgb(0, 96, 197);
    border-style: solid;
    border-width: 1px;
}
