@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}



@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
 display:inline;
 width:auto;
 margin-right:5px;
 height:auto;
 /* top: -9999px;
  left: -9999px;*/
}

input{border:1px solid #ddd; height:40px; padding:0 15px;}
textarea{border:1px solid #ddd; height:80px; padding:0 15px;}
.button{display:inline-block; padding:10px 20px; width:auto; height:auto; color:#fff; background-color: #4CAF50; margin-left:10px;}
.button:hover{background-color: #46c74b;}
label {
  display: ;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #737373;
    display: block;
    font-family: "Roboto",arial,helvetica,sans-serif;
    font-size: 15px;
    padding: ;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.17s ease-out 0s;
}
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .55em;
  width: ;
  padding:10px 3%;
 /* background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);*/
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  width:;
  cursor: pointer;
  height:47px;
  color:#fff;
}
nav[role="custom-dropdown"] ul > li:hover {
 
  color: #fff;
  
  
   background-image: url(../images/leftmenu.png), url(../images/rightmenu.png), url(../images/midlemeu.png);
  background-position: left, right, center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  height:45px;
  
}
nav[role="custom-dropdown"] ul > li.active {
 
  
  
  
   background-image: url(../images/leftmenu.png), url(../images/rightmenu.png), url(../images/midlemeu.png);
  background-position: left, right, center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  height:45px;
  color:#fff;
}



nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;
}

nav[role="custom-dropdown"] ul > li.active > a {
  color: #fff;
}

/* small screens */
@media screen and (max-width: 60em) {
  html,
  body {
    margin: 0;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  nav[role="custom-dropdown"] label {
    /* position: relative;*/
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
  /*  border: 0.15em solid rgba(60, 60, 60, 0.2);*/
    
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 11px;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}