﻿

.clear {clear: both; height:0px; line-height:0px; font-size:0px;}
.flL{float:left;}
.flR{float:right;}
.flLI{float:left !important;}
.flRI{float:right !important;}
.mauto{margin:0 auto;}
.b{font-weight:bold;
   color:#000066;
   }
.f11{font-size:11px;}
ol, ul{ list-style: none;}
.wfull{float:left;width:100%;}
.nobreak{width:100%;clear:both;height:1px;line-height:1px;}
.clr {clear: both;}
.w100{width:100px;}
.w175{width:175px;}
.w130{width:130px;}
.w150{width:134px;}
.w120{width:120px;}
.w220{width:220px;}
.w224{width:224px;}
.w75{width:75px;}
.w85{width:85px;}
.w70{width:70px;}
.w18{width:18px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w700{width:700px;}

a{color:#E5482D; text-decoration:none;cursor:pointer;} 
a:hover{text-decoration:underline; color:#ff820a;}
.brdnone{border:none;}
img{border:none;margin:0;padding:0;}
*{margin:0;padding:0;}
form{margin:0;padding:0;}
.mt5{margin-top:5px;}
.mt3{margin-top:3px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mr10{margin-right:10px;}
.mr35{margin-right:35px;}
.pl12{padding-left:12px;}
.pl20{padding-left:20px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pt5{padding-top:5px;}
.pt3{padding-top:3px;}
.ml15{margin-left:15px;}
.ml5{margin-left:5px;}
.pr5{padding-right:5px;}
.mr5{margin-right:5px;}
.mt15{margin-top:15px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb5{margin-bottom:5px;}
.fnb{font-weight:normal;}
.tac{text-align:center;}
.pd5{padding:5px;}
.mt3i{margin-top:3px\0/}
.pbl3{float:left;padding-bottom:3px;}
input{color:#000066;width:auto;font-size:90%;}
/*input{font-size:11px !important;}*/
/*select{font-size:11px !important;}*/
select{color:#000066;font-size:90%; border:1px solid #000066;padding:3px;}
select option{padding-left:3px;}
.txt14{font-size:14px;}
.txtorg20{font-size:20px; color:#F17C0E}
.txtaqua18{font-size:18px; color:#04819a}
.txtorg24{font-size:24px; color:#F17C0E}
.txtorg{color:#ff820a}
.txt11{font-size:11px;}
.txt10{font-size:10px;}
.txt12{font-size:12px;}
.txt16{font-size:16px;}
.txtgray{color:#717171}
.txtblack{color:#000;}
.TextRed{font-size:12px; font-weight:bold; color:#f00;}
.tac{ text-align:center;}
.lh21{line-height:21px;}
.lh14{line-height:14px;}
.lh15imp{line-height:15px !important;}
.curpointer{cursor:pointer;}
.txtlinkblue{color:#2D84B9 !important;}
.txtstrikeprice{text-decoration: line-through; color:#717171;}
.mt80{margin-top:80px !important}
.block{display:block;}

.bttn200,.bttn150,.bttn175,.bttn205,.bttngrey,.btnorgSelection,.btnbluesma{background:transparent url("images/buttons_sprite.gif") no-repeat scroll 0 0;}
.ic_discal, .ic_cal, .IcoCallaction,.worldwide,.worldwide_IN,.worldwide_UK,.worldwide_US,.facebook,.gplus, .twitter, .ic_ArrowDown, .dragarrow1, .dragarrow2, .dragscrollbar, .icofullview, .icosplitview, .icoweekview, .icomonthview, .icoshow, .ytmiles, .ArrowRight, .calPopArrow, .shortbyarrow, .ico_flt, .multisep, .calPopDownArrow, .bookingTick, .printIcon, .saveIcon, .addIcon, .btnorg, .btnorg_big, .seatMap, .irctc-logo, .sortbyarrowup, .sortbyarrowdown, .navDownArrow,.ic_minus,.ic_plus,.ic_ardn,.ic_ardw, #ytCalLft, #ytCalRht, .modifybtnorg, .ic-intinfo,.ic_popInsurance,.ic-info,.ic_pre,.ic_next,.errSign,.liSquare, .ArrowLeft, .ic_cross{background:url("images/common-sprite-blue.gif") no-repeat scroll 0 0;}
.ic_popAeroRight,.ic_popAeroLeft{background:url("images/common-sprite.gif") no-repeat scroll 0 0;}
.bttn200{box-shadow:none;border:0 none;color:#fff;cursor:pointer;font-size:16px !important;font-weight:bold;background-position:0 -498px;width:195px;height:32px;}
.bttn150{box-shadow:none;border:0 none;color:#fff;cursor:pointer;font-size:20px !important;font-weight:bold;background-position:0 -337px;width:148px;height:53px; text-shadow: 0 1px 1px #1F1818;}
.bttngrey{box-shadow:none;border:0 none;color:#000;cursor:pointer;font-size:11px;font-weight:bold;background-position:0 -268px;width:114px;height:22px;padding:1px 3px 2px 3px;}
.btnorgSelection{background-position:0 -40px;border:0 none;color:#fff;cursor:pointer;font-size:14px;font-weight:bold;margin:5px 0 0 12px;padding:0;width:180px;height:27px;}
/*.btnorg{border:#f88f00 1px solid; height:26px; padding:1px 1px 5px 1px !important; background-position:0px -419px;color:#fff;font:bold 11px Arial, Helvetica, sans-serif; cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:65px}*/
.btnorg{border:#f88f00 1px solid; padding:2px 1px 4px 1px ; ^padding:2px 6px 2px 1px;background-position:0px -419px;color:#fff;font:bold 11px Arial, Helvetica, sans-serif; cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:65px}

.modifybtnorg{border:#f88f00 1px solid; padding:2px 1px 4px 1px ; ^padding:2px 6px 2px 1px;background-position:0px -419px;color:#fff;font:bold 11px Arial, Helvetica, sans-serif; cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;width:119px}
.btnorg_big{box-shadow:none;border:#f88f00 1px solid; height:26px; padding:1px 1px 3px 1px !important; margin:0 10px;font:bold 14px Arial, Helvetica, sans-serif !important;background-position:0px -419px;color:#fff;cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:65px;width:180px;}
.btngrey_small{box-shadow:none;border:#949494 1px solid; height:20px; padding:1px 1px 4px 1px !important; margin-top:3px;font:bold 12px Arial, Helvetica, sans-serif;background-position:0px -450px;color:#000;cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:33px;}
.btngrey_small_grey{border:#949494 1px solid; height:20px; padding:1px 1px 4px 1px !important; margin-top:3px;font:bold 12px Arial, Helvetica, sans-serif;background-position:0px -450px;color:#000;cursor:default;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:33px;}
.btngrey_small_active{border:#ED8814 1px solid; height:20px; padding:1px 1px 4px 1px !important; margin-top:3px;font:bold 12px Arial, Helvetica, sans-serif;background-position:0px -450px;
color:#FFF;cursor:pointer;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;min-width:33px;/*background-image:url("images/be-calender-sel.gif");*/background-color:#ED8814;}
.btnbluesma{box-shadow:none;border:0 none;color:#fff;cursor:pointer;padding-bottom:5px;font-size:12px !important;font-weight:bold;background-position:0 -544px;width:76px;height:27px;}

.ic_pre {background-position:-97px -167px; padding:2px 0px 2px 5px; margin-left:5px; cursor:pointer;}
.ic_next {background-position:-119px -167px; padding:2px 0px 2px 5px; cursor:pointer;}
a:hover .ic_pre {background-position:-140px -167px; padding:2px 0px 2px 5px; margin-left:5px; cursor:pointer;}
a:hover .ic_next {background-position:-162px -167px; padding:2px 0px 2px 5px;cursor:pointer;}
.errSign{float:left;background-position:0px -303px;width:33px;height:29px;}
.ic-info{background-position: 0px -183px; padding:3px 8px; /*padding-top:0px;*/ margin-left:3px;  cursor:pointer;}

#YT-Wrapper{width:990px;margin:0 auto;}
#YT-MainContainer{float:left;width:970px;padding-bottom:0px; padding:0 10px 0 10px;margin:0; background:url("images/bkgd.png");background-repeat:repeat-y;background-position:left top; height:100%}
#YT-Header{float:left;width:970px;}
#YT-Content{float:left;width:950px;padding:10px;height:auto !important;margin-bottom:25px;min-height:530px; background-color:#FFFFFF;}
#YT-Footer{float:left;font-size:11px;width:100%;background-color:#e2f5f8;}
#YT-Content .ContentBody{float:left;width:950px;padding:0; margin:10px 0 0 0;}

#YT-Header .LogoNav{float:left;width:950px;background-color:#fff;margin:5px 10px 10px;}
/*#YT-Header .LogoNav .LogoNavLft{float:left; width:206px; margin-top:2px;}*/
#YT-Header .LogoNav .LogoNavLft{float:left; width:400px; margin-top:5px; padding-left:8px;//padding-left:4px; position:relative}
#YT-Header .LogoNav .LogoNavPunch{float:left; border:#dce1e1 1px; border-left-style:solid; padding:6px 0 9px 10px;margin:25px 0 0 5px;color:#747475; font-size:90%;}
#YT-Header .LogoNav .LogoNavRht{float:right; width:510px;}
#YT-Header .LogoNav .LogoNavRht ul li { display: inline;}
#YT-Header .LogoNav ul.CallAction{float:right;width:auto;margin:5px 0 10px 0; position:relative;}
.IcoCallaction{background-position:-172px -1px;float:left;width:auto;height:18px;padding:1px 0 0 12px;}
.whiteBg{float:left;width:auto;_margin-right:10px;}
.worldwide{background-position:68px -358px;background-repeat:no-repeat; text-decoration:none;padding: 0 32px 0 27px;}
.worldwide_IN{background-repeat:no-repeat;background-position:63px -358px; padding:0 39px 0 9px;}
.worldwide_UK{background-repeat:no-repeat;background-position:63px -340px; padding:0 39px 0 9px;}
.worldwide_US{background-repeat:no-repeat;background-position:63px -377px; padding:0 39px 0 9px;}
.worldwide:hover{background-position:68px -358px; text-decoration:none;padding: 0 32px 0 27px; }
.Count_panel {background:#fff;border:1px solid #008191;position:absolute; right:-3px;margin:1px 0px 0px 0px;^margin:1px 0px 0px -470px;_right:6px;padding-bottom:1px;z-index:110;}
.Count_panel ul{float:left;width:92px;margin:0;padding:6px 0 0 0;color:#048299;}
.Count_panel ul li{list-style-type:none; font-size:90%;display:block!important; margin:5px 0;^margin:5px 0;}
.Count_panel ul li.whiteBg {background-color: #fff; padding:4px; }

.Count_panel ul li.sep{padding:0 8px 0 8px;}
#YT-Header .LogoNavRht ul.Social {float:right;width:100%;color: #048299;font-weight:bold;margin-top:5px;text-align:right; line-height:20px;}
#YT-Header .LogoNavRht ul.Social li {display: inline;font-size: 90%; margin:0 4px;}
#YT-Header .LogoNavRht ul.Social li span.sep{padding:0 8px;}
#YT-Header .LogoNavRht ul.Social li a{ text-decoration:none;}
#YT-Header .LogoNavRht ul.Social li a:hover{ text-decoration:underline;}
.facebook { background-position:0px -207px;padding:3px 23px; cursor:pointer;}
.gplus { background-position:0px -237px;padding:3px 16px; cursor:pointer;}
.twitter { background-position:0px -267px;padding:3px 30px; cursor:pointer;}

.MainNav ul, .MainNav ul li .CsTab, .BoxTabBE ul li.dsel a, .CalenderTable table.calendar td, .CalenderTable table.calendar td.entry:hover, table.calendar td.best:hover, table.calendar td.today:hover, .CalenderTable table.calendar td.todayNoEntry, .CalenderTable table.calendar td.today , .CalenderTable table.calendar td.best, .PortletBox {background:url("images/background.gif") no-repeat scroll 0 0;}

#YT-Header .MainNav{float:left; width:950px;}
#YT-Header .MainNav ul{float:left;padding:0 0 0 20px; margin:0px; list-style:none;background-repeat:repeat-x;background-position:0 0; width:950px;height:34px\0/;}
#YT-Header .MainNav ul li{float:left; display:inline; color:#CCC;}
#YT-Header .MainNav ul li.sel{background:url('images/tab_shadow.png'); background-repeat:no-repeat; background-position:right bottom;padding:0 11px 0 0;}
#YT-Header .MainNav ul li .CsTab{background-position:0 -39px; background-color:#fff;background-repeat:repeat-x; padding:8px 10px;margin-top:1px;border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8; border-right:1px solid #d8d8d8;-moz-border-radius-topleft:6px;border-radius-topleft:6px;-moz-border-radius-topright:6px;border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;}
.ic_ArrowDown{ background-position:-29px -143px; padding:2px 3px; text-decoration:none;}
.ic-intinfo {background-position: 0 -184px;cursor: pointer;padding: 3px 8px;}

#YT-Header .MainNav ul li.SelectShadow{background:url("images/tab_shadow.png");background-repeat:no-repeat;background-position:right; padding:0 10px 0 0; position:relative;}
#YT-Header .MainNav ul li a span.IcoDiscount{background:url("images/ico-discount.gif");background-repeat:no-repeat;padding:6px 10px 10px 18px;}
#YT-Header .MainNav ul li a{ float:left; text-decoration:none; font-weight:normal; font-size:12px; margin:0; padding:13px 0 5px 0 ; -moz-border-radius-topleft:6px;border-radius-topleft:6px;-moz-border-radius-topright:6px;border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px; border-top-left-radius:6px; border-top-right-radius:6px;}
#YT-Header .MainNav ul li a:hover{color:#f18518;}
#YT-Header .MainNav ul li.sep{float:left;padding:12px 10px 0 10px;}
#YT-Header .MainNav ul li.sepmax{float:left;width:197px;//width:185px;}
#YT-Header .MainNav ul li a.Selected{ border-left:1px solid #d7d7d7; border-top:1px solid #d7d7d7; padding: 13px 15px 5px 15px; border-right:1px solid #d7d7d7; background-color:#fff; color:#f18518;}
#YT-Header .MainNav ul li a:hover.Selected{text-decoration:none; cursor:default;}
#YT-Header .MainNav ul li a span.Home,.MainNav ul li a span.HomeActive{background: url("images/common-sprite-blue.gif") no-repeat;;background-position:0 -23px;padding:5px 6px 0 9px;}
#YT-Header .MainNav ul li a span.HomeActive{background: url("images/common-sprite-blue.gif") no-repeat; background-position:0 0px;}
#YT-Header .MainNav ul li a div.deals{float:left;width:45px;padding:0 2px 0 5px; background-color:#f38410; color:#fff; background-image:url("images/ico-whtarrow.gif");background-repeat:no-repeat;background-position:40px center;}
.white_arrow_down{background-position:-167px -742px;}
/* ADDED FOR DROP DOWN MENU */
#YT-Header .MainNav ul li div{^margin:15px 0 0 7px !important;_margin:15px 0 0 -17px !important;background-color:#FF0000; position:absolute; ^top:0; ^left:50px;_left:74px;}
#YT-Header .MainNav ul li ul{float:left;list-style-type:none;width:172px;margin:16px 0 0 0px;^margin:15px 0 0 -57px; padding:0;border:1px solid #d6d4d5;position:absolute;background:none #ffffff;z-index:999;height:auto;}
#YT-Header .MainNav ul li ul li{float:left;font-size:100%;color:#037a9c;margin:0;padding:0px;font-weight:normal;}
#YT-Header .MainNav ul li ul li.brd{float:left;border-top:1px dotted #9c9c9c;width:100%;padding:0;margin:0;height:1px; //line-height:2px;}
#YT-Header .MainNav ul li ul li a{float:left;color:#037a9c;padding:4px 0 4px 5px;width:163px;text-decoration:none;font-weight:normal;margin:1px;}
#YT-Header .MainNav ul li ul li a:hover{width:165px;color:#037a9c;background-color:#ffed7f;padding:4px 0 4px 5px;text-decoration:underline;font-weight:normal;margin:1px;-moz-border-radius-topleft:0px;border-radius-topleft:0px;-moz-border-radius-topright:0px;border-radius-topright:0px;-webkit-border-top-left-radius:0px;-webkit-border-top-right-radius:0px; border-top-left-radius:0px; border-top-right-radius:0px;}
#YT-Header .MainNav ul li ul{visibility:hidden;} 
/* ADDED FOR DROP DOWN MENU */


.calPopDownArrow{background-position: -16px -142px;padding: 0 8px 0 0;}
.liSquare {background-position:-176px -376px;background-repeat:no-repeat;display:block !important;width:98%;margin:2px 0 !important;padding-left:10px;color:#6D6D6D;clear:both;}
#signInPopUp {position:absolute;width:228px;height:auto;display:none;text-align:left;margin-left:70px;z-index:99999;}
#signInPopUp .signPopContent ul.SignUpDetails{border:#d7d7d7 1px;border-top-style:solid;}

#signInPopUp .signPopContent{background-color:#fff;border:5px solid #545454; padding:5px 10px 5px 10px;line-height:18px;font-size:11px;font-weight:normal;color:#6D6D6D;}

#signInPopUp .botArrowDiv{text-align: center;height:17px;}
#signInPopUp .signPopContent div{float:left;margin-bottom:5px;font-weight:bold;font-size:11px;}
#signInPopUp td.leftTD{border-top:1px solid #cecece;padding:3px 0 3px 0;text-align:left;width:168px;}
#signInPopUp td.rightTD{border-top:1px solid #cecece;padding:3px 0 3px 10px;text-align:left;}


/* Seo Footer */
/* Seo Footer */

#YT-SeoFooter{float:left;width:970px; background-color:#FFFFFF; font:normal 11px Arial, Helvetica, sans-serif;}
#YT-SeoFooter .cont{border:#b2dee7 1px;border-top-style:solid;padding:15px 10px 10px 10px;float:left; background-color:#e2f5f9;width:950px;}
#YT-SeoFooter .cont p{margin:0 10px 10px 10px;color: #717171;}
#YT-SeoFooter .tab{width:100%;float:left;}
#YT-SeoFooter .tab ul li{float:left; display:inline; margin-right:10px;}
#YT-SeoFooter .tab ul li a{float:left; padding:6px 14px; margin-left:10px;position:relative;top:1px; background-color:#e2f5f9;font-weight:bold; font-size:14px; width:auto; text-align:center; outline:none; text-decoration:underline; border-left:1px solid #b2dee7; border-top:1px solid #b2dee7; border-right:1px solid #b2dee7;-moz-border-radius-topleft:6px;border-radius-topleft:6px;-moz-border-radius-topright:6px;border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;color:#0072bb; text-decoration:none;border-top-left-radius:6px; border-top-right-radius:6px; }
#YT-SeoFooter .cont ul.hd{margin:0px; padding:0px;width:100%;list-style-type:none; float:left;}              
#YT-SeoFooter .cont ul.hd li{list-style-type:none; display:inline; float:left; margin-right:30px;}    
#YT-SeoFooter .cont ul.hd li a{float:left; padding:4px 10px;font-size:11px; width:auto; text-align:center; outline:none; color:#0072bb;}
#YT-SeoFooter .cont ul.hd li a.sel{float:left; padding:5px 12px;position:relative;top:1px; background-color:#d2ebf2;font-weight:bold; width:auto; text-align:center; outline:none;-moz-border-radius-topleft:6px;border-radius-topleft:6px;-moz-border-radius-topright:6px;border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;color:#0072bb; text-decoration:none;border-top-left-radius:6px; border-top-right-radius:6px;}
#YT-SeoFooter .cont ul.hd li a:hover{text-decoration:none;}
#YT-SeoFooter .cont ul.hd li a.selected{font-weight:bold;}

#YT-SeoFooter .cont ul.dest{margin:0px;width:940px;list-style-type:none; float:left; padding:6px 0 6px 10px; background-color:#d2ebf2;-moz-border-radius-topright:6px;border-radius-topright:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;border-radius-bottomleft:6px;border-radius-bottomright:6px;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;}       
#YT-SeoFooter .cont ul.dest li{ list-style-type:none; display:inline; float:left;width:20%; margin:2px 0 5px 0}         
#YT-SeoFooter .cont ul.dest li a:hover{text-decoration:underline;}

/* Footer */
#YT-Footer{float:left;font-size:11px;width:100%;background-color:#e2f5f8;border:#b2dee7 2px; border-top-style:solid;padding-top:20px;}
.footsec{width:950px;padding: 10px 10px 10px; float:left;}
.footsec ul{margin:0px; padding:0px}
.footsec ul li h4{float: left; font-size: 100%; color:#717171; margin-bottom:3px;}
.footsec ul li{list-style-type:none; display:inline; width:148px; _width:137px; margin:0 8px 0 0; float:left;}
.footsec ul li a{float:left;margin:1px 0;}
.footsec ul li.footlogo{float:left; padding:15px 0px;}
.footsec .copy{width:950px; text-align:center; color:#717171; font-size:90%; float:left; margin-top:30px;}

/* JQUERY CALENDER STARTS HERE */
#ytCalFrm, .calFrame {display:none;z-index:5;position:absolute;background-color:transparent;}
#ytCalTbl {border:1px solid #c0c0c0;display:none;font-size:11px;z-index:6000;background:#fff;position:absolute;margin-left:2px;}
#ytCalTbl TABLE{margin:0px 5px 5px 5px;font-family:arial,tahoma;}
#ytCalTbl TABLE TD {padding:0;margin:0px;width:23px;line-height:20px;border-left:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
#ytCalTbl TABLE TH {font-weight: normal;color:#000;line-height:20px;background-color:#fff;}
#ytCalTbl TABLE TH.month {border:none; padding:0px 0 2px 0px;color:#444;background-color:#fff;}
#ytCalTbl TABLE TH.weekend {background-color:#FFFFF;}
#ytCalTbl TABLE TD {font-weight:normal;color:#ababab;background-color:#fff;}
#ytCalTbl TABLE TR.firstweek TD {padding-top:1px; border-top:1px solid #eeeeee}
#ytCalTbl TABLE TR.lastweek TD {padding-bottom:1px;}
#ytCalTbl TABLE TD.weekend {background-color:#f6f6f6;}
#ytCalTbl TABLE TD.weekend .brdright{border-right:1px solid #eeeeee;}
#ytCalTbl TABLE TD a {padding:0;display:block;width:100%;color:#336699;height:100%;text-decoration:none;}
#ytCalTbl TABLE TD.selected a {font-weight:bold;cursor:hand;color:#fff;background-color:#f77b01;}
#ytCalTbl TABLE TD a:hover {font-weight:bold;color:#fff;background-color:#23a2b5;}

#ytCalLft, #ytCalRht, #ytCalCls, .btn_disable, .ico-new{background:transparent url("images/multi_sprite_v2.gif") no-repeat scroll 0 0;}
#ytCalLft, #ytCalRht, #ytCalCls {float:left;z-index:6001;position:absolute;margin-top:1px;width:13px;height:16px;cursor:pointer;}
#ytCalLft {background-position:0px -202px;}
#ytCalRht {background-position:-15px -202px;}
#ytCalCls {background-position:-30px -202px;}
/* JQUERY CALENDER ENDS HERE */





/* breadcrumb */
.breadcrumbs {float:left;width:auto;font-size:12px;}
.breadcrumbs ul li {background-image: none;display: inline;list-style-type: none; padding:0 10px 0 0; color:#bababa; line-height:24px;}
.breadcrumbs ul li a{text-decoration:underline;}
.breadcrumbs ul li a.current{color: #000; text-decoration:none;cursor:default;}
.breadcrumbs ul li a.hidelink{color: #bababa; text-decoration:none; cursor:default;}
.breadcrumbs ul li.disable{ background:url(images/common-sprite-blue.gif) no-repeat; background-position:-95px -277px;color:#333; font-weight:bold; padding:9px}
.breadcrumbs ul li.active{ background:url(images/common-sprite-blue.gif) no-repeat; background-position:-95px -243px; color:#fff; font-weight:bold; padding:9px}
.hide{display:none;}
/* end breadcrumbs*/


/* black overlays */
.popup{z-index:5001; border:2px solid #ffffff; position:absolute; top:30%; background:#16b0cc; padding:10px; left:30%; width:397px; margin:0px auto; display:none;}


.blackDiv{z-index:100; background-color: #000000; filter: alpha(opacity=80); opacity: 0.80; position:absolute; top:0px; left:0px; height:100%; width:100%; display:none;}
/**/

 /* Start: sign in popup CSS */
.regt_new{border-top:1px dashed #c0c0c0; padding:10px 0px 10px 0px; margin-top:10px;width:100%;}
.popTabFull{float:left;}
.popTabFull ul{ float:left; padding:0px; margin:0px; /*background:url('images/tab-bg.gif');*/ background-repeat:repeat-x; background-position:bottom; }
.popTabFull ul li{ float:left; display:inline;}
.popTabFull ul li.sel{background:url('images/tab_shadow.png'); background-repeat:no-repeat; background-position:right; padding:0 11px 0 0; }
.popTabFull ul li a{ float:left; color:#0b7990; font-weight:bold; font-size:12px; padding:6px 15px 9px 10px; width:auto; text-align:center; outline:none;  background-color:#e2f5f9; border-top:5px solid #fff;}
.popTabFull ul li.sel a{float:left;width:200px;border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8; border-right:1px solid #d8d8d8; background-color:#fff; padding:10px; font-size:110%;color:#000; text-decoration:none; cursor:default; }
.popTabFull ul li.sel a span{font-size:90%; font-weight:normal;}
.whiteLnk{color:#FFFFFF !important; font-weight:bold; text-decoration:underline;}
.whiteLnk:hover{color:#FFF; font-weight:bold; text-decoration:none;}
.popTabContentBox{float:left; width:375px; padding:10px; border:1px solid #d8d8d8; border-top:none; _float:none; clear:both;}

/* End: sign in popup CSS */

/*Start: forgot password popup CSS*/
.ForgotpasswordPopUp{z-index:5001; border:2px solid #ffffff; position:absolute; top:30%; background:#16b0cc; padding:10px;  left:30%; width:397px; margin:0px auto; display:none;}

.FPwhiteLnk{color:#FFFFFF !important;font-weight:bold;text-decoration:underline;font-size:16px;}
.FPwhiteLnk:hover{color:#FFFFFF !important;font-weight:bold;text-decoration:none;}

.FPpopTabFull{float:left;}
.FPpopTabFull ul{ float:left; padding:0px; margin:0px; background-repeat:repeat-x; background-position:bottom; }
.FPpopTabFull ul li{ float:left; display:inline;}
.FPpopTabFull ul li.sel{background:url('images/tab_shadow.png'); background-repeat:no-repeat; background-position:right;  padding:0 11px 0 0; }
.FPpopTabFull ul li a{ float:left; color:#0b7990; font-weight:bold; font-size:12px; padding:6px 15px 9px 10px; width:auto;  text-align:center; outline:none;  background-color:#e2f5f9; border-top:5px solid #fff;}
.FPpopTabFull ul li.sel a{float:left;width:200px;border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8;  border-right:1px solid #d8d8d8; background-color:#fff; padding:10px; font-size:110%;color:#000; text-decoration:none;  cursor:default; }
.FPpopTabFull ul li.sel a span{font-size:90%; font-weight:normal;}
.ContactDetails .fPassForm ul{display: block;float: left;font-size: 90%;margin-left: 10px;padding-bottom: 0;width: 100%;}
/*End: forgot password popup CSS */


.whiteLnk {color: #FFFFFF !important;font-weight: bold;text-decoration: underline;font-size:16px;}
.infoMsg {background: url("images/infoicon.jpg") no-repeat scroll 10px center #FFFED0;border: 1px solid #FDCF9E;font-size: 120%;font-weight: bold;margin-bottom: 17px;padding: 10px 10px 10px 52px;}



/*** for popup on SRP page to display no return results ****/
.RefreshPageDiv{z-index:5001; background-color: #000000; filter: alpha(opacity=80); opacity: 0.80; display:block; position:absolute; top:0px; left:0px; display:block; height:100%; width:100%; display:none;}
.RefreshPagePopUp{z-index:5001; border:2px solid #ffffff; position:fixed; top:40%; left:30%; background:#16b0cc; padding:10px; width:397px; margin:0px auto; display:none;}
.RefreshPagePopUpRt{z-index:5001; border:2px solid #ffffff; position:absolute; top:50%; background:#16b0cc; padding:10px;  left:35%; width:397px; margin:0px auto; display:none;}
.RefreshPageContentBox{_float:none;float:left; width:375px; padding:10px; border:1px solid #d8d8d8; border-top:none; clear:both;}
.RefreshPageContentBoxRt{_float:none;float:left; width:375px; padding:10px; border:1px solid #d8d8d8; border-top:none; clear:both;}


/*** end ****/

.Textwrap{word-wrap:break-word;}


/*Error page CSS start*/
.dispMsgStrip {background-color: #FFFED0;background-image: url('images/alert_icon.gif');background-repeat: no-repeat;background-position: left;border: 1px solid #FDCF9E;float: left;font-size:120%;font-weight: bold;margin: 0 0 17px;padding: 10px 10px 10px 20px;width: 96%;}
.dispMsgStrip span {color: #12120e;display: block;float: left;margin-left: 30px;}

.dispMsgStripMod{font-size:90%!important;}

/*end Error page CSS start*/

/*Validation error Box*/ 
div.errorlist {margin:-40px 0 0 5px;height:auto;background:#FF5B3B;color:#fff;max-width:150px;width:auto;font-family:tahoma;font-size:10px;border:1px solid #ddd;box-shadow:0px 0px 6px #000;-moz-box-shadow: 0px 0px 6px #000;-webkit-box-shadow: 0px 0px 6px #000;border-radius:6px;-moz-border-radius: 6px;-webkit-border-radius:6px;word-wrap:break-word;padding:4px;z-index:99999;}

.remextraboundry { width:53px !important; margin-left:74px !important; padding:7px 5px 5px !important;  }
.ArrowRight {background-position: -76px -147px;height: 6px;padding-left: 2px;width: 3px;}
.ArrowDown {background-position:0px -742px;padding:0 4px 0 0;}
.sortbyarrowup {background-position: -21px -126px;height: 10px;padding-left: 5px;width: 5px;}
.sortbyarrowdown {background-position: -30px -126px;height: 10px;padding-left: 5px;width: 5px;}
.loading{z-index:100; background-color: #000000; filter: alpha(opacity=80); opacity: 0.70; position:fixed; top:0px; left:0px; height:100%; width:100%; display:none;}
.loadingImage {padding-top:15%;background-image:url("images/calloader.gif");width:100px;height:100px;}
.loadingPaymentImage {margin-top:15%;background-image:url("images/calloader.gif");background-repeat:no-repeat;width:100px;height:100px;}
.inputTxtBox{border: 1px solid #000066;font-size: 100%;padding: 4px 5px; color: #000066;}

.mr0{margin:0px !important;}

.disableLink{color: #bababa; text-decoration:none; cursor:default;}

/* placeholder input style for paswd */
.pwdplc{position:absolute; top:0; left:0}

.closeCalbtn{padding:2px 2px 2px; color:#008191; cursor:pointer;float:right; font-size:11px;text-decoration:none;}
.closeCalbtn a{color:#008191;}
.closeCalbtn a:hover{text-decoration:underline; color:#ff820a !important;} 
.signPopContent ul.SignUpDetails li.liSquare{font-size:11px !important;}
.greytxt{color:#727272 !important; cursor:default;}

 /* AUTOCOMPLETE CSS */
.ac_results {width:300px;color:#464646;font-size: 12px;text-decoration:none;padding:5px 2px 5px; background: none repeat scroll 0 0 #F6F6F6;border: 1px solid #ABADB3;color: #070707;position: absolute;z-index:7000;}
.ac_results iframe {background-color:#fff;display:none;/*sorry for IE5*/display/**/:block;/*sorry for IE5*/position:absolute;top:0;left:0;z-index:-1;filter:mask();}
.ac_results ul {float:left;margin:0;background-color:#fff;padding:0;list-style-type:none;}
.ac_results li {white-space:nowrap;background-color:#fff;text-align:left;cursor:default;padding:5px 2px 5px;text-transform:capitalize;}
.ac_results li:hover{background:#fef7ad;color:#056cc1;}
.ac_loading {background: white url("http://img.yatra.com/h/images/loading.gif?version=YT_VERSION") no-repeat right center;}
.ac_odd {background-color:#000;}
.ac_over{width:300px;background-color:#f1f1f1;color:#464646;}
.ac_input:first-letter{text-transform:uppercase;}

#loaderImg{position:absolute;width: 100%;text-align: center;}
#modifySearchLink{color:#2065A0;cursor: pointer;font-weight:bold;text-decoration:underline;float:right;}


.ArrowLeft {background-position: -67px -147px;height: 6px;padding-left:1px;width: 3px;}
.ic_cross {background-position:-168px -320px;width: 13px; height: 13px;position:absolute; top:8px; right:10px; cursor:pointer;}


/*Travel Calender*/



.home_cal{float:left;border-radius:5px; border:#acadb1 3px solid; width:408px; position:relative; left: 221px; top: 401px;}
.home_cal .heading{background-color:#f5f5f5; border:#dbdbdb 1px;float:left;border-bottom-style:solid;color:#333; font-size:14px; font-weight:normal; margin:auto; text-align:center; padding:8px 0; width:408px;}
.home_cal .cross{position:absolute; top:8px; right:10px;}
.home_cal .monthrow{float:left;width:408px;height:23px;background-color:#fff;border:#dbdbdb 1px; border-bottom-style:solid; border-top:1px solid #fff;}

.home_cal .monthrow .col{float:left;color:#0072BB;text-align:center;float:left;width:68px}
.home_cal .monthrow .col a{padding:5px 10px;float:left;width:48px; text-decoration:none; color:#0072bb !important;}
.home_cal .monthrow .col a:hover{background-color:#0072bb; color:#fff !important; padding:5px 10px;float:left;width:48px;text-decoration:none;border-left:1px solid #fff;}

.home_cal .monthview{float:left;color:#fff !important;border-top: 1px solid #FFFFFF;width:388px; padding:7px 10px; background-color:#0072bb; box-shadow: 0 -5px 5px #00568c inset;}
.home_cal .monthview .pre{width:80px; float:left;font-size: 11px;}
.home_cal .monthview .next{width:80px; float:right; text-align:right;font-size: 11px;}
.home_cal .monthview .mid{width:200px; font-size:14px; color:#000; margin:auto;float:left; text-align:center;color:#fff}
.home_cal .monthview  a{color:#fff !important; text-decoration:none !important;}
.home_cal .TravCalenderTable{float:left;width:auto;background-color:#fff;}
.TravCalenderTable table.calendar td, .TravCalenderTable table.calendar td.entry:hover, .TravCalenderTable table.calendar td.best:hover, .TravCalenderTable table.calendar td.today:hover, .TravCalenderTable table.calendar td.todayNoEntry, .TravCalenderTable table.calendar td.today , .TravCalenderTable table.calendar td.best,.home_cal .monthview .WhtArrowLeft,.home_cal .monthview .WhtArrowRight{background:url("images/background-cal.gif") no-repeat scroll 0 0;}
.home_cal .monthview .WhtArrowLeft {background-position: 0 -167px;height: 8px;padding-left:1px;width: 3px; cursor:pointer}
.home_cal .monthview .WhtArrowRight {background-position: 0 -184px;height: 8px;padding-left: 2px;width: 3px; cursor:pointer}


.TravCalenderTable table.calendar {font-size:10px;width:408px; font-family:Arial,Helvetica,sans-serif; border-collapse:collapse;}
.TravCalenderTable table.calendar th {background-color:#fff; padding:5px; border-left:1px solid #fff;border-bottom:1px solid #e3e3e3;border-top:1px solid #fff}
.TravCalenderTable table.calendar td {background-position:0px 0px; background-repeat:repeat-x; padding:0px 5px 0px; border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3}
.TravCalenderTable table.calendar td {width:50px;height:51px;height:50px\0/;//height:50px;text-align:right;}
.TravCalenderTable table.calendar th {font-size:12px;color:#000;text-align:center; font-weight:normal;}
.TravCalenderTable table.calendar td.today {background-position:0px -54px; background-repeat:repeat-x; }
.TravCalenderTable table.calendar td.todayNoEntry {background-position:0px -54px; background-repeat:repeat-x; }
/*.TravCalenderTable table.calendar td.best {background-position:0px -109px; background-repeat:repeat-x;}*/
.TravCalenderTable table.calendar td.entry:hover, .TravCalenderTable table.calendar td.best:hover, .TravCalenderTable table.calendar td.today:hover{background-position:0px -109px; background-repeat:repeat-x;cursor:pointer;}
.TravCalenderTable table.calendar tbody td p {color:#333;display:block;font-size:14px;margin:0;padding:7px 0 4px; text-align:center;}
.TravCalenderTable table.calendar tbody td p.pre {color:#999;display:block;font-size:14px;margin:0;padding:0;}
.TravCalenderTable table.calendar tbody td div.price{font-size:11px;color:#0072bb; font-weight:bold; text-align:center;}
.TravCalenderTable table.calendar tbody td div.price.best{background-color:#39ff24; border-radius:3px; padding:2px;}
.TravCalenderTable table.calendar tbody td div.price a {color:#0072bb; text-decoration:none;}
.home_cal .CalenderFooter{float:left;width:408px; background-color:#fff;}
.home_cal .CalenderFooter .info {color: #717171;float: left;font-size: 11px;line-height: 18px; margin: 5px 0 5px 10px; width: 375px;_width:350px;}

.home_cal .CalenderFooter .footinfo{float:left;margin:0px 0 10px 10px;width:auto;color: #717171;font-size:11px;}
.footinfo .footnote{float:left;background-color:#39ff24; border-radius:3px; padding:2px; width:42px; height:14px;}

.home_cal #scroll-pane{float:left;height:268px;width:425px;position:relative;overflow:auto;border:none;display:inline;height:372px \0/;}
.home_cal #slider-vertical{position:relative;height:100%}
.home_cal #scroll-pane .transEffect{position:absolute;float:left; bottom:0px;width:383px; padding:7px 10px; box-shadow: 0 -16px 14px #FFFFFF inset;}

.home_cal .monthrow .activeMonth {background-color:#0072bb; color:#fff!important;}  
.home_cal .monthrow .activeMonth a{padding:5px 10px;float:left;width:48px; text-decoration:none;color:#fff!important;border-left:1px solid #fff;}  
.home_cal .monthrow .activeMonth a:hover{background-color:#0072bb; color:#fff!important; padding:5px 10px;float:left;width:48px;text-decoration:none;}
p#return{clear:left;margin-left:50px;margin-top:10px}
a:active, a:focus{outline:none}
/* css for scrollbar below here*/
#scroll-content {position:absolute;top:0;left:0}
#slider-wrap{float:right;background-color:#c1c0be;width:5px;border:none;border-left:none;}
.ui-slider-handle{width:5px;height:35px;margin:0 auto;background-color:#6c6c6e;display:block;position:absolute}
