﻿/* Payment css  */
.ContentBody .ContentDisplayArea{float:left;width:950px;padding:0; margin-top:15px;} 
.ContentDisplayArea .ContentDisplayLeft{float:left;width:720px;margin:0;padding:0px;min-height:500px;}
* html div.ContentDisplayLeft {height: expression( this.scrollHeight < 334 ? "500px" : "auto" );}
div.ContentDisplayLeft {min-height: 500px;}
.ContentDisplayArea .ContentDisplayLeft .contentSub{width:100%;float:left;padding:5px 0 0 0;}
.ContentDisplayArea .ContentDisplayRight{float:right;width:210px;margin:0 0 0 20px;padding:0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart{float:left;width:210px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionHeader{float:left;width:198px;color:#fff;border:#2379c5 1px solid;background-color:#2379c5;font-size:130%; padding:8px 5px; font-weight:normal; border-top-left-radius: 4px;   border-top-right-radius: 4px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody{float:left;width:198px;background-color:#f7f7f7;padding:5px 5px 20px 5px; font-size:90%;clear:both;border:#DFDBDB 1px solid; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .box{float:left;width:196px;margin-bottom:10px;border:#dfdbdb 1px solid; border-radius: 5px;padding:5px 0; background-color:#fff;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .OnwardReturnDetails{float:left;width:186px; border-bottom:1px solid #dfdfdf;margin:0 5px 0 5px; padding-bottom:10px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .OnwardReturnDetails ul li.destname{float:right;font-size:12px; color:#000; font-weight:bold;margin:5px 0 0 0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody  .OnwardReturnDetails ul.Airlines{float:left;width:30px; margin:30px 0 0 10px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody  .OnwardReturnDetails ul.Flightdetails{float:right;width:145px;text-align:right; margin:5px 0px 0 0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .OnwardReturnDetails ul.Flightdetails li{padding:3px 0 0 0;color:#717171;}

.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .OnwardReturnDetails.bodernone{border:none !important;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .Flightdetails a{width:180px; text-align:right;}

.Flightdetails .changeFlightClass{float:right;width:auto;padding:5px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody ul.Faredetails,.ContentDisplayArea .ContentDisplayRight .YourSelectionBody ul.TotalFare,.YourSelectionBody ul.Addon,.YourSelectionBody ul.PromoDiscount, .YourSelectionBody ul.ConvenienceCharge{float:left;width:200px;margin:0;padding:0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody ul.Faredetails li.col1,.ContentDisplayArea .ContentDisplayRight .YourSelectionBody ul.TotalFare li.col1,.YourSelectionBody ul.Addon li.col1,.YourSelectionBody ul.PromoDiscount li.col1,.YourSelectionBody ul.ConvenienceCharge li.col1{float:left; width:100px;padding:3px 0 3px 0;}



.YourSelectionBody .TotalFare{float:left; width:186px; padding: 0 5px; margin-bottom:10px;}
.YourSelectionBody .TotalFare ul li.col1{width:85px; float:left;}
.YourSelectionBody .TotalFare ul li.col2{width:100px; float:left; padding:0;text-align:right;}

.YourSelectionBody ul.Faredetails li.heading{float:left;width:186px;padding:5px;color:#2D84B9;font-size:12px;border:#dfdfdf 1px; border-bottom-style:solid;margin-bottom:4px;}
.YourSelectionBody ul.Faredetails li{float:left;width:188px;padding:5px;}
.YourSelectionBody ul .Faredetails li.Detailbox{float:left; width:186px;padding:0 5px;}
.YourSelectionBody ul.Faredetails li.Detailbox ul{float:left;border:#dfdfdf 1px; border-bottom-style:solid;padding:3px 0;}
.YourSelectionBody ul.Faredetails li.Detailbox ul li.col1{width:105px !important;}
.YourSelectionBody ul.Faredetails  li.Detailbox ul li.col2{width:80px; float:left; padding:3px 0 3px 0;text-align:right;}
.YourSelectionBody ul.Faredetails li.Detailbox ul.bodernone{border:none !important;}



.YourSelectionBody ul.Addon li.heading{float:left;width:186px;padding:5px;color:#6b6b6b;font-size:12px;border:#dfdfdf 1px; border-bottom-style:solid;margin-bottom:4px;}
.YourSelectionBody ul.Addon li{float:left;width:188px;padding:0 5px 5px 5px;}
.YourSelectionBody ul .Addon li.Detailbox{float:left; width:186px;padding:0 5px;}
.YourSelectionBody ul.Addon li.Detailbox ul{float:left;border:#dfdfdf 1px; border-bottom-style:solid;padding:3px 0;}
.YourSelectionBody ul.Addon li.Detailbox ul li.col1{width:125px !important;}
.YourSelectionBody ul.Addon  li.Detailbox ul li.col2{width:60px; float:left; padding:3px 0 3px 0;text-align:right;}
.YourSelectionBody ul.Addon li.Detailbox ul.bodernone{border:none !important;}

.YourSelectionBody ul.Miles li{width:188px;padding:5px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBody .earnmile{border:#dfdbdb 1px solid; border-radius: 5px;padding:5px 0; width:190px; padding:5px; background-color:#fff;}

.TabFull{float:left;width:720px;}
.TabFull ul{background-image:url('images/tab-heading-bg.gif');background-repeat:repeat-x;
width:718px; border:1px solid #000066;-moz-border-radius-topleft:6px; float:left;
border-top-left-radius:6px;-webkit-border-top-left-radius:6px;-moz-border-radius-topright:6px;
border-top-right-radius:6px;-webkit-border-top-right-radius:6px; border-bottom-style:solid; }
.TabFull ul li{color:#0b7990; padding:7px 10px; width:auto; outline:none;color:#000066; background:#dbdbdb; font-weight:normal; font-size:16px;}
.TabContentBox{float:left; width:698px;padding:0 10px 10px 10px; border:1px solid #000066; border-top:none; _float:none; clear:both;}
.TabContentBoxZ{float:left; width:718px;padding:0; margin-bottom:17px; _float:none; clear:both;border-right:1px solid #D8D8D8;}
.TabContentBoxFull{float:left; width:718px;border:1px solid #000066; border-top:none; _float:none; clear:both;}
.TabContentBox .ContactDetails{float:left;width:698px; margin:0; padding-top:10px;}
.TabContentBoxFull .ContactDetails{float:left;width:718px; margin:0; position:relative;}
.TabContentBoxFull .ContactDetails .Mcontainer{float:left;width:300px;padding:0;margin:0;}
.TabContentBoxFull .ContactDetails .Rcontainer{float:right;width:239px;padding:0;margin:0 0 0 1px;background-image:url(images/bg_signin_payment.png); background-repeat:no-repeat;}
.Mcontainer ul.wfull li.grayhd{float:left;width:209px;background-color:#f4f4f4;padding:10px;margin:0;}
.Mcontainer ul.wfull li.form{float:left;width:280px;padding:15px 10px 10px 30px;margin:0;}
.Mcontainer ul.wfull li.buttonarea{float:left;width:auto;margin:0;}
.Rcontainer ul.wfull li.grayhd{float:left;width:180px;padding:10px;margin-left:1px;}
.Rcontainer ul.wfull li.signcontainer{float:left;width:199px;padding:10px 10px 10px 30px;margin:0;}
.Rcontainer ul.wfull li.signcontainer ul.brd{border:#c1c1c1 1px; border-bottom-style:dotted;}
.ContactDetails .signcontainer{border-width: 1px; border-color: rgb(215, 215, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-image: none; float: left; position: relative;}

.ContactDetails .signcontainer .tabmenu {color: #000000;float: left;width: 176px;z-index: 1;padding-bottom:0px;}

.ContactDetails .signcontainer .tabmenu .default{background-color:#F9F9F9;background-image:url(images/signin_tab_bg.gif); background-repeat:repeat-x;
border-right:1px solid #D7D7D7;border-bottom:1px solid #D7D7D7;cursor:pointer;}

.ContactDetails .signcontainer .tabmenu .selTab1{background-color:#F9F9F9;background-image:url(images/signin_tab_bg.gif); background-repeat:repeat-x;
border-right:1px solid #D7D7D7;border-bottom:1px solid #D7D7D7;cursor:pointer;}

.ContactDetails .signcontainer .tabmenu .selTab2{background-color:#F9F9F9;background-image:url(images/signin_tab_bg.gif); background-repeat:repeat-x;
border-right:1px solid #D7D7D7;border-top:1px solid #D7D7D7;cursor:pointer;}

.signcontainer .tabmenu li {display: block;float: left;list-style-type: none;overflow: hidden;width: 170px; height:62px;}


.signcontainer .tabmenu a {color:#000;height:12px;float:left;padding:20px 10px;margin: 0px;text-decoration: none;width:150px; //width:155px;}

.signcontainer .tabmenu a.active {height:12px; font-weight:normal; color:#000;background-color:#fff; background-image:none;border:#bcbcba 1px; border-top-style:solid; width:151px;border-left-style:none; border-bottom-style:none; }

.signcontainer .tabmenu a:hover {color: #333;}
.signcontainer .tabmenu a.active:hover {background-color:#fff;color: #333; }
.Mcontainer ul li{float:left;display:inline;padding:3px 5px 0 0; }
.Mcontainer ul li span{font-size:90%;}
.ic_salman{background-image: url(images/ic_salman.gif); background-repeat: no-repeat; width:80px; height:94px; position:absolute; bottom:1px; right:10px;}

.PayTabContentBox .tabcontainer{border-width: 1px; border-color: rgb(215, 215, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-image: none; float: left; position: relative; border-style: none solid none none; width: 124px;}
.PayTabContentBox .tabcontainer .tabmenu {color: #000;z-index: 1;float:left;left: -1px; position: absolute;  width: 128px; }
.tabcontainer .tabmenu li {display: block;float:left;overflow: hidden;list-style-type: none; height:44px;width:126px;}
.tabcontainer .tabmenu a {color: #0072bb;height:13px;background-image:url("images/payment_tab_bg.gif"); background-repeat:repeat-x;float:left;padding: 15px 10px;border:#dfe6d4 1px solid;margin: 0px;text-decoration: none;width:104px; border-top:none;}
.tabcontainer .tabmenu a.active {font-weight:bold; color:#000;height:12px; background-color:#fff; background-image:none;width:105px;border-left:1px solid #D8D8D8;}
.tabcontainer .tabmenu a:hover {color: #000; font-weight:bold;		}
.tabcontainer .tabmenu a.active:hover {background-color:#fff;color: #000; }
.PayTabContentBox #PaybyTabBox {padding: 15px 20px; float:left; width:550px;z-index: 2;	}
.payTxtCal {background: url("images/cal_icn.gif") no-repeat scroll right center transparent !important;cursor: pointer !important;}

.ContactDetails ul li{float:left;display:inline;padding:0 5px 5px 2px;}
.ContactDetails ul li span{font-size:90%;}
.ContactDetails ul li.heading{margin: 3px 0 7px; padding: 3px 10px 0 0; width: auto;}
.ContactDetails ul.exuserbox{float:left;width:703px;padding:5px 5px 5px 10px;background-color:#f4f4f4;margin:0 0 10px 0;}
.ContactDetails ul.exuserbox li span{font-size:100%;}
.PassengerDetails{float:left;width:718px; margin:0; padding:0}
.PassengerDetails .Adult,.PassengerDetails .Child,.PassengerDetails .Infant{float:left;width:701px;margin:0;padding:10px 10px 0}
.PassengerDetails .Infant{border-bottom:none;}
.PassengerDetails div ul{float:left;width:100%; color:#000066; display:block;margin:0;padding:5px 0 7px 0;font-size:90%;border-bottom:1px dotted #d8d8d8}
.PassengerDetails ul li{float:left;padding:0 10px 4px 0;//padding-bottom:1px; }
.PassengerDetails ul li span{display:block; font-size:90%;}
.PassengerDetails ul div{clear: both;}
.PassengerDetails ul div ul{float:left; padding:4px 0px; border:0px;width: 570px;}
.PassengerDetails .paxTitle {width:65px;}
.PassengerDetails .noteinfo{float:left;width:480px;margin:15px 0 5px 10px;}
.PassengerDetails .buttonarea{float:right; background-color:#f7f7f7; margin-top:5px; width:698px;padding:10px 10px; border-top:1px solid #d6d6d6}

.TabContentBox .ContactDetails{float:left;width:698px; margin:0; }
.ContactDetails .Adult,.ContactDetails .Child,.ContactDetails .Infant{float:left;width:698px;margin:0;padding:10px 0 5px 0}
.ContactDetails .Infant{border-bottom:none;}

/*.ContactDetails ul li{float:left;display:inline;padding:0 16px 4px 0;//padding-bottom:1px; color: #808080;}*/
.ContactDetails ul li span{display:block; font-size:90%; clear:both; margin-bottom:3px; color:#808080;}

.TabContentBox .OptionalAddOn{float:left;width:698px; margin:0; padding-top:10px;}
.TabContentBoxFull .OptionalAddOn{float:left;width:718px; margin:0;}
.OptionalAddOn table{border-bottom:2px solid #fff; color:#000; font-size:11px;}
.OptionalAddOn td.AddOnImage{background-color:#f4f4f4;padding:5px; text-align:center; border-right:1px solid #fff;width:50px;}
.OptionalAddOn td.AddOnDesc{margin:0;padding:0;}
.OptionalAddOn td.AddOnDesc table{float:left;width:100%;margin:0; border-bottom:1px solid #f4f4f4}
.OptionalAddOn .AddOnHead {background-color: #FAFAFA;float: left;padding: 10px;width: 637px;}
.OptionalAddOn .AddOnHead .contentblock{width:547px; float:left;padding-right:10px;//width:540px;}
.OptionalAddOn .AddOnBase{float:left;width:580px;padding:10px;margin-top:10px; background-color:#fff;//margin-top:5px;}
.OptionalAddon ul{margin:0;padding-bottom:15px;font-size:90%;}
.OptionalAddon ul li.intro{float:left;width:663px;padding:0 5px 0 10px}

.AddOnHead ul li{float:left;padding:3px 0 3px 0; display:block;}
.AddOnHead ul li input,.AddOnBase ul li input{margin: 0;padding: 0;width: auto;}

.AddOnBase ul.listbox{float:left;width:105px;//width:95px;margin:0;padding-left:10px; //padding-left:5px;}
.AddOnBase ul.listbox li.txt{float:left;width:105px;color:#808080;margin:0;padding:0}
.AddOnHead ul li.heading{float:left; width:567px;//width:560px;^width:548px;}

.AddonCheckContent{float:left; padding-left:10px;width:510px;//width:505px;//line-height:20px;}
.AddonContent{float:left;margin-left:26px;//margin-left:20px;}

.PayTabContentBox{float:left; width:718px;border:1px solid #d8d8d8; border-top:none; _float:none; clear:both;}
.PaybyTabBox{float:right; width:560px;padding:10px 10px 10px;_float:none; margin-left:8px; min-height:255px;}
.PaybyTabBox .FormContainer{float:left;width:550px;text-align:left;margin:5px 0;padding:0; font-size:90%;}
.PaybyTabBox .FormContainer .card{float:left;width:100%;margin:15px 0 20px 0; padding:0;}
.PaybyTabBox .FormContainer ul li.heading{width:60px;margin:3px 0 0 0;}
.PaybyTabBox div ul li span input{^padding-bottom:5px;vertical-align:top;^margin-top:-4px;}
.PromoCode li input{^padding-bottom:5px;vertical-align:top;^margin-top:0px !important;}

.FormContainer ul li input{^padding-bottom:5px;vertical-align:top;^margin-top:-2px;}
.PayTabContentBox .ExistingAddress{float:left; width:550px;padding:0; margin-top:10px;font-size:90%;}
.PayTabContentBox .ExistingAddress ul{float:left;width:100%;}
.PayTabContentBox .ExistingAddress ul li{float:left;width:auto;padding:10px 10px 0 0;}

.PaybyTabBox .Partial{float:left;width:550px;text-align:left;margin:5px 0;padding:0; font-size:90%; border:#ebebeb 1px solid; border-radius:3px;}
.PaybyTabBox .Partial .AmountOptions {background: url("images/tab-heading-bg.gif") repeat-x scroll 0 19px transparent; float: left;padding: 10px 0 1px 10px; width:540px;}
.PaybyTabBox .Partial .AmountOptions li{float: left;padding-right: 20px;}
.PaybyTabBox .Partial .AmountOptions li input {float: left; margin-right: 5px;}
.PaybyTabBox .Partial .AmountOptions li div{ padding:8px 0 5px 19px; width:99%;clear:both;}

/*.TabContentBox input,.TabContentBoxFull input,.PaybyTabBox .FormContainer input,.PayTabContentBox .PromoCode input,.PayTabContentBox .ExistingAddress input{font-size:100%;padding:4px 5px;border:1px solid #ABADB3;}*/
.PayTabContentBox .ExistingAddress select{font-size:100%;width:236px; height:22px;}
.TabContentBox select option,.PaybyTabBox .FormContainer select option{padding-right:8px;}
.TabContentBox p{margin-top:10px;}
.brrgtsep{border-right:1px solid #d6dde3;}
.CardHolderDetails{float:left;width:230px;margin:0;padding:0;}
.CardDetails{float:left;width:313px;margin:0;padding:0 0 0 10px;}
.CardHolderDetails ul li,.CardDetails ul li{float:left; padding-bottom:4px;//padding-bottom:2px;}
.CardHolderDetails ul li input,.CardDetails ul li input{_margin-top:1px !important;}
.paymentnote{float:left;margin:10px 0 0 0;color:#fd0402;font-size:90%;}
.payterms{width:330px;padding-top:20px;}
.payverisign{width:172px; color:#fff;}
.txtpromoaccept{font-size:12px;color:#f98b00; font-weight:bold;padding-left:5px;}
.txtpromofailure{font-size:12px;color:red; font-weight:bold;padding-left:5px;line-height:18px\0/;}
.PaybyTabBox .FormContainer .netbanking{float:left;width:550px;}
.PaybyTabBox .FormContainer .netbanking ul{width:175px;float:left;}
.PaybyTabBox .FormContainer .netbanking ul li{float:left;width:100%;padding:10px 0 0 0;_padding:5px 0 0 0;}

.SubmitContentBox{float:left; width:718px;border:1px solid #d8d8d8; margin-bottom:17px; _float:none; clear:both; border-top-style:none;}
.SubmitContentBox .SubmitDetails{float:left;width:718px; margin:0;}
.SubmitDetails ul{display: block;float:left;font-size:90%;margin:0;padding-left:10px;width:708px}

.SubmitDetails ul.buttonarea{background-color:#f7f7f7;float:left;padding:10px;width:698px;}
.SubmitDetails ul.buttonarea li ul{width:100%; float:left;}
.SubmitDetails ul.buttonarea li ul li{width:100%; padding:3px 0px;}
.ic_graycross,.ic_redcross,.ic_insurance,.ic_Card, .ic_promotions, .ico-ins-tripcancel, .ico-ins-baggageloss, .ico-ins-flightdelay, .ico-ins-medical, .ico-ins-tataaig, .logo-sbi, 
.logo-visa,.logo-master, .logo-diner, .logo-amex, .ic_verisign,.ico-cvv,.ico-cvvamex, .ic_being-humans, .ic_Book, .ic_History, .ic_Refund, .ytmiles, .ic_grnTick, .ic_fb, .ic_add,
.ic_gplus, .ic_print, .ic_ticket, .ic_save, .ic_email, tr th ul li.Arrow .ic_arrow, .ic_clock,.ico-ins-reliance,.logo-maest{background:url("images/payment.gif") no-repeat scroll 0 0;}


.ic-arrow-black{background:url("images/common-sprite-blue.gif") no-repeat scroll 0 0;}
.btnpromo {background-color: #E8E8E8;border: 0 none;color: #0B7990;cursor: pointer;font-size: 100%; padding: 4px; width: 50px;}
.ic_redcross{background-position:1px -461px; padding:3px 5px;cursor:pointer;}
.ic_graycross{background-position:1px -484px; padding:3px 5px;}
.ytmiles{background-position:-155px -482px; padding:3px 14px !important;float:left;}
.ic_Book{background-position:-158px -383px; padding:4px 10px !important;float:left;}
.ic_History{background-position:-158px -415px; padding:4px 10px !important;float:left;}
.ic_Refund{background-position:-158px -451px; padding:4px 10px !important;float:left;}
.ic_insurance{background-position:0px -48px; padding:12px 17px;float:left;}
.ic_Card{background-position:-1px 0px; padding:10px 19px;float:left;}
.ic_being-humans{background-position:0px -423px; padding:10px 19px;float:left;}
.ic_promotions{background-position:-1px -97px; padding:10px 19px;float:left;}
.ico-ins-tripcancel{background-position:0px -206px; width:53px;height:48px;float:left;margin-left:10px;_margin-left:5px;}
.ico-ins-baggageloss{background-position:0px -263px; width:40px;height:48px;float:left;margin-left:15px;_margin-left:8px;}
.ico-ins-flightdelay{background-position:0px -322px; width:53px;height:48px;float:left;}
.ico-ins-medical{background-position:0px -146px; width:42px;height:48px;float:left;margin-left:20px;_margin-left:10px;}
.ico-ins-tataaig{background-position:0px -370px; width:98px;height:48px;float:left;margin-left:15px;_margin-left:8px;}
.ico-ins-reliance{background-position:0px -365px; width:98px;height:48px;float:left;}
.logo-sbi{background-position:-79px 3px; width:100px;height:30px;float:left;}
.logo-visa{background-position:-129px -43px; width:51px;height:32px;float:left;}
.logo-maest{background-position:-128px -568px; width:51px;height:32px;float:left;}
.logo-master{background-position:-129px -89px; width:51px;height:32px;float:left;}
.logo-diner{background-position:-136px -139px; width:44px;height:32px;float:left;}
.logo-amex{background-position:-129px -190px; width:51px;height:32px;float:left;}
.ico-cvv {background-position:-132px -341px;width:48px;height:25px;margin-left:10px;}
.ico-cvvamex {background-position:-131px -310px;width:49px;height:24px;margin-left:10px;}
.ic_verisign{background-position:-76px -240px; width:105px;height:55px;float:left;}

.ic_minus {background-position: -131px -219px; margin-right: 4px;padding: 1px 14px 1px 0;text-decoration: none;}
.ic_plus{ background-position:-65px -221px; padding:1px 14px 1px 0; margin-right:4px; text-decoration:none;}
.ico_flt{background: url("images/common-sprite-blue.gif") no-repeat scroll 0 0 transparent;background-position: -164px -360px;float: left;padding-left:20px;width: auto;}
.noim { background: url("images/dom-airline-logo-new.gif") repeat-y scroll 0 0 transparent;height:28px;width:28px;}

.xg8, .xG8, .x88{background-position: 0 -37px; }
.xit, .x99, .xIT{background-position: 0 -73px;}
.x9w, .x77, .x9W{background-position: 0 -109px;}
.x77, .xs2, .xS2, .x66{background-position: 0 -145px; height:22px;}
.xai, .xAI,.xic, .xIC{background-position: 0 -181px; height:22px;}
.x6e, .x6E{background-position: 0 -217px;}
.xsg, .xSG{background-position: 0 -253px;}
.x22, .x89, .x90, .x92{background-position: 0 -289px;}

.ic_blueSquare{background-color:#0071be; width:5px;padding:0 4px;color:#fff;float:right;margin-right:5px; border-radius: 2px;cursor:pointer;}
@font-face{font-family:'WebRupee';src: url('images/WebRupee.V2.0.eot');src: local('WebRupee'), url('images/WebRupee.V2.0.ttf') format('truetype'),  url('images/WebRupee.V2.0.woff') format('woff'), url('images/WebRupee.V2.0.svg') format('svg'); font-weight:normal; font-style:normal;}
.RupeeSign{font-family:'WebRupee';margin:0;padding:0;}*/

/*  Start Conformation css */


.ContentDisplayLeft .confhd{float:left;width:720px;}
tr td ul li.Arrow .ic_arrow{background:url("images/common-sprite-blue.gif") no-repeat scroll 0 0;}
.confhd ul{float:left;width:100%;}
.confhd ul li{float:left; color:#333; padding:12px 15px 11px 0px;font-size:16px;width:auto;}
.conf_fltDetails{ width:719px; border:#D8D8D8 1px solid; float:left;border-radius: 3px;}
.conf_fltDetails table{width:100%; float:left}
.conf_fltDetails table tr th{color:#717171; float:left;width:131px; padding:6px; height:18px;}
.conf_fltDetails table tr td{float:left;width:131px; text-align:center;padding:12px 6px; height:25px;}
.conf_fltDetails table tr th ul li.Depart {font-size: 13px;width: 44px;}
.conf_fltDetails table tr th ul li {float:left;}
.conf_fltDetails table tr th ul li.Arrow {font-size: 10px;width: 28px;}
.conf_fltDetails table tr th ul li.Arrive {font-size: 13px;width: 48px;}
.conf_fltDetails table tr th ul li.Arrow .ic_arrow {background-position: -117px -422px; padding: 2px 10px; text-decoration: none;}
.conf_fltDetails table tr td ul li.Depart {font-size: 13px;width: 44px;}
.conf_fltDetails table tr td ul li {float:left;}
.conf_fltDetails table tr td ul li.Arrow {font-size: 10px;width: 28px;}
.conf_fltDetails table tr td ul li.Arrive {font-size: 13px;width: 48px;}
.conf_fltDetails table tr td ul li.Arrow .ic_arrow {background-position: -131px -191px; padding: 2px 10px; text-decoration: none;}
.bdrr{border:#D8D8D8 1px; border-right-style:solid;}
.bdrb{border:#D8D8D8 1px; border-bottom-style:solid;}
.bdrrb{border:#D8D8D8 1px; border-right-style:solid; border-bottom-style:solid}

.conf_passDetails{width:719px; border:#D8D8D8 1px solid; float:left;border-radius: 3px; border-bottom:none;}
.conf_passDetails table{width:100%; float:left}
.conf_passDetails table tr th{color:#717171; float:left;padding:6px 0 6px 25px; height:18px; text-align:left;}
.conf_passDetails table tr td{float:left;text-align:left;padding:6px 0 6px 25px;}
.conf_passDetails table tr th.sr{width:100px;}
.conf_passDetails table tr th.name{width:360px;}
.conf_passDetails table tr th.policy{width:182px}
.conf_passDetails table tr td.sr{width:100px;} 
.conf_passDetails table tr td.name{width:360px;}
.conf_passDetails table tr td.policy{width:182px}
.conf_passDetails table tr td.name span{float:left; margin-right:5px;}
.conf_impDetails{width:719px; border:#D8D8D8 1px solid; float:left;border-radius: 3px;}
.conf_impDetails ul{list-style: disc; margin:10px 0px;}
.conf_impDetails ul li{margin: 4px 0 4px 30px; }
 
.ContentDisplayArea .bg-conf-sap{ background-image:url(images/bg_conf_sap.gif);margin:20px 0 16px 0;width:100%;float:left; background-repeat:no-repeat; height:14px;}
.ContentDisplayArea .contdeal{width:100%; float:left;}
.contdeal h2{font-size:20px;height:30px;border:#010101 1px; border-bottom-style:solid;}
.contdeal .hotal{float:left; padding:2px 0 0 10px; width:300px;}
.contdeal .hotal .contHotel{float:left; padding:8px 10px; width:270px;border:#D8D8D8 1px solid; float:left;border-radius: 3px;}
.contdeal .hotal .contHotel ul{float:left; margin:0 0 4px 10px;width:190px;border:#D8D8D8 1px; border-bottom-style:solid;}
.contdeal .hotal .contHotel ul li{display:inline; width:95px; float:left;height:18px;}
.contdeal .hotal .contHotel ul li.name{color:#2D84B9; font-weight:bold;}
.contdeal .hotal .contHotel ul li.price{color:#FF820A; font-weight:bold; float:right; text-align:right;}

.contdeal .events{float:left; padding:2px 0 0 10px; width:620px;}
.contdeal .events .contEvents{float:left; padding:0px; width:610px;border:#D8D8D8 1px solid;border-radius: 3px;}
.contdeal .events .contEvents .line{float:left; margin:6px 0px;border:#D8D8D8 1px; border-right-style:solid;height:84px;}
.contdeal .events .contEvents .promobox{float: left; padding: 5px 0 5px 14px; width: 185px;}
.contdeal .events .contEvents .promobox .hd{ width:100%; margin:5px 0; font-size:12px; font-weight:bold;}
.contdeal .events .contEvents .promobox .details{float: left;font-size: 90%;margin: 0 0 0 7px;width: 111px;}
.contdeal .events .contEvents .promobox .details span{float: left;font-size: 100%;padding-bottom: 2px;width: 111px;}

.contdeal .offer{float:left; padding:2px 0 0 10px; width:300px;}
.contdeal .offer .contOffer{float:left; padding:8px 10px; width:270px;border:#D8D8D8 1px solid; float:left;border-radius: 3px;}
.contdeal .offer .contOffer ul{float:left; margin:4px 0 4px 0;width:260px;}
.contdeal .offer .contOffer ul li{display:inline;float:left;width:240px;}
.contdeal .offer .contOffer ul li.chbx{float:left; width:10px; margin:2px 10px 0 0;}

.contdeal .discount{float:left; padding:2px 0 0 10px; width:300px;}
.contdeal .discount .contDis{float:left; padding:8px 10px; width:270px;border:#D8D8D8 1px solid; float:left;border-radius: 3px;}

.contdeal .ad{float:left; padding:2px 0 0 10px; width:300px;}
.contdeal .ad .contAd{float:left; padding:8px 10px; width:270px;border:#D8D8D8 1px solid; float:left;border-radius: 3px;}

.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionHeaderConf{float:left;width:198px;color:#000;font-size:16px; padding:8px 5px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf{float:left;width:198px;background-color:#f7f7f7;padding:5px 5px 20px 5px; font-size:90%;clear:both;border:#DFDBDB 1px solid; border-radius: 4px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf .box{float:left;width:196px;margin-bottom:10px;border:#dfdbdb 1px solid; border-radius: 5px;padding:5px 0; background-color:#fff;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf .OnwardReturnDetails{float:left;width:186px; border-bottom:1px solid #dfdfdf;margin:0 5px 0 5px; padding-bottom:10px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf .OnwardReturnDetails ul li.destname{float:right;font-size:12px; color:#000; font-weight:bold;margin:5px 0 0 0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf  .OnwardReturnDetails ul.Airlines{float:left;width:30px; margin:30px 0 0 10px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf  .OnwardReturnDetails ul.Flightdetails{float:right;width:145px;text-align:right; margin:5px 0px 0 0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf .OnwardReturnDetails ul.Flightdetails li{padding:3px 0 0 0;color:#717171;}

.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf .OnwardReturnDetails.bodernone{border:none !important;}



.YourSelectionBodyConf ul.Addon li.heading{float:left;width:186px;padding:5px;color:#6b6b6b;font-size:12px;border:#dfdfdf 1px; border-bottom-style:solid;margin-bottom:4px;}
.YourSelectionBodyConf ul.Addon li{width:188px;padding:5px;float:left;}
.YourSelectionBodyConf ul .Addon li.Detailbox{float:left; width:186px;padding:0 5px;}
.YourSelectionBodyConf ul.Addon li.Detailbox ul{float:left;border:#dfdfdf 1px; border-bottom-style:solid;padding:3px 0;}
.YourSelectionBodyConf ul.Addon li.Detailbox ul li.col1{width:115px !important;}
.YourSelectionBodyConf ul.Addon  li.Detailbox ul li.col2{width:70px; float:left; padding:3px 0 3px 0;text-align:right;}
.YourSelectionBodyConf ul.Addon li.Detailbox ul.bodernone{border:none !important;}
.YourSelectionBodyConf ul.Miles li{width:188px;padding:5px;}

.ContentBody .ContentDisplayArea .optbar{float:left; margin:10px 0; width:100%;border:#010101 1px; border-bottom-style:solid;}
.ContentBody .ContentDisplayArea .optbar .reference{width:auto; float:left; font-size:18px;}
.ContentBody .ContentDisplayArea .optbar .options{width:auto; float:right; margin:0 0 10px;}
.ContentBody .ContentDisplayArea .optbar .options ul{float:left; list-style-type:none;border:#d6d6d6 1px solid;border-right-style:none;}
.ContentBody .ContentDisplayArea .optbar .options ul li{display:inline; padding:6px 9px;border:#d6d6d6 1px;border-right-style:solid;float:left;height:18px;background-image:url(images/bg_conf_opttab.gif); background-repeat:repeat-x;}
.ContentBody .ContentDisplayArea .optbar .options ul li.selected{display:inline; padding:6px 9px;border:#d6d6d6 1px;border-right-style:solid;float:left;height:18px;background-image:url(images/bg_conf_opttab_hover.gif); background-repeat:repeat-x;}
.ContentBody .ContentDisplayArea .optbar .options ul li:hover{display:inline; padding:6px 9px;border:#d6d6d6 1px;border-right-style:solid;float:left;height:18px;background-image:url(images/bg_conf_opttab_hover.gif); background-repeat:repeat-x;}
.ContentBody .ContentDisplayArea .optbar .social{width:140px; float:right;}
.ContentBody .ContentDisplayArea .optbar .social span{padding:9px 0 0 0; float:left; margin-right:5px;}

.ic_grnTick{background-position:-70px -419px; width:31px;height:31px;float:left; margin-right:5px;}
.ic_fb{background-position:-36px -467px; width:31px;height:25px;float:left;}
.ic_gplus{background-position:-96px -466px; width:31px;height:25px;float:left; margin-right:0px!important;}
.ic_print{background-position:-71px -83px; padding-left:17px;float:left;}
.ic_ticket{background-position:-71px -46px; padding-left:17px;float:left;}
.ic_save{background-position:-71px -121px; padding-left:17px;float:left;}
.ic_email{background-position:-71px -160px; padding-left:20px;float:left;}
.ic_add{background-position:-75px -193px; padding-left:15px;float:left;}
.ic_clock{background-position:-121px -375px; padding:8px 12px 7px;}

.PayTabContentBox .PromoCode{float:left; width:550px;padding:0px 0px 7px;margin-top:10px; font-size:90%;border:#d4d4d4 1px; border-top-style:dotted;}
.PayTabContentBox .Specialoff{float:left; width:550px;padding:0px 0px 7px;margin-top:20px; font-size:90%;border:#d4d4d4 1px; border-top-style:dotted;}
.PayTabContentBox .Specialoff .ic_blueSquare {background-color: #0071BE;border-radius: 2px 2px 2px 2px;color: #FFFFFF; cursor: pointer;float: left;margin-right: 5px;padding: 0 4px; width: 5px;}

.session{float:left; position:fixed; bottom:0; background-image:url(images/bg_sesson.gif); background-repeat:repeat-x; height:45px; margin:auto; width:100%;z-index:99999;}
.session .time{ margin:auto; width:900px; text-align:center; font-size:16px; height:30px; padding:7px;}
.session .time .msg{margin:1px 0 0 8px;}

/* Start Review Your Selection  */
.GlobalPopup{min-width:510px; background-color:#FFF; float:left; width:inherit}
.GlobalPopup .hdbg{background-image:url(images/GlobalPopup_hdbg.gif); background-repeat:repeat-x;height:50px; width:100%;border:#dcdcdc 1px; border-bottom-style:solid;} 
.GlobalPopup .hdbg .heading{font:bold 14px Arial, Helvetica, sans-serif; float:left; margin:16px 0 0 17px;}
.GlobalPopup .hdbg .close{float:right; margin:17px 13px 0 0; cursor:pointer;}
.GlobalPopup .container{padding: 8px 15px;float:left; min-height:225px; margin-bottom:5px;}
.GlobalPopup .container .us{ margin:auto;text-align:center; margin:20px 0;width:100%; float:left;}
.GlobalPopup .container .us p{margin:0px; padding:4px 0 0 0; clear:both;}
.GlobalPopup .container .feature{float:left;width:100%; border-bottom:#dcdcdc 1px dotted;margin-bottom:10px}
.GlobalPopup .container .feature ul{float:left;width:100%;list-style-type:none;margin:0 0 10px 0;}
.GlobalPopup .container .feature .col1{float:left; width:83%; margin-right:5px;}
.GlobalPopup .container .feature .col2{float:left; width:15%; //width:auto }
.radius{-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;}
.opacity{ background: rgb(0, 0, 0);padding:5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;background: rgba(0, 0, 0, 0.2);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}

#ptcfarebreakupsummary{border: 5px solid #b8b8b8;-moz-border-radius: 7px;border-radius: 7px;-webkit-border-radius: 7px; background-color:#fff; font-size:90%; box-shadow: 0px 2px 5px 0px #999;-moz-box-shadow: 0px 2px 5px 0px #999;-webkit-box-shadow: 0px 2px 5px 0px #999; z-index:99;}
.faresummarypopup .fare{width:300px; float:left;-moz-border-radius: 7px;border-radius: 7px;-webkit-border-radius: 7px; z-index:1001}
.faresummarypopup .fare .cont{float:left; padding:5px 10px;width:280px;color:#666;position:relative;}
.faresummarypopup .fare ul.desc{float:left; padding:2px 0px; width:280px;color:#000;}
.faresummarypopup .fare ul.desc .price{float:left; color: #F17C0E;}
.faresummarypopup .fare ul.desc .amount{float:right; color: #F17C0E;}
.faresummarypopup .fare ul.leftsec{float:left; padding:2px 0px; width:35%;color:#000;}
.faresummarypopup .fare ul li{ display: inline;float: left;line-height: 20px;}
.faresummarypopup .fare ul.leftsec li.name{ width:100%;}
.faresummarypopup .fare .rightsec{float:right; padding:2px 0px; width:65%;color:#000;}
.faresummarypopup .fare .rightsec ul.sec{float:right; width:33%;color:#000;text-align:right;}
.faresummarypopup .fare .rightsec ul.sec li.adult{ width:100%; clear:both;}
.faresummarypopup .fare .cont .hr{border:1px #dfdbdb; border-bottom-style:solid;position:absolute; top:24px;width:93%;height:1px;}
.faresummarypopup .fare ul.heading{float:left;width:280px;padding:5px 10px 5px 10px;background:url("images/bg_FlighDetailsHeading.gif") repeat-x scroll 0 0 transparent;height:16px;border:#d5d5d5 1px; border-bottom-style:solid;}


.notificationbox{background-color: #fcffac; border: 1px solid #f4ec9b; border-radius: 5px 5px 5px 5px; float: left;font-size: 12px; padding:5px; margin: 10px 0 15px 0;width:97%;}


.selection_summary{border:1px solid #d8d8d8;border-radius: 5px 5px 5px 5px;float: left;font-size: 11px;margin: 0 0 17px;width: 716px;padding:1px;}
.selection_summary .head{position:relative;margin:0; padding:20px 0 10px 10px; width:70px; float:left; color:#000; font-size:14px;}
.head .tip{background-image:url("images/payment_selection_arrow.gif"); background-repeat:no-repeat;width:12px; height:21px; top:17px; left:80px; position:absolute;}
.flightdetails{width:97%;background-color:#fff;float:left;margin:0; padding:10px;}
.flightdetails .sep{float:left; width:100%; border-bottom:1px solid #DFDFDF;margin:10px 0;}
.flightdetails .detailsarea{float:left; width:100%;font-size:13px; color:#000066; clear:both; //float:none;}

.detailsarea .flights{ float:left;width:130px;}
.detailsarea .deatination{float:left;width:195px;}
.detailsarea .duration{float:right;width:auto;text-align: right;}
#farePannel {position:absolute;float:left;}

.ic-arrow-black {background-position: -133px -193px;float: left;margin: 1px 5px;text-decoration: none;width: 20px;}

.disableinput{font-size: 100%; padding: 0px 5px; color: #6D6D6D; border:none; box-shadow:none; font-weight:bold;}
.tooltips{background-position: 0 -520px;background-image:url("images/payment.gif"); background-repeat:no-repeat; width:148px; height:37px;padding:5px 3px 0 15px;font-size:11px;position:absolute; top:27px; left:445px;}

.prel{position:relative}


.ico_promo_fail {background:transparent url("images/ico_promo_fail.gif") no-repeat scroll 0 2px;width:15px;padding:2px 6px 3px 5px;padding:4px 6px 3px 5px\0/;margin-left:5px;}

.ico-promo-accepted {background-position:-96px -264px;width:15px;height:15px;padding-right:10px;margin-left:5px;}
.ico_promo_accepted {background:transparent url("images/ico-promo-acceped.gif") no-repeat scroll 0 0;width:15px;height:15px;padding-right:10px;margin-left:5px;}

#connectingFlt{padding:5px;float:left;border-top:1px dashed #dfdbdb;border-bottom:1px dashed #dfdbdb;margin:10px 0 10px 130px;color:#75756d; font-size:11px;}

.Flightdetails .changeFlightClass{float:right;width:auto;padding:5px;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf ul.Faredetails,.ContentDisplayArea .ContentDisplayRight .YourSelectionBodyConf ul.TotalFare,.YourSelectionBodyConf ul.Addon,.YourSelectionBodyConf ul.PromoDiscount, .YourSelectionBodyConf ul.ConvenienceCharge{float:left;width:200px;margin:0;padding:0;}
.ContentDisplayArea .ContentDisplayRight .ShoppingCart .YourSelectionBodyConf ul.Faredetails li.col1,.ContentDisplayArea .ContentDisplayRight .YourSelectionBodyConf ul.TotalFare li.col1,.YourSelectionBodyConf ul.Addon li.col1,.YourSelectionBodyConf ul.PromoDiscount li.col1,.YourSelectionBodyConf ul.ConvenienceCharge li.col1{float:left; width:100px;padding:3px 0 3px 0;}

.YourSelectionBodyConf .TotalFare{float:left; width:186px; padding: 0 5px; margin-bottom:10px;}
.YourSelectionBodyConf .TotalFare ul li.col1{width:85px; float:left;}
.YourSelectionBodyConf .TotalFare ul li.col2{width:100px; float:left; padding:0;text-align:right;}

.YourSelectionBodyConf ul.Faredetails li.heading{float:left;width:186px;padding:5px;font-size:12px;border:#dfdfdf 1px; border-bottom-style:solid;margin-bottom:4px;}
.YourSelectionBodyConf ul.Faredetails li{width:188px;padding:5px;}
.YourSelectionBodyConf ul .Faredetails li.Detailbox{float:left; width:186px;padding:0 5px;}
.YourSelectionBodyConf ul.Faredetails li.Detailbox ul{float:left;border:#dfdfdf 1px; border-bottom-style:solid;padding:3px 0;width:100%;}
.YourSelectionBodyConf ul.Faredetails li.Detailbox ul li.col1{width:105px !important;}
.YourSelectionBodyConf ul.Faredetails  li.Detailbox ul li.col2{width:80px; float:left; padding:3px 0 3px 0;text-align:right;}
.YourSelectionBodyConf ul.Faredetails  li.Detailbox ul li.col3{width:180px; float:left; padding:3px 0 3px 0;text-align:left;}
.YourSelectionBodyConf ul.Faredetails li.Detailbox ul.bodernone{border:none !important;}
.mbie18{//margin-bottom:18px}
