.booking-details {
    background: none repeat scroll 0 0 #;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: right;
    margin: 0 0 0 5px;
    position: relative;
    vertical-align: top;
    width: 220px;
}

.booking-details table .mid {
    font-size: 11px;
    text-align: right !important;
}

.booking-details table .left {
    font-size: 11px;
    padding-left: 8px;
}

.booking-details table td {
    font-size: 12px;
    line-height: 1.3;
    padding: 3px 5px 3px 2px;
}


a:link, a:visited {
    text-decoration: none;
}
a:link, a:visited {
    color: #034E42;
}
:link, *:visited {
    text-decoration: none;
}

.booking-details .right.date {
    cursor: help;
}
.booking-details .right {
    font-size: 11px;
    min-width: 80px;
    text-align: right !important;
}

.booking-details .right {
    font-size: 11px;
    min-width: 80px;
    text-align: right !important;
}


.property-info .thumbnail img.property-image {
    margin-bottom: 5px;
}
.property-info .thumbnail img.property-image, .property .thumbnail img.property-image, .propertypromo .thumbnail img.property-image {
    display: block;
    height: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 60px;
    top: 0px;
    left: 0px;
}
img.property-image, #property-list .thumb {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 60px;
}
a img, *:link img, *:visited img {
    border: medium none;
}