﻿


<div id="hotel" style="display:block">

    <input type="hidden" id="CntryCodeCityCode" name="CntryCodeCityCode" value="" />
    <input type="hidden" id="hdnCityCode" name="hdnCityCode" value="" />
    <input type="hidden" id="hdnCntryCode" name="hdnCntryCode" value="" />
    <input type="hidden" id="hdnCityName" name="hdnCityName" value="" />
    <input type="hidden" id="hdnCntryName" name="hdnCntryName" value="" />
    <input type="hidden" id="parentroom" name="parentroom" value="1" />
    <div class="container-bx">
        
        <!--dashboard-->
        <div class="srch-mai-ar flt_lt">

            <div class="srch-box flt_lt radius" style="background-color:#275d71">

                <div class="ht-destinaton radius flt_lt ht-srch">
                    <label>Destination</label>
                    <input type="text" dir="auto" name="HDestTo" id="HDestTo" class="form-control" placeholder="Enter City name, Area name or Hotel name" />
                    <!--<input type="text" class="date radius flt_lt ht-srch" placeholder="Check-in" id="txtHotelCheckInDate" />-->
                </div>

                <div class="date radius flt_lt ht-srch">
                    <label>Check-in</label>
                    <input type="text" class="form-control" placeholder="Check-in" name="txt_ChekinDate" id="txt_ChekinDate" />
                </div>
                <div class="date radius flt_lt ht-srch">
                    <label>Check-out</label>
                    <input type="text" class="form-control" placeholder="Check-out" name="txt_ChekOut" id="txt_ChekOut" />
                </div>

                <div class="nofn  flt_lt radius ht-sel">
                    <label>No of Nights</label>
                    <select name="cboNight" size="1" class="form-control" id="cboNight">

                        <option value="ALL" selected>No of Nights</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="tot-trav">
                    <label>Rooms</label>
                    <div class="totTrav flt_lt radius">
                        <div id="totl-guest">
                            <i class="fa fa-user flt_lt"></i><span>
                            
                            <!--<lablel name="roomsNo" id="roomsNo" value="1"></lablel>--> Rooms</span>
                            <i class="fa fa-angle-down flt_rht"></i>
                        </div>

                        <div class="tot-trav-bx brdr radius" id="parentroom" style="display:none">

                            <div class="pop-tot-trav">
                                <div class="rom-bx-num flt_lt" id="roomDiv-1">
                                    <span class="rom-num flt_lt">Room 1</span>
                                    <span class="rom-num-detl flt_lt">1 Adult / 0 Child</span>
                                    <!-- <i class="fa fa-close flt_rht edt-rom rom1edt"></i>-->
                                    <i class="fa fa-pencil flt_rht clos-rom  rom1edt"></i>

                                    <div class="rom-detl-sel flt_lt" id="rom1-detl">
                                        <div class="rom-num-in flt_lt">Room 1 <i class="fa fa-close flt_rht edt-rom2 rom2clos"></i></div>
                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Adult</span><small class="flt_lt"> (12+ yrs)</small></label>
                                            <select class="flt_lt ht-sel" name="drpAdults1" id="drpAdults1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> (0-12 yrs)</small></label>
                                            <select class="flt_lt chld-age-mai ht-sel" name="child1" id="child1">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld-age 1age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel"  id="drpChdAge11" name="drpChdAge11">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld-age 2age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge12" name="drpChdAge12">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="rom-bx-num flt_lt" id="roomDiv-2" style="display:none">
                                    <span class="rom-num flt_lt">Room 2</span>
                                    <span class="rom-num-detl flt_lt">1 Adult / 0 Child</span>
                                    <i class="fa fa-close flt_rht edt-rom rom1clos2-mai"></i>
                                    <i class="fa fa-pencil flt_rht clos-rom rom1edt2"></i>

                                    <div class="rom-detl-sel flt_lt" style="display: none" id="rom2-detl">
                                        <div class="rom-num-in flt_lt">Room 2 <i class="fa fa-close flt_rht edt-rom2 rom1clos2"></i></div>
                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Adult</span><small class="flt_lt"> (12+ yrs)</small></label>
                                            <select class="flt_lt ht-sel" name="drpAdults2" id="drpAdults2">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> (0-12 yrs)</small></label>
                                            <select class="flt_lt chld-age-mai ht-sel" name="child2" id="child2">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld2-age 3age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge21" name="drpChdAge21">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld2-age 4age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" name="drpChdAge22" id="drpChdAge22">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="rom-bx-num flt_lt" id="roomDiv-3" style="display:none">
                                    <span class="rom-num flt_lt">Room 3</span>
                                    <span class="rom-num-detl flt_lt">1 Adult / 0 Child</span>
                                    <i class="fa fa-close flt_rht edt-rom rom1clos3-mai"></i>
                                    <i class="fa fa-pencil flt_rht clos-rom rom1edt3"></i>

                                    <div class="rom-detl-sel flt_lt" style="display: none" id="rom3-detl">
                                        <div class="rom-num-in flt_lt">Room 3 <i class="fa fa-close flt_rht edt-rom2 rom1clos3"></i></div>
                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Adult</span><small class="flt_lt"> (12+ yrs)</small></label>
                                            <select class="flt_lt ht-sel" name="drpAdults3" id="drpAdults3">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> (0-12 yrs)</small></label>
                                            <select class="flt_lt chld-age-mai ht-sel" name="child3" id="child3">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld3-age 5age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge31" name="drpChdAge31">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld3-age 6age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge32" name="drpChdAge32">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                                <div class="rom-bx-num flt_lt" id="roomDiv-4" style="display:none">
                                    <span class="rom-num flt_lt">Room 4</span>
                                    <span class="rom-num-detl flt_lt">1 Adult / 0 Child</span>
                                    <i class="fa fa-close flt_rht edt-rom rom1clos4-mai"></i>
                                    <i class="fa fa-pencil flt_rht clos-rom rom1edt4"></i>

                                    <div class="rom-detl-sel flt_lt" style="display: none" id="rom4-detl">
                                        <div class="rom-num-in flt_lt">Room 4 <i class="fa fa-close flt_rht edt-rom2 rom1clos4"></i></div>
                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Adult</span><small class="flt_lt"> (12+ yrs)</small></label>
                                            <select class="flt_lt ht-sel" name="drpAdults4" id="drpAdults4">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> (0-12 yrs)</small></label>
                                            <select class="flt_lt chld-age-mai ht-sel" name="child4" id="child4">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld4-age 7age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge41" name="drpChdAge41">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                        <div class="rom-detl-sel-bx flt_lt chld4-age 8age">
                                            <label class="flt_lt"><span class="flt_lt">Children</span><small class="flt_lt"> Select age</small></label>
                                            <select class="flt_lt ht-sel" id="drpChdAge42" name="drpChdAge42">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="tot-trav-bx-bot flt_lt">
                                    <a class="add-room flt_lt brdr radius" id="addMoreroom" onclick="javascript: GetRoom('roomDiv')">Add Room</a>
                                    <span class="flt_rht donr-but radius ht-srch-but mar0" id="trav-done">Done</span>
                                </div>

                            </div>
                        </div>


                    </div>
                </div><!-- /.tot-trav -->


                <div class="col-md-8" style="width:;">






                    <div data-date-format="M d, D" id="myContent" style="display: none;">
                        <div class="row">


                            <select class="col-md-4 ht-sel radius">
                                <option value="0" selected="selected">Star</option>
                                <option value="1">5 Star</option>
                                <option value="2">4 Star</option>
                                <option value="3">3 Star</option>
                                <option value="4">2 Star</option>
                                <option value="5">1 Star</option>
                            </select>


                            <select name="cboCurrency" size="1" class="col-md-4 ht-sel radius">
                                <option value="Currency" selected="selected">Currency</option>
                                <option value="INR">INR</option>
                                <option value="GBP">GBP</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="AUD">AUD</option>
                            </select>

                            <select class="col-md-4 ht-sel radius">
                                <option value="Country" selected="selected" style="width:100%;">Country</option>
                                <option value="26" style="width:100%;">AFGHANISTAN</option>
                                <option value="285" style="width:100%;">ALAND ISLANDS</option>
                                <option value="90" style="width:100%;">ALBANIA</option>
                                <option value="187" style="width:100%;">ALGERIA</option>
                                <option value="34" style="width:100%;">AMERICAN SAMOA</option>
                                <option value="55" style="width:100%;">ANDORRA</option>
                                <option value="200" style="width:100%;">ANGOLA</option>
                                <option value="151" style="width:100%;">ANGUILLA</option>
                                <option value="295" style="width:100%;">ANTARCTICA</option>
                                <option value="106" style="width:100%;">ANTIGUA</option>
                                <option value="137" style="width:100%;">Antigua and Barbuda</option>
                                <option value="107" style="width:100%;">ARGENTINA</option>
                                <option value="153" style="width:100%;">ARMENIA</option>
                                <option value="138" style="width:100%;">ARUBA</option>
                                <option value="28" style="width:100%;">AUSTRALIA</option>
                                <option value="56" style="width:100%;">AUSTRIA</option>
                                <option value="154" style="width:100%;">AZERBAIJAN</option>
                                <option value="108" style="width:100%;">BAHAMAS</option>
                                <option value="1" style="width:100%;">BAHRAIN</option>
                                <option value="19" style="width:100%;">BANGLADESH</option>
                                <option value="139" style="width:100%;">BARBADOS</option>
                                <option value="57" style="width:100%;">BELARUS</option>
                                <option value="58" style="width:100%;">BELGIUM</option>
                                <option value="136" style="width:100%;">BELIZE</option>
                                <option value="201" style="width:100%;">BENIN</option>
                                <option value="103" style="width:100%;">BERMUDA</option>
                                <option value="27" style="width:100%;">BHUTAN</option>
                                <option value="124" style="width:100%;">BOLIVIA</option>

                                <option value="59" style="width:100%;">BOSNIA</option>
                                <option value="202" style="width:100%;">BOTSWANA</option>
                                <option value="315" style="width:100%;">BOUVET ISLAND</option>
                                <option value="109" style="width:100%;">BRAZIL</option>

                                <option value="166" style="width:100%;">BRUNEI</option>
                                <option value="60" style="width:100%;">BULGARIA</option>
                                <option value="203" style="width:100%;">BURKINA FASO</option>
                                <option value="204" style="width:100%;">BURUNDI</option>
                                <option value="167" style="width:100%;">CAMBODIA</option>
                                <option value="206" style="width:100%;">CAMEROON</option>
                                <option value="100" style="width:100%;">CANADA</option>
                                <option value="205" style="width:100%;">CAPE VERDE</option>
                                <option value="101" style="width:100%;">CARIBBEAN</option>
                                <option value="149" style="width:100%;">CAYMAN ISLANDS</option>

                                <option value="208" style="width:100%;">CHAD</option>
                                <option value="110" style="width:100%;">CHILE</option>
                                <option value="168" style="width:100%;">CHINA</option>

                                <option value="211" style="width:100%;">COMOROS</option>
                                <option value="210" style="width:100%;">CONGO.REPUBLIC OF</option>
                                <option value="35" style="width:100%;">COOK ISLANDS</option>
                                <option value="125" style="width:100%;">COSTA RICA</option>

                                <option value="61" style="width:100%;">CROATIA</option>
                                <option value="112" style="width:100%;">CUBA</option>
                                <option value="325" style="width:100%;">CURACAO</option>
                                <option value="62" style="width:100%;">CYPRUS</option>

                                <option value="64" style="width:100%;">DENMARK</option>
                                <option value="213" style="width:100%;">DJIBOUTI</option>
                                <option value="142" style="width:100%;">DOMINICA</option>
                                <option value="143" style="width:100%;">Dominican Republic</option>
                                <option value="242" style="width:100%;">DUBAI AIRPORT</option>
                                <option value="114" style="width:100%;">ECUADOR</option>
                                <option value="7" style="width:100%;">EGYPT</option>
                                <option value="126" style="width:100%;">EL SALVADOR</option>
                                <option value="215" style="width:100%;">EQUATORIAL GUINEA</option>
                                <option value="214" style="width:100%;">ERITREA</option>
                                <option value="155" style="width:100%;">ESTONIA</option>
                                <option value="198" style="width:100%;">ETHIOPIA</option>

                                <option value="96" style="width:100%;">FAROE ISLANDS</option>
                                <option value="29" style="width:100%;">FIJI</option>
                                <option value="65" style="width:100%;">FINLAND</option>
                                <option value="66" style="width:100%;">FRANCE</option>
                                <option value="134" style="width:100%;">FRENCH GUIANA</option>
                                <option value="30" style="width:100%;">FRENCH POLYNESIA</option>

                                <option value="216" style="width:100%;">GABON</option>
                                <option value="217" style="width:100%;">GAMBIA</option>
                                <option value="156" style="width:100%;">GEORGIA</option>
                                <option value="67" style="width:100%;">GERMANY</option>
                                <option value="218" style="width:100%;">GHANA</option>
                                <option value="68" style="width:100%;">GIBRALTAR</option>
                                <option value="69" style="width:100%;">GREECE</option>
                                <option value="105" style="width:100%;">GREENLAND</option>
                                <option value="141" style="width:100%;">GRENADA /CARRICOU</option>
                                <option value="135" style="width:100%;">GUADELOUPE</option>
                                <option value="46" style="width:100%;">GUAM</option>
                                <option value="127" style="width:100%;">GUATEMALA</option>
                                <option value="335" style="width:100%;">GUERNSEY</option>
                                <option value="219" style="width:100%;">GUINEA</option>
                                <option value="220" style="width:100%;">GUINEA-BISSAU</option>
                                <option value="145" style="width:100%;">GUYANA</option>
                                <option value="130" style="width:100%;">HAITI</option>
                                <option value="33" style="width:150px;">HAWAII</option>

                                <option value="115" style="width:100%;">HONDURAS</option>
                                <option value="169" style="width:100%;">HONG KONG</option>
                                <option value="70" style="width:100%;">HUNGARY</option>
                                <option value="89" style="width:100%;">ICELAND</option>
                                <option value="20" selected="selected" style="width:100%;">INDIA</option>
                                <option value="170" style="width:100%;">INDONESIA</option>
                                <option value="8" style="width:100%;">IRAN</option>
                                <option value="16" style="width:100%;">IRAQ</option>
                                <option value="355" style="width:100%;">ISLE OF MAN</option>
                                <option value="17" style="width:100%;">ISRAEL</option>
                                <option value="72" style="width:100%;">ITALY</option>
                                <option value="116" style="width:100%;">JAMAICA</option>
                                <option value="171" style="width:100%;">JAPAN</option>
                                <option value="365" style="width:100%;">JERSEY</option>
                                <option value="9" style="width:100%;">JORDAN</option>
                                <option value="157" style="width:100%;">KAZAKHSTAN</option>
                                <option value="188" style="width:100%;">KENYA</option>
                                <option value="36" style="width:100%;">KIRIBATI</option>
                                <option value="2" style="width:100%;">KUWAIT</option>
                                <option value="158" style="width:100%;">KYRGYZSTAN</option>
                                <option value="172" style="width:100%;">LAOS</option>
                                <option value="73" style="width:100%;">LATVIA</option>
                                <option value="10" style="width:100%;">LEBANON</option>
                                <option value="189" style="width:100%;">LESOTHO</option>
                                <option value="221" style="width:100%;">LIBERIA</option>
                                <option value="190" style="width:100%;">LIBYA</option>
                                <option value="92" style="width:100%;">LIECHTENSTEIN</option>
                                <option value="74" style="width:100%;">LITHUANIA</option>
                                <option value="75" style="width:100%;">LUXEMBOURG</option>
                                <option value="185" style="width:100%;">MACAU</option>
                                <option value="91" style="width:100%;">MACEDONIA</option>
                                <option value="199" style="width:100%;">MADAGASCAR</option>
                                <option value="222" style="width:100%;">MALAWI</option>
                                <option value="173" style="width:100%;">MALAYSIA</option>
                                <option value="21" style="width:100%;">MALDIVES</option>
                                <option value="223" style="width:100%;">MALI</option>
                                <option value="76" style="width:100%;">MALTA</option>
                                <option value="37" style="width:100%;">MARSHALL ISLANDS</option>
                                <option value="131" style="width:100%;">MARTINIQUE</option>
                                <option value="224" style="width:100%;">MAURITANIA</option>
                                <option value="191" style="width:100%;">MAURITIUS</option>
                                <option value="225" style="width:100%;">MAYOTTE</option>
                                <option value="117" style="width:100%;">MEXICO</option>
                                <option value="38" style="width:100%;">MICRONESIA</option>
                                <option value="159" style="width:100%;">MOLDOVA</option>
                                <option value="97" style="width:100%;">MONACO</option>
                                <option value="184" style="width:100%;">MONGOLIA</option>
                                <option value="99" style="width:100%;">MONTENEGRO</option>
                                <option value="152" style="width:100%;">MONTSERRAT</option>
                                <option value="11" style="width:100%;">MOROCCO</option>
                                <option value="226" style="width:100%;">MOZAMBIQUE</option>
                                <option value="22" style="width:100%;">MYANMAR-BURMA</option>
                                <option value="227" style="width:100%;">NAMIBIA</option>
                                <option value="39" style="width:100%;">NAURU</option>
                                <option value="23" style="width:100%;">NEPAL</option>
                                <option value="77" style="width:100%;">NETHERLANDS</option>
                                <option value="255" style="width:100%;">Netherlands Antilles</option>
                                <option value="40" style="width:100%;">NEW CALEDONIA</option>
                                <option value="31" style="width:100%;">NEW ZEALAND</option>
                                <option value="128" style="width:100%;">NICARAGUA</option>
                                <option value="228" style="width:100%;">NIGER</option>
                                <option value="192" style="width:100%;">NIGERIA</option>
                                <option value="41" style="width:100%;">NIUE</option>
                                <option value="42" style="width:100%;">NORFOLK ISLAND</option>
                                <option value="183" style="width:100%;">NORTH KOREA</option>

                                <option value="78" style="width:100%;">NORWAY</option>
                                <option value="5" style="width:100%;">OMAN</option>
                                <option value="24" style="width:100%;">PAKISTAN</option>
                                <option value="18" style="width:100%;">Palestinian Territory</option>
                                <option value="129" style="width:100%;">PANAMA</option>
                                <option value="44" style="width:100%;">PAPUA NEW GUINEA</option>
                                <option value="118" style="width:100%;">PARAGUAY</option>
                                <option value="119" style="width:100%;">PERU</option>
                                <option value="174" style="width:100%;">PHILIPPINES</option>
                                <option value="45" style="width:100%;">PITCAIRN ISLAND</option>
                                <option value="79" style="width:100%;">POLAND</option>
                                <option value="80" style="width:100%;">PORTUGAL</option>
                                <option value="133" style="width:100%;">PUERTO RICO</option>
                                <option value="3" style="width:100%;">QATAR</option>
                                <option value="71" style="width:100%;">REPUBLIC OF IRELAND</option>
                                <option value="180" style="width:100%;">REPUBLIC OF PALAU</option>
                                <option value="238" style="width:100%;">REUNION</option>
                                <option value="81" style="width:100%;">ROMANIA</option>
                                <option value="160" style="width:100%;">RUSSIA</option>
                                <option value="229" style="width:100%;">RWANDA</option>
                                <option value="375" style="width:100%;">SAINT BARTHELEMY</option>
                                <option value="239" style="width:100%;">SAINT HELENA</option>


                                <option value="54" style="width:100%;">SAMOA</option>
                                <option value="95" style="width:100%;">SAN MARINO</option>

                                <option value="4" style="width:100%;">SAUDI ARABIA</option>
                                <option value="231" style="width:100%;">SENEGAL</option>
                                <option value="98" style="width:100%;">SERBIA</option>
                                <option value="193" style="width:100%;">SEYCHELLES</option>
                                <option value="232" style="width:100%;">SIERRA LEONE</option>
                                <option value="175" style="width:100%;">SINGAPORE</option>

                                <option value="82" style="width:100%;">SLOVAKIA</option>
                                <option value="83" style="width:100%;">SLOVENIA</option>
                                <option value="32" style="width:100%;">SOLOMON ISLANDS</option>
                                <option value="233" style="width:100%;">SOMALIA</option>
                                <option value="194" style="width:100%;">SOUTH AFRICA</option>

                                <option value="176" style="width:100%;">SOUTH KOREA</option>
                                <option value="415" style="width:100%;">SOUTH SUDAN</option>
                                <option value="84" style="width:100%;">SPAIN</option>
                                <option value="25" style="width:100%;">SRI LANKA</option>
                                <option value="120" style="width:100%;">ST LUCIA</option>
                                <option value="12" style="width:100%;">SUDAN</option>
                                <option value="146" style="width:100%;">SURINAME</option>

                                <option value="234" style="width:100%;">SWAZILAND</option>
                                <option value="85" style="width:100%;">SWEDEN</option>
                                <option value="86" style="width:100%;">SWITZERLAND</option>
                                <option value="13" style="width:100%;">SYRIA</option>
                                <option value="177" style="width:100%;">TAIWAN</option>
                                <option value="161" style="width:100%;">TAJIKISTAN</option>
                                <option value="195" style="width:100%;">TANZANIA</option>
                                <option value="252" style="width:100%;">TASMANIA</option>
                                <option value="178" style="width:100%;">THAILAND</option>
                                <option value="186" style="width:100%;">TIMOR LESTE</option>
                                <option value="235" style="width:100%;">TOGO</option>
                                <option value="47" style="width:100%;">TOKELAU ISLANDS</option>
                                <option value="48" style="width:100%;">TONGA</option>

                                <option value="14" style="width:100%;">TUNISIA</option>
                                <option value="87" style="width:100%;">TURKEY</option>
                                <option value="162" style="width:100%;">TURKMENISTAN</option>
                                <option value="121" style="width:100%;">TURKS / CAICOS</option>
                                <option value="49" style="width:100%;">TUVALU</option>
                                <option value="102" style="width:100%;">U S A</option>

                                <option value="236" style="width:100%;">UGANDA</option>
                                <option value="163" style="width:100%;">UKRAINE</option>
                                <option value="6" style="width:100%;">United Area Emirates</option>
                                <option value="88" style="width:100%;">UNITED KINGDOM</option>

                                <option value="122" style="width:100%;">URUGUAY</option>
                                <option value="164" style="width:100%;">UZBEKISTAN</option>
                                <option value="50" style="width:100%;">VANUATU</option>

                                <option value="123" style="width:100%;">VENEZUELA</option>
                                <option value="179" style="width:100%;">VIETNAM</option>

                                <option value="265" style="width:100%;">WEST BANK</option>
                                <option value="237" style="width:100%;">WESTERN SAHARA</option>
                                <option value="15" style="width:100%;">YEMEN</option>
                                <option value="196" style="width:100%;">ZAMBIA</option>
                                <option value="197" style="width:100%;">ZIMBABWE</option>
                            </select>


                        </div>
                    </div>
                    <!--advance search end-->
                </div>
                <div class="">
                    <button class="flt_rht radius ht-srch-but" name="Save" style="background-color:#0075bf;">Search</button>


                </div>
                <input type="hidden" value="1" id="hdnroomVcount" name="hdnroomVcount" />

            </div>

        </div>

    </div>
    </div>